workflows/ClickUp Task Status Updated.json
{
  "active": true,
  "connections": {
    "Filter": {
      "main": [
        [
          {
            "node": "IfDone/Closed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetTask": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger-StatusUpdate": {
      "main": [
        [
          {
            "node": "GetTask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfActive": {
      "main": [
        [
          {
            "node": "PutActiveTag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfWaiting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfBacklog": {
      "main": [
        [
          {
            "node": "PutBacklogTag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfActive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfDone/Closed": {
      "main": [
        [
          {
            "node": "PutClosedTag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfBacklog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfWaiting": {
      "main": [
        [
          {
            "node": "PutWaitingTag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-05-30T22:08:00.145Z",
  "id": "12",
  "name": "ClickUp Task Status Updated",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"GetTask\"].json.custom_fields[30].value }} ",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "0b7de212-c0de-473a-9164-a1486e368445",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1920,
        580
      ],
      "notesInFlow": true,
      "notes": "FreeScoutID Check"
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $node[\"Trigger-StatusUpdate\"].json.task_id }}"
      },
      "id": "55660045-2893-4c6c-9988-d0e56044eee9",
      "name": "GetTask",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1740,
        580
      ],
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "team": "14335650",
        "events": [
          "taskStatusUpdated"
        ],
        "filters": {
          "listId": "164286867"
        }
      },
      "id": "8fcb8aab-b00e-4b46-84f8-8eff13364842",
      "name": "Trigger-StatusUpdate",
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        1580,
        580
      ],
      "webhookId": "8e97aab0-5d6b-402a-a622-89d8bb402405",
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node.GetTask.json.status.status }}",
              "value2": "active"
            }
          ]
        }
      },
      "id": "059fbf62-cbe1-4609-824c-341e8f1c1afc",
      "name": "IfActive",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2600,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node.GetTask.json.status.status }}",
              "value2": "backlog"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "2c715450-042f-41f4-a7ca-6cd59b11a629",
      "name": "IfBacklog",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2380,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node.GetTask.json.status.status }}",
              "value2": "Done"
            },
            {
              "value1": "={{ $node.GetTask.json.status.status }}",
              "value2": "closed"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "e5a5c05c-5998-45a3-962b-eed972582af7",
      "name": "IfDone/Closed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2140,
        580
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://freescout.hp-ne.us/api/conversations/{{ $node[\"GetTask\"].json.custom_fields[31].value }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"tags\":[\"backlog\"]}",
        "options": {}
      },
      "id": "3451f2d8-b511-42ee-8516-ba200128ad46",
      "name": "PutBacklogTag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2600,
        580
      ],
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "9",
          "name": "X-FreeScout-API-Key"
        }
      },
      "notes": "Add \"backlog\" tag. FreeScout should then change the ticket's status to \"pending\""
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://freescout.hp-ne.us/api/conversations/{{ $node[\"GetTask\"].json.custom_fields[31].value }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"tags\":[\"active\"]}",
        "options": {}
      },
      "id": "495ea4f2-c0f1-4d20-b0cd-7d6ede175084",
      "name": "PutActiveTag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2820,
        660
      ],
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "9",
          "name": "X-FreeScout-API-Key"
        }
      },
      "notes": "Change Status: Active"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://freescout.hp-ne.us/api/conversations/{{ $node[\"GetTask\"].json.custom_fields[31].value }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"tags\":[\"closed\"]}",
        "options": {}
      },
      "id": "ec7e5f04-f128-4ff1-bf2d-0ce4c30ccbe4",
      "name": "PutClosedTag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2380,
        460
      ],
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "9",
          "name": "X-FreeScout-API-Key"
        }
      },
      "notes": "Change Status: Closed"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node.GetTask.json.status.status }}",
              "value2": "waiting"
            }
          ]
        }
      },
      "id": "e602c9f0-45c9-4455-a804-f1099669d0d4",
      "name": "IfWaiting",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2820,
        860
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://freescout.hp-ne.us/api/conversations/{{ $node[\"GetTask\"].json.custom_fields[31].value }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"tags\":[\"waiting\"]}",
        "options": {}
      },
      "id": "bf7a79ef-3c0e-4193-9d99-294a6ad7db0b",
      "name": "PutWaitingTag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3040,
        760
      ],
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "9",
          "name": "X-FreeScout-API-Key"
        }
      },
      "notes": "Change Status: Closed"
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Trigger-StatusUpdate": {
      "webhookId": "1eb37450-36f1-4c30-a924-faa265c53ae9",
      "secret": "ASS4M6EYKCLZM561WYYZD8XMYD16Q7ZWQDS0WIYTB1RILGLWXCPJ6E8AIY9W43G1"
    }
  },
  "tags": [
    {
      "createdAt": "2023-04-23T13:06:32.653Z",
      "updatedAt": "2023-04-23T13:06:32.653Z",
      "id": "1",
      "name": "ClickUp"
    },
    {
      "createdAt": "2023-06-09T19:52:42.669Z",
      "updatedAt": "2023-06-09T19:52:42.669Z",
      "id": "4",
      "name": "FreeScout"
    },
    {
      "createdAt": "2023-06-09T19:53:13.180Z",
      "updatedAt": "2023-06-09T19:53:13.180Z",
      "id": "6",
      "name": "Enabled"
    },
    {
      "createdAt": "2023-06-09T19:54:26.868Z",
      "updatedAt": "2023-06-09T19:54:36.928Z",
      "id": "7",
      "name": "Trigger:Change/Update"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-06-12T15:25:21.000Z",
  "versionId": "163df54a-c53a-4578-a968-d4b583538d88"
}