workflows/ClickUp | "Pending" & "Done" tasks.json
{
  "active": true,
  "connections": {
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "ClickUp2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "ClickUp2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-08-02T21:42:02.390Z",
  "id": "X8Ixy9wRrIlGreQP",
  "meta": null,
  "name": "ClickUp | \"Pending\" & \"Done\" tasks",
  "nodes": [
    {
      "parameters": {
        "team": "14335650",
        "events": [
          "taskStatusUpdated"
        ],
        "filters": {
          "listId": "164286867"
        }
      },
      "id": "7a1280c8-d2cc-45c3-84c8-56ba46813521",
      "name": "ClickUp Trigger",
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        640,
        800
      ],
      "webhookId": "b0ff03d0-b07d-4d4f-97e7-661bed5e8572",
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.history_items[0].after.status }}",
              "value2": "done"
            },
            {
              "value1": "={{ $json.history_items[0].after.status }}",
              "value2": "pending"
            }
          ]
        },
        "combineConditions": "OR"
      },
      "id": "18d76fbc-157d-4205-a152-e4373d20d7ad",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        860,
        800
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "id": "96de28f7-375a-44ca-989c-975a26d4d092",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1860,
        320
      ],
      "webhookId": "d906470b-4048-429b-94e7-3562ec62428e"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $now.weekday }}",
              "operation": "smallerEqual",
              "value2": 2
            }
          ]
        }
      },
      "id": "ef93de09-9a5f-4b5e-b241-3c89de7a48ab",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1480,
        460
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "days"
      },
      "id": "764d24dd-047e-4956-89ae-a288268a39d5",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1860,
        460
      ],
      "webhookId": "0b2843d8-1e2d-4bfa-85cb-9ab7b7180749"
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.task_id }}",
        "updateFields": {
          "status": "closed"
        }
      },
      "id": "a9efeed4-2b81-41af-874e-99c79f706831",
      "name": "ClickUp",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2140,
        380
      ],
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Close Task",
        "height": 80,
        "width": 150
      },
      "id": "3ab65415-b50b-4a21-9a10-fe45f70b5751",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2100,
        280
      ]
    },
    {
      "parameters": {
        "content": "## Wait 3 days",
        "height": 80,
        "width": 169.5
      },
      "id": "3ee5f8d5-c13b-4ca4-8461-6db040f74fd0",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1840,
        220
      ]
    },
    {
      "parameters": {
        "content": "\n## Wait 5 days",
        "height": 80,
        "width": 177.5
      },
      "id": "de2f1c29-021b-4679-bfba-d973054fae6b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1820,
        600
      ]
    },
    {
      "parameters": {
        "content": "## Does wait period exclude a weekend?",
        "height": 89,
        "width": 260.25
      },
      "id": "fb5cd95f-73b2-48ca-9a12-ac8837c73570",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1400,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.history_items[0].after.status }}",
              "value2": "done"
            }
          ]
        }
      },
      "id": "8b9c66d1-49fc-44a6-8155-e2f67323945c",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1160,
        800
      ]
    },
    {
      "parameters": {
        "content": "## Is status \"Done\"?",
        "height": 90,
        "width": 150
      },
      "id": "c6fb6acf-4180-438e-abb4-8e32cd81ab23",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1140,
        700
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "id": "67d06ae0-dc03-48eb-86df-9369ef84baf8",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1880,
        1000
      ],
      "webhookId": "d906470b-4048-429b-94e7-3562ec62428e"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $now.weekday }}",
              "operation": "smallerEqual",
              "value2": 2
            }
          ]
        }
      },
      "id": "d4064d8d-ef75-4fae-9adf-432c9dc17c02",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        1140
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "days"
      },
      "id": "f2e2dfbf-9940-4737-b148-1eac5ff82c42",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1880,
        1140
      ],
      "webhookId": "0b2843d8-1e2d-4bfa-85cb-9ab7b7180749"
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.task_id }}",
        "updateFields": {
          "status": "done"
        }
      },
      "id": "c3b9d525-efb2-4cb0-96c9-5b5a2b302db8",
      "name": "ClickUp2",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2160,
        1100
      ],
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Status = \"Done\"",
        "height": 91.25,
        "width": 150
      },
      "id": "c6058538-a544-4f98-9f9b-eb1dc3bef2f1",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2120,
        980
      ]
    },
    {
      "parameters": {
        "content": "## Wait 3 days",
        "height": 80,
        "width": 160.75
      },
      "id": "73fd7fd9-7aef-47e3-b83a-71c90b8599f0",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1860,
        900
      ]
    },
    {
      "parameters": {
        "content": "## Wait 5 days",
        "height": 80,
        "width": 161
      },
      "id": "1906c524-6181-4327-a21d-788ed1c8bbae",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1860,
        1280
      ]
    },
    {
      "parameters": {
        "content": "## Does wait period exclude a weekend?",
        "height": 89,
        "width": 259
      },
      "id": "aab98b64-3115-45db-ac7d-85763083e596",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        1040
      ]
    },
    {
      "parameters": {
        "content": "## Does status = \"Done\" or \"Pending\"?",
        "height": 83.75,
        "width": 270
      },
      "id": "a919da2d-a50b-4b68-8180-7ab6bf507d41",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        700
      ]
    },
    {
      "parameters": {
        "content": "# Done -> Closed",
        "height": 80,
        "width": 294.6875
      },
      "id": "0f139652-1b4c-4903-88f8-3db933a73d1a",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1780,
        100
      ]
    },
    {
      "parameters": {
        "content": "# Pending -> Done",
        "height": 80,
        "width": 315
      },
      "id": "512f0f25-46b8-4a49-8ad8-db09e1615e11",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1760,
        780
      ]
    }
  ],
  "pinData": {
    "ClickUp Trigger": [
      {
        "json": {
          "event": "taskStatusUpdated",
          "history_items": [
            {
              "id": "3610732372335125384",
              "type": 1,
              "date": "1691012560044",
              "field": "status",
              "parent_id": "164286867",
              "data": {
                "status_type": "done"
              },
              "source": null,
              "user": {
                "id": 32274652,
                "username": "Joshua Wowk",
                "email": "joshua.wowk@hp-ne.com",
                "color": "#7b68ee",
                "initials": "JW",
                "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
              },
              "before": {
                "status": "pending",
                "color": "#b5bcc2",
                "orderindex": 5,
                "type": "done"
              },
              "after": {
                "status": "done",
                "color": "#2ecd6f",
                "orderindex": 6,
                "type": "done"
              }
            }
          ],
          "task_id": "86854661v",
          "webhook_id": "cb0c3c38-811d-4261-901d-363403b6993b"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Filter": [
      {
        "json": {
          "event": "taskStatusUpdated",
          "history_items": [
            {
              "id": "3610732372335125384",
              "type": 1,
              "date": "1691012560044",
              "field": "status",
              "parent_id": "164286867",
              "data": {
                "status_type": "done"
              },
              "source": null,
              "user": {
                "id": 32274652,
                "username": "Joshua Wowk",
                "email": "joshua.wowk@hp-ne.com",
                "color": "#7b68ee",
                "initials": "JW",
                "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
              },
              "before": {
                "status": "pending",
                "color": "#b5bcc2",
                "orderindex": 5,
                "type": "done"
              },
              "after": {
                "status": "done",
                "color": "#2ecd6f",
                "orderindex": 6,
                "type": "done"
              }
            }
          ],
          "task_id": "86854661v",
          "webhook_id": "cb0c3c38-811d-4261-901d-363403b6993b"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Wait1": [
      {
        "json": {
          "event": "taskStatusUpdated",
          "history_items": [
            {
              "id": "3610732372335125384",
              "type": 1,
              "date": "1691012560044",
              "field": "status",
              "parent_id": "164286867",
              "data": {
                "status_type": "done"
              },
              "source": null,
              "user": {
                "id": 32274652,
                "username": "Joshua Wowk",
                "email": "joshua.wowk@hp-ne.com",
                "color": "#7b68ee",
                "initials": "JW",
                "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
              },
              "before": {
                "status": "pending",
                "color": "#b5bcc2",
                "orderindex": 5,
                "type": "done"
              },
              "after": {
                "status": "done",
                "color": "#2ecd6f",
                "orderindex": 6,
                "type": "done"
              }
            }
          ],
          "task_id": "86854661v",
          "webhook_id": "cb0c3c38-811d-4261-901d-363403b6993b"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Wait": [
      {
        "json": {
          "event": "taskStatusUpdated",
          "history_items": [
            {
              "id": "3610732372335125384",
              "type": 1,
              "date": "1691012560044",
              "field": "status",
              "parent_id": "164286867",
              "data": {
                "status_type": "done"
              },
              "source": null,
              "user": {
                "id": 32274652,
                "username": "Joshua Wowk",
                "email": "joshua.wowk@hp-ne.com",
                "color": "#7b68ee",
                "initials": "JW",
                "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
              },
              "before": {
                "status": "pending",
                "color": "#b5bcc2",
                "orderindex": 5,
                "type": "done"
              },
              "after": {
                "status": "done",
                "color": "#2ecd6f",
                "orderindex": 6,
                "type": "done"
              }
            }
          ],
          "task_id": "86854661v",
          "webhook_id": "cb0c3c38-811d-4261-901d-363403b6993b"
        }
      }
    ],
    "Wait3": [
      {
        "json": {
          "event": "taskStatusUpdated",
          "history_items": [
            {
              "id": "3610732372335125384",
              "type": 1,
              "date": "1691012560044",
              "field": "status",
              "parent_id": "164286867",
              "data": {
                "status_type": "done"
              },
              "source": null,
              "user": {
                "id": 32274652,
                "username": "Joshua Wowk",
                "email": "joshua.wowk@hp-ne.com",
                "color": "#7b68ee",
                "initials": "JW",
                "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
              },
              "before": {
                "status": "pending",
                "color": "#b5bcc2",
                "orderindex": 5,
                "type": "done"
              },
              "after": {
                "status": "done",
                "color": "#2ecd6f",
                "orderindex": 6,
                "type": "done"
              }
            }
          ],
          "task_id": "86854661v",
          "webhook_id": "cb0c3c38-811d-4261-901d-363403b6993b"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Wait2": [
      {
        "json": {
          "event": "taskStatusUpdated",
          "history_items": [
            {
              "id": "3610732372335125384",
              "type": 1,
              "date": "1691012560044",
              "field": "status",
              "parent_id": "164286867",
              "data": {
                "status_type": "done"
              },
              "source": null,
              "user": {
                "id": 32274652,
                "username": "Joshua Wowk",
                "email": "joshua.wowk@hp-ne.com",
                "color": "#7b68ee",
                "initials": "JW",
                "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
              },
              "before": {
                "status": "pending",
                "color": "#b5bcc2",
                "orderindex": 5,
                "type": "done"
              },
              "after": {
                "status": "done",
                "color": "#2ecd6f",
                "orderindex": 6,
                "type": "done"
              }
            }
          ],
          "task_id": "86854661v",
          "webhook_id": "cb0c3c38-811d-4261-901d-363403b6993b"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:ClickUp Trigger": {
      "webhookId": "9f59849b-094e-46da-8b7a-27a52d78486a",
      "secret": "ZT1GQGKS6GYH6WWXF9446P01ZLQMUDUMO3KMU2QWLDPOOQ9CHP0W4WYICPF03X37"
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-10-22T01:01:34.000Z",
  "versionId": "d00d296a-9724-4b30-8f06-f5179d022331"
}