workflows/ClickUp: Update child fields.json
{
  "active": false,
  "connections": {
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "containsSubtasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-26T18:36:36.391Z",
  "id": "7LVUOEt10LTkPZwj",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ClickUp: Update child fields",
  "nodes": [
    {
      "parameters": {
        "team": "14335650",
        "events": [
          "taskUpdated"
        ],
        "filters": {
          "folderId": ""
        }
      },
      "id": "a0ae3ad1-3328-4a9b-b48b-0d64bf4755a5",
      "name": "ClickUp Trigger",
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        1140,
        520
      ],
      "webhookId": "1a36db91-e717-40eb-8e9f-d464deec05ba",
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.clickup.com/api/v2/task/{{ $('ClickUp Trigger').item.json.task_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickUpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "include_subtasks",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "c4676ab4-86a5-4e7f-a9fd-26a45ba52247",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1360,
        520
      ],
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "24afb003-9efc-4364-be23-d02f1d674835",
              "leftValue": "={{ $json.subtasks[0] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "657834b3-717d-4107-a037-e4ac1527d3bd",
      "name": "containsSubtasks",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1580,
        520
      ]
    }
  ],
  "pinData": {
    "ClickUp Trigger": [
      {
        "json": {
          "event": "taskUpdated",
          "history_items": [
            {
              "id": "3893369183031380311",
              "type": 1,
              "date": "1707859026740",
              "field": "status",
              "parent_id": "164286867",
              "data": {
                "status_type": "custom"
              },
              "source": null,
              "user": {
                "id": 32274652,
                "username": "Joshua Wowk",
                "email": "joshua.wowk@hp-ne.com",
                "color": "#7b68ee",
                "initials": "JW",
                "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
              },
              "before": {
                "status": "active",
                "color": "#445df3",
                "orderindex": 2,
                "type": "custom"
              },
              "after": {
                "status": "urgent",
                "color": "#e95656",
                "orderindex": 3,
                "type": "custom"
              }
            }
          ],
          "task_id": "86879rkc6",
          "webhook_id": "113f59e6-027b-4962-bf8d-3567329ed1a8"
        }
      }
    ],
    "containsSubtasks": [
      {
        "json": {
          "id": "86879rkc6",
          "custom_id": "CLKUP-2757",
          "custom_item_id": 0,
          "name": "Print Station Deployment",
          "text_content": "Printer Details\n\n\n\nHostname\nIP Address\nModel\nZEBRA-01\n10.30.0.249\nZT510\nZEBRA-02\n10.30.1.59\nZT111\nZEBRA-03\n10.30.1.57\nZT111\nZEBRA-04\n10.30.1.61\nZT111\nZEBRA-05\n10.30.1.60\nZT111\nZEBRA-06\n10.30.1.47\nZT111\nZEBRA-07\n10.30.1.62\nZT510\nZEBRA-08\n10.20.0.161\nZT510",
          "description": "Printer Details\n\n\n\nHostname\nIP Address\nModel\nZEBRA-01\n10.30.0.249\nZT510\nZEBRA-02\n10.30.1.59\nZT111\nZEBRA-03\n10.30.1.57\nZT111\nZEBRA-04\n10.30.1.61\nZT111\nZEBRA-05\n10.30.1.60\nZT111\nZEBRA-06\n10.30.1.47\nZT111\nZEBRA-07\n10.30.1.62\nZT510\nZEBRA-08\n10.20.0.161\nZT510",
          "status": {
            "id": "sc164286867_KXQ5xLef",
            "status": "urgent",
            "color": "#e95656",
            "orderindex": 3,
            "type": "custom"
          },
          "orderindex": "39722732.50000000000000000000000000000000",
          "date_created": "1707413656142",
          "date_updated": "1707859028477",
          "date_closed": null,
          "date_done": null,
          "archived": false,
          "creator": {
            "id": 32274652,
            "username": "Joshua Wowk",
            "color": "#7b68ee",
            "email": "joshua.wowk@hp-ne.com",
            "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
          },
          "assignees": [
            {
              "id": 32274652,
              "username": "Joshua Wowk",
              "color": "#7b68ee",
              "initials": "JW",
              "email": "joshua.wowk@hp-ne.com",
              "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
            }
          ],
          "watchers": [
            {
              "id": 32274652,
              "username": "Joshua Wowk",
              "color": "#7b68ee",
              "initials": "JW",
              "email": "joshua.wowk@hp-ne.com",
              "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
            }
          ],
          "checklists": [],
          "tags": [],
          "parent": null,
          "priority": {
            "color": "#f50000",
            "id": "1",
            "orderindex": "1",
            "priority": "urgent"
          },
          "due_date": null,
          "start_date": "1707382800000",
          "points": null,
          "time_estimate": null,
          "time_spent": 0,
          "custom_fields": [
            {
              "id": "dfa269c5-4f82-449f-be36-6aa5a8665875",
              "name": "Project/User",
              "type": "drop_down",
              "type_config": {
                "new_drop_down": true,
                "options": [
                  {
                    "id": "9013c049-f879-4ec3-812b-6c2f346d8056",
                    "name": "Asset Mgmt",
                    "color": "#306857",
                    "orderindex": 0
                  },
                  {
                    "id": "6b775477-b83b-41f5-9d7f-32b13e92d048",
                    "name": "Azure/Intune",
                    "color": "#0231E8",
                    "orderindex": 1
                  },
                  {
                    "id": "1a5f72b2-d636-4f4a-a316-cec8ba3b337c",
                    "name": "Conference Rooms",
                    "color": "#7C4DFF",
                    "orderindex": 2
                  },
                  {
                    "id": "787cb611-5056-4c0b-ab13-11452e19980a",
                    "name": "Egnyte",
                    "color": "#1bbc9c",
                    "orderindex": 3
                  },
                  {
                    "id": "acad4ab3-0370-437c-bc06-ec664f1ea0af",
                    "name": "Endpoint Mgmt",
                    "color": "#f9d900",
                    "orderindex": 4
                  },
                  {
                    "id": "d99cedc3-9413-4754-aa45-9b96d47f32f9",
                    "name": "Epicor",
                    "color": "#3082B7",
                    "orderindex": 5
                  },
                  {
                    "id": "524dd6ca-9d54-4c03-ac5d-bef4d10d2468",
                    "name": "Getinge Integration",
                    "color": "#9C6BEB",
                    "orderindex": 6
                  },
                  {
                    "id": "446bad52-3f34-45eb-a030-c7be2d385734",
                    "name": "Hardware",
                    "color": "#2ecd6f",
                    "orderindex": 7
                  },
                  {
                    "id": "885019a0-112a-4ed4-965d-a95c13452cd8",
                    "name": "IT Modernization",
                    "color": "#ff7800",
                    "orderindex": 8
                  },
                  {
                    "id": "883c5296-2336-4f88-8150-6f5bc96549da",
                    "name": "IT Operations",
                    "color": "#2FD4BB",
                    "orderindex": 9
                  },
                  {
                    "id": "e041bb1a-e9da-4a69-9bc7-2a6a5ddf4d13",
                    "name": "Microsoft 365",
                    "color": "#bf55ec",
                    "orderindex": 10
                  },
                  {
                    "id": "79861743-70b1-40d0-b18d-631290ad0985",
                    "name": "Procurement",
                    "color": "#2A5418",
                    "orderindex": 11
                  },
                  {
                    "id": "ccb727d0-0069-414d-8041-1498e9be7fa5",
                    "name": "QuickBooks",
                    "color": "#2ecd6f",
                    "orderindex": 12
                  },
                  {
                    "id": "197b3122-d39a-4e64-ad5f-f9aeda7918b1",
                    "name": "SolidWorks",
                    "color": "#e50000",
                    "orderindex": 13
                  },
                  {
                    "id": "a7142e8a-362c-4faa-b0c5-3186f8d10980",
                    "name": "--------",
                    "color": null,
                    "orderindex": 14
                  },
                  {
                    "id": "e9a8160e-b9bb-4810-ae1c-2251caa47ddc",
                    "name": "Client Services",
                    "color": "#18E196",
                    "orderindex": 15
                  },
                  {
                    "id": "d4bb3271-e12f-486f-bc28-eefc172bb69b",
                    "name": "---------",
                    "color": null,
                    "orderindex": 16
                  },
                  {
                    "id": "343232d9-1dc0-4937-b3ad-13b35a760a78",
                    "name": "Amanda Carey",
                    "color": null,
                    "orderindex": 17
                  },
                  {
                    "id": "2c27bfff-c7e2-4166-b5bd-6e8d5ab15939",
                    "name": "Amy",
                    "color": "#E65100",
                    "orderindex": 18
                  },
                  {
                    "id": "ae051f58-8831-42cb-b04a-d5f291f1294f",
                    "name": "Andrew Miga",
                    "color": null,
                    "orderindex": 19
                  },
                  {
                    "id": "0fb3b7a3-1b56-4a6f-b482-b77ece4b58d8",
                    "name": "Brenden Jelley",
                    "color": null,
                    "orderindex": 20
                  },
                  {
                    "id": "45149780-b5aa-4334-922f-235c0adba2e2",
                    "name": "Dave Ferchen",
                    "color": "#E65100",
                    "orderindex": 21
                  },
                  {
                    "id": "ed1ac9b7-1d58-4cba-94c7-a5d8e6446577",
                    "name": "David Leva-Rousseau",
                    "color": null,
                    "orderindex": 22
                  },
                  {
                    "id": "b2598547-85b5-4eb4-b57a-5de247b937be",
                    "name": "Derek Sullivan",
                    "color": "#1bbc9c",
                    "orderindex": 23
                  },
                  {
                    "id": "58dd334c-6eec-43a0-89f1-f15687489d56",
                    "name": "Eddie Hannon",
                    "color": null,
                    "orderindex": 24
                  },
                  {
                    "id": "0d2baf15-6179-4766-b92e-e8285e2959b3",
                    "name": "Elinor",
                    "color": "#bf55ec",
                    "orderindex": 25
                  },
                  {
                    "id": "d2cd22b1-5830-4e88-981c-02f3b260d668",
                    "name": "Emily Peterson",
                    "color": null,
                    "orderindex": 26
                  },
                  {
                    "id": "0c595a30-2c95-4a8d-925d-addc6fe271ec",
                    "name": "Eric Vario",
                    "color": null,
                    "orderindex": 27
                  },
                  {
                    "id": "619e31c7-98b5-45fe-8175-2ea28d5d989e",
                    "name": "Frank",
                    "color": "#E65100",
                    "orderindex": 28
                  },
                  {
                    "id": "17b283fe-5e96-42a4-8dbb-55d87d414075",
                    "name": "Jake Surprenant",
                    "color": null,
                    "orderindex": 29
                  },
                  {
                    "id": "1ea7897d-6559-45a7-acc3-0910b961dc62",
                    "name": "Jeisel",
                    "color": null,
                    "orderindex": 30
                  },
                  {
                    "id": "65f4ba30-bfb0-4a1b-92b9-d39c4e59a1c5",
                    "name": "Jen",
                    "color": null,
                    "orderindex": 31
                  },
                  {
                    "id": "a6846715-3608-419e-84d9-630e890a1d3f",
                    "name": "Jen Ramirez",
                    "color": null,
                    "orderindex": 32
                  },
                  {
                    "id": "3e32fdf3-b71c-4292-b16a-b3faf3a64ffc",
                    "name": "Jeremy",
                    "color": "#E65100",
                    "orderindex": 33
                  },
                  {
                    "id": "084c89c2-b10d-491c-a5dd-ad4c3d9f60a1",
                    "name": "Josh Akpey",
                    "color": null,
                    "orderindex": 34
                  },
                  {
                    "id": "dc6fb30f-c7b1-4c61-952c-40997a253bfc",
                    "name": "Katie Flynn",
                    "color": null,
                    "orderindex": 35
                  },
                  {
                    "id": "fa9467fb-7e1f-4d0e-be1d-a5264de25e15",
                    "name": "Katie Lyons",
                    "color": "#ff7800",
                    "orderindex": 36
                  },
                  {
                    "id": "dc66a8b0-3200-40cd-a080-129b7310a2db",
                    "name": "Ken Jacobsen",
                    "color": null,
                    "orderindex": 37
                  },
                  {
                    "id": "fea98627-7ebb-4c7a-9cb7-8967d38c3d71",
                    "name": "Kevin Sundara",
                    "color": null,
                    "orderindex": 38
                  },
                  {
                    "id": "70fa3597-c90a-4286-ad34-8c28e8a4ebc5",
                    "name": "Khiry Chivers",
                    "color": "#e50000",
                    "orderindex": 39
                  },
                  {
                    "id": "fa3ce5be-ab46-48b2-8801-a775d526914d",
                    "name": "Linda",
                    "color": "#2ecd6f",
                    "orderindex": 40
                  },
                  {
                    "id": "9b1c863a-f37c-494e-ad8e-7fbc8277edb3",
                    "name": "Lou",
                    "color": "#f9d900",
                    "orderindex": 41
                  },
                  {
                    "id": "578da466-4e29-4e14-aa0d-f363a8fe7df4",
                    "name": "Lynford",
                    "color": null,
                    "orderindex": 42
                  },
                  {
                    "id": "000faf86-06a0-4779-980f-a4b8d2efe432",
                    "name": "Maisam",
                    "color": null,
                    "orderindex": 43
                  },
                  {
                    "id": "2ae9fccc-d0c2-43f6-ad74-09f963889349",
                    "name": "Mark",
                    "color": "#E65100",
                    "orderindex": 44
                  },
                  {
                    "id": "89deda51-4f4d-4769-b561-f1d8e5f1de05",
                    "name": "Mary Benedetti",
                    "color": "#E65100",
                    "orderindex": 45
                  },
                  {
                    "id": "23f0968f-e165-4727-befb-35993b7679c9",
                    "name": "Mary Ellen",
                    "color": "#E65100",
                    "orderindex": 46
                  },
                  {
                    "id": "05926c52-5312-4d49-99af-a5a190fd809b",
                    "name": "Matt",
                    "color": null,
                    "orderindex": 47
                  },
                  {
                    "id": "813116a0-3312-4a4e-9254-71751bd3945c",
                    "name": "Maxfield",
                    "color": null,
                    "orderindex": 48
                  },
                  {
                    "id": "6254d0cf-c995-40d5-a7cb-71f6f0f36617",
                    "name": "MDS",
                    "color": null,
                    "orderindex": 49
                  },
                  {
                    "id": "ea8690e0-8a7d-4156-8208-905b6d74143a",
                    "name": "Melissa Santiago",
                    "color": null,
                    "orderindex": 50
                  },
                  {
                    "id": "009917ef-c503-4c37-b13d-e05238b2a30b",
                    "name": "Melissa Zuba",
                    "color": null,
                    "orderindex": 51
                  },
                  {
                    "id": "31145568-ada8-4ef5-ab6e-93a20bc45076",
                    "name": "Mike G.",
                    "color": null,
                    "orderindex": 52
                  },
                  {
                    "id": "dd34f157-c0be-4872-8aea-ba3966f0c8b4",
                    "name": "Mike Harpin",
                    "color": null,
                    "orderindex": 53
                  },
                  {
                    "id": "66a2f556-90ab-4e58-92ec-7a5cc487914e",
                    "name": "Peter",
                    "color": null,
                    "orderindex": 54
                  },
                  {
                    "id": "c4385821-326a-4ba0-add1-3ff4782fb57c",
                    "name": "Sandy",
                    "color": "#E65100",
                    "orderindex": 55
                  },
                  {
                    "id": "2df99b8b-77c5-44de-8044-9da234284204",
                    "name": "Shannon",
                    "color": "#E65100",
                    "orderindex": 56
                  },
                  {
                    "id": "2a28517f-6dd6-4b0d-b817-94a044e9c01c",
                    "name": "Stacy Boyd",
                    "color": "#E65100",
                    "orderindex": 57
                  },
                  {
                    "id": "a08d518a-2263-4781-a760-52f1691bdc6f",
                    "name": "Steve B.",
                    "color": null,
                    "orderindex": 58
                  },
                  {
                    "id": "a315a32d-8b4e-4a12-9358-149a30303b16",
                    "name": "Sully",
                    "color": null,
                    "orderindex": 59
                  },
                  {
                    "id": "0c21cf2a-bd71-471e-8b59-998893eec8d4",
                    "name": "Tom Denomme",
                    "color": null,
                    "orderindex": 60
                  },
                  {
                    "id": "e4f153d4-a5d0-4c3c-a7e3-2927ca20edc4",
                    "name": "Jon Dendy",
                    "color": "#231E1E",
                    "orderindex": 61
                  },
                  {
                    "id": "669cb6b6-a1b6-44eb-b5a7-39e8f9f9bf84",
                    "name": "Patrick Eddy",
                    "color": "#3397dd",
                    "orderindex": 62
                  },
                  {
                    "id": "5c047c20-420e-49c0-adbe-c4980c93e683",
                    "name": "Jeff Ballou",
                    "color": "#48FBC5",
                    "orderindex": 63
                  },
                  {
                    "id": "d5187c71-d728-45f5-ab5c-d861d7c37750",
                    "name": "Alexis McNabb",
                    "color": "#8EC315",
                    "orderindex": 64
                  },
                  {
                    "id": "e4c16abf-8ac7-4c6d-9388-a205959e7d67",
                    "name": "Josh Akpey",
                    "color": "#D4A93A",
                    "orderindex": 65
                  },
                  {
                    "id": "4ea9ce0e-6119-48ae-972e-71055cb1eff5",
                    "name": "Cox",
                    "color": "#1506BB",
                    "orderindex": 66
                  },
                  {
                    "id": "f0eb1a4b-32a4-4694-ae4c-db5bdf5ca2cf",
                    "name": "Amy Dupuis",
                    "color": "#0DAE73",
                    "orderindex": 67
                  },
                  {
                    "id": "00fb043b-f680-479c-9e2c-25df4c46d356",
                    "name": "Jeremy Tripodi",
                    "color": "#9b59b6",
                    "orderindex": 68
                  },
                  {
                    "id": "374f1368-9b8f-4420-9791-dadacb565a52",
                    "name": "n8n Project/User",
                    "color": "#A67A11",
                    "orderindex": 69
                  },
                  {
                    "id": "4d7bdf82-f285-4aa9-ac86-909256022326",
                    "name": "Facilities",
                    "color": "#F995D7",
                    "orderindex": 70
                  },
                  {
                    "id": "4f963a9b-f4e0-466b-826f-64f3b35b1a3e",
                    "name": "Epicor Labels",
                    "color": "#02BCD4",
                    "orderindex": 71
                  },
                  {
                    "id": "f81ddd7f-6f3e-4413-9b9f-1be25f37e555",
                    "name": "Kathy",
                    "color": "#6ECD2E",
                    "orderindex": 72
                  },
                  {
                    "id": "e20d2f3f-8b38-46d2-8acb-efb56f19bfc9",
                    "name": "Kim Harrington",
                    "color": "#8B9CC1",
                    "orderindex": 73
                  }
                ]
              },
              "date_created": "1686926237792",
              "hide_from_guests": false,
              "value": 71,
              "required": false
            },
            {
              "id": "c2d254e3-66bf-4033-8522-006928efd6cb",
              "name": "Type",
              "type": "drop_down",
              "type_config": {
                "new_drop_down": true,
                "options": [
                  {
                    "id": "c005b218-81b9-4e42-98cf-92b12d696c97",
                    "name": "Request",
                    "color": "#f19035",
                    "orderindex": 0
                  },
                  {
                    "id": "ce29e9c1-479f-419a-aa94-daed12cad45c",
                    "name": "Incident",
                    "color": "#de5454",
                    "orderindex": 1
                  },
                  {
                    "id": "79e88217-9e6b-4c74-b576-48e1d09bf6a1",
                    "name": "Epicor - Project",
                    "color": "#3082B7",
                    "orderindex": 2
                  },
                  {
                    "id": "2bd42b01-01f2-4a37-ad17-963855bc7d05",
                    "name": "Epicor - Client",
                    "color": "#357a75",
                    "orderindex": 3
                  },
                  {
                    "id": "f117d07f-d3da-4f31-aab8-9e5c36c2d968",
                    "name": "Epicor - IAM",
                    "color": "#0231E8",
                    "orderindex": 4
                  },
                  {
                    "id": "10619450-e37b-452c-9257-7773d0d42b34",
                    "name": "Epicor - Change",
                    "color": "#04A9F4",
                    "orderindex": 5
                  },
                  {
                    "id": "73c0c4a4-a52b-4211-b7c2-c20bc21ce378",
                    "name": "Epicor - Request",
                    "color": "#81B1FF",
                    "orderindex": 6
                  },
                  {
                    "id": "72cdd13c-0694-45c0-aa1f-defa349a4d2e",
                    "name": "Asset Mgmt",
                    "color": "#efe7b1",
                    "orderindex": 7
                  },
                  {
                    "id": "5ad24d1c-9867-4e1c-81cf-3f8180211e17",
                    "name": "Operations",
                    "color": "#1bbc9c",
                    "orderindex": 8
                  },
                  {
                    "id": "cebeb648-a10d-4cf9-b760-ab0cb4310bf8",
                    "name": "Other",
                    "color": "#b5bcc2",
                    "orderindex": 9
                  },
                  {
                    "id": "38c70602-430f-4a04-b452-96f51a62bbf0",
                    "name": "------------------------",
                    "color": null,
                    "orderindex": 10
                  },
                  {
                    "id": "291b928d-099f-44f1-b3bf-260191e3c2ec",
                    "name": "Change Request",
                    "color": "#fbe972",
                    "orderindex": 11
                  },
                  {
                    "id": "f8b3bee9-5db0-47a0-ba68-ccf6bac81e5e",
                    "name": "Inquiry",
                    "color": "#57e08f",
                    "orderindex": 12
                  },
                  {
                    "id": "073ade37-2cdd-40d1-b63e-6e10fb494e94",
                    "name": "Idea/Innovation",
                    "color": "#99a3fb",
                    "orderindex": 13
                  },
                  {
                    "id": "d8e1060c-c6a2-4dc0-8ede-870d6b018b7e",
                    "name": "1:1 Topic",
                    "color": "#f57bee",
                    "orderindex": 14
                  },
                  {
                    "id": "61291b62-fc07-47b8-8d32-eed47b56cb33",
                    "name": "Personal",
                    "color": "#f77da6",
                    "orderindex": 15
                  }
                ]
              },
              "date_created": "1671051092981",
              "hide_from_guests": false,
              "value": 2,
              "required": false
            },
            {
              "id": "a59d846e-42c9-4b9a-ae6f-32464212d282",
              "name": "Apps",
              "type": "drop_down",
              "type_config": {
                "new_drop_down": true,
                "options": [
                  {
                    "id": "75c132ad-2f44-4645-b08f-2957b28a1c75",
                    "name": "Azure",
                    "color": "#0080ff",
                    "orderindex": 0
                  },
                  {
                    "id": "69f60dbb-dc25-4d8d-a03c-9342f8129f22",
                    "name": "Adobe Acrobat",
                    "color": "#e44040",
                    "orderindex": 1
                  },
                  {
                    "id": "2f1ac3fb-17b1-4055-af87-894ca557f2e9",
                    "name": "ClickUp",
                    "color": "#FF4081",
                    "orderindex": 2
                  },
                  {
                    "id": "52170e1c-0389-47d7-8e8b-8655eb0f60e7",
                    "name": "DW Spectrum",
                    "color": "#E65100",
                    "orderindex": 3
                  },
                  {
                    "id": "65f2c876-f046-4ba6-b378-5ae0e68c1971",
                    "name": "Egnyte",
                    "color": "#27b69a",
                    "orderindex": 4
                  },
                  {
                    "id": "ff0a9b36-4759-418d-8d42-ec34ea7e9056",
                    "name": "Epicor",
                    "color": "#3397dd",
                    "orderindex": 5
                  },
                  {
                    "id": "512b1bba-ab38-4a13-8b45-64ff057a75a5",
                    "name": "Google Chrome",
                    "color": "#ebda61",
                    "orderindex": 6
                  },
                  {
                    "id": "b7b82aeb-98cf-4508-8485-ab8cb1cc31b6",
                    "name": "Intune",
                    "color": "#81B1FF",
                    "orderindex": 7
                  },
                  {
                    "id": "0196fca4-1e28-4919-8d38-d5eb33f44b33",
                    "name": "Microsoft 365",
                    "color": "#486aed",
                    "orderindex": 8
                  },
                  {
                    "id": "30080f89-17a7-46ef-8d93-d31f8adf4db9",
                    "name": "Microsoft Edge",
                    "color": "#04A9F4",
                    "orderindex": 9
                  },
                  {
                    "id": "11f1198a-76ef-4771-b78d-d84a21a7c2ad",
                    "name": "n8n",
                    "color": "#e50000",
                    "orderindex": 10
                  },
                  {
                    "id": "03ba5632-76e5-4858-9c91-7b07ee8a2f7a",
                    "name": "Office Desktop",
                    "color": "#f79e4e",
                    "orderindex": 11
                  },
                  {
                    "id": "b0e9532e-9606-4935-aee6-f96f822950ff",
                    "name": "OneDrive",
                    "color": "#04A9F4",
                    "orderindex": 12
                  },
                  {
                    "id": "960b8485-9b97-49f5-a865-66838e7210d4",
                    "name": "Outlook",
                    "color": "#2476eb",
                    "orderindex": 13
                  },
                  {
                    "id": "9962dba8-85b4-42b7-8ae8-241febb17eb4",
                    "name": "Power Platform",
                    "color": "#bf55ec",
                    "orderindex": 14
                  },
                  {
                    "id": "8ff2226c-47bb-4512-9e52-9ef0f233a02b",
                    "name": "QuickBooks",
                    "color": "#2ecd6f",
                    "orderindex": 15
                  },
                  {
                    "id": "d1200544-0ed3-426e-bc63-63a6b339e072",
                    "name": "RMM",
                    "color": "#f9d900",
                    "orderindex": 16
                  },
                  {
                    "id": "f295d808-075e-4e6a-ac47-0f1d7757bddd",
                    "name": "SharePoint",
                    "color": "#3082B7",
                    "orderindex": 17
                  },
                  {
                    "id": "43b92d7e-7f43-495b-a30a-35527c29213f",
                    "name": "SolidWorks",
                    "color": "#e23535",
                    "orderindex": 18
                  },
                  {
                    "id": "f766f2b6-1761-41b4-9b18-bb01b0049ec3",
                    "name": "SSRS Report Builder",
                    "color": "#02BCD4",
                    "orderindex": 19
                  },
                  {
                    "id": "6732ba6a-6a20-4eee-92c2-d3d2266b8a4f",
                    "name": "Teams",
                    "color": "#697cef",
                    "orderindex": 20
                  },
                  {
                    "id": "dd54d0c6-261b-4b14-acaa-4e4b6b63712b",
                    "name": "VPN",
                    "color": "#e9d441",
                    "orderindex": 21
                  },
                  {
                    "id": "73ca3d19-6674-4519-9809-f89acb94d5d5",
                    "name": "Windows",
                    "color": "#2ecd6f",
                    "orderindex": 22
                  },
                  {
                    "id": "2d2e174e-f55b-46c4-ae52-c2667aa6eb08",
                    "name": "Zoom",
                    "color": "#81B1FF",
                    "orderindex": 23
                  },
                  {
                    "id": "a1ab0061-87e4-4bef-9abe-795aca8115c9",
                    "name": "N/A",
                    "color": "#667684",
                    "orderindex": 24
                  }
                ]
              },
              "date_created": "1682088851650",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "1f0eb8f5-dc13-4d70-bfa0-79c19308bee5",
              "name": "Predecessor",
              "type": "tasks",
              "type_config": {
                "fields": []
              },
              "date_created": "1695162799055",
              "hide_from_guests": false,
              "value": [
                {
                  "id": "868768d8n",
                  "name": "Setup Epicor workstation printing",
                  "status": "done",
                  "color": "#1dc270",
                  "custom_type": null,
                  "team_id": "14335650",
                  "deleted": false,
                  "url": "https://app.clickup.com/t/868768d8n",
                  "access": true,
                  "custom_id": "CLKUP-2603"
                }
              ],
              "required": false
            },
            {
              "id": "92e0d999-b950-4b1a-8db4-631892318a08",
              "name": "Under 15 mins",
              "type": "checkbox",
              "type_config": {},
              "date_created": "1676415225279",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "f1f2b105-0388-4d3d-a5d6-25b72422fae9",
              "name": "Due within week",
              "type": "checkbox",
              "type_config": {},
              "date_created": "1690842095442",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "7823bf00-edc8-493f-a2cb-fb3b57d93d1c",
              "name": "'Focus'",
              "type": "checkbox",
              "type_config": {},
              "date_created": "1692198241570",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "5dad0984-4fc3-4364-9f9b-298f656e2d15",
              "name": "Systems",
              "type": "drop_down",
              "type_config": {
                "new_drop_down": true,
                "options": [
                  {
                    "id": "95a2aed2-1777-49e9-9e36-59073fe379ed",
                    "name": "Azure",
                    "color": "#274ee4",
                    "orderindex": 0
                  },
                  {
                    "id": "872a2544-f8de-4735-9b2a-4488f5bf9a5b",
                    "name": "Azure AD & Intune",
                    "color": "#04A9F4",
                    "orderindex": 1
                  },
                  {
                    "id": "31b0edce-754f-4299-92e1-c0274d08a32a",
                    "name": "Cox Phones",
                    "color": "#800000",
                    "orderindex": 2
                  },
                  {
                    "id": "a1313525-5018-4165-9d46-fc09c0722fd2",
                    "name": "DW Spectrum",
                    "color": "#ff7800",
                    "orderindex": 3
                  },
                  {
                    "id": "720baba0-5c79-4126-830b-9ebd740da86e",
                    "name": "Egnyte",
                    "color": "#1bbcb1",
                    "orderindex": 4
                  },
                  {
                    "id": "450abf2f-0bdc-4d22-801f-b7057c8d0bd7",
                    "name": "Envoy",
                    "color": "#e50000",
                    "orderindex": 5
                  },
                  {
                    "id": "0053f3ac-f797-494d-8931-f4ce4162a1cc",
                    "name": "Epicor",
                    "color": "#097287",
                    "orderindex": 6
                  },
                  {
                    "id": "4e862c56-ddff-4f74-af40-aa869d1636c3",
                    "name": "ETQ",
                    "color": "#FF4081",
                    "orderindex": 7
                  },
                  {
                    "id": "52bceaf2-86b5-48ef-81d5-548405914eaa",
                    "name": "Microsoft 365",
                    "color": "#f9d900",
                    "orderindex": 8
                  },
                  {
                    "id": "eb6dbbde-44f4-4db3-a13a-d152fe72cf7d",
                    "name": "Network & Wi-Fi",
                    "color": "#7C4DFF",
                    "orderindex": 9
                  },
                  {
                    "id": "204d21aa-d5a1-4a11-937e-f2f09addf64b",
                    "name": "Printing",
                    "color": "#b5bcc2",
                    "orderindex": 10
                  },
                  {
                    "id": "0b1fa936-f7b6-474a-8127-f61c1ddb49a6",
                    "name": "QuickBooks",
                    "color": "#2ecd6f",
                    "orderindex": 11
                  },
                  {
                    "id": "deeabf5e-fcd7-48ec-abac-a0b4cbe9fa36",
                    "name": "SolidWorks",
                    "color": "#e50000",
                    "orderindex": 12
                  },
                  {
                    "id": "801e1973-1541-4a65-96e1-f200e76463a2",
                    "name": "Windows Client",
                    "color": "#ff7800",
                    "orderindex": 13
                  },
                  {
                    "id": "79c6f3dd-be97-4691-804f-8a09395f619a",
                    "name": "Windows Server",
                    "color": "#E65100",
                    "orderindex": 14
                  }
                ]
              },
              "date_created": "1702570631939",
              "hide_from_guests": true,
              "required": false
            },
            {
              "id": "f47f3453-232c-43b6-bc42-243e2810826e",
              "name": "Category",
              "type": "drop_down",
              "type_config": {
                "new_drop_down": true,
                "options": [
                  {
                    "id": "fed6c849-fc42-485f-9ed7-fe0f96d1a705",
                    "name": "Automation",
                    "color": "#9b59b6",
                    "orderindex": 0
                  },
                  {
                    "id": "a194767a-1435-4b72-9fca-b3596962ee30",
                    "name": "Applications",
                    "color": "#fb5252",
                    "orderindex": 1
                  },
                  {
                    "id": "a275b2d0-c467-41bc-9663-47007cb59326",
                    "name": "Cloud Ops",
                    "color": "#81B1FF",
                    "orderindex": 2
                  },
                  {
                    "id": "46211a7b-65fd-4d27-a335-4d9954acd6b9",
                    "name": "Collaboration",
                    "color": "#7C4DFF",
                    "orderindex": 3
                  },
                  {
                    "id": "0a3b6328-0305-416a-8d0d-527355e6def2",
                    "name": "Data & Database",
                    "color": "#54EAE3",
                    "orderindex": 4
                  },
                  {
                    "id": "18f53b3b-5861-409f-99db-4f1f57796586",
                    "name": "Endpoint Mgmt",
                    "color": "#f79238",
                    "orderindex": 5
                  },
                  {
                    "id": "d646c105-3d03-4b7a-9abe-95835d8c0c5f",
                    "name": "Email",
                    "color": "#f363eb",
                    "orderindex": 6
                  },
                  {
                    "id": "cb565425-2266-4787-908e-84acea844208",
                    "name": "Facilities",
                    "color": "#667684",
                    "orderindex": 7
                  },
                  {
                    "id": "1f9a7bf2-ad00-4909-89c9-da029db1194e",
                    "name": "Facility Security",
                    "color": "#b5bcc2",
                    "orderindex": 8
                  },
                  {
                    "id": "9c8bd0ee-7555-4ce6-88b4-38b64aaefcbd",
                    "name": "File/Folder Access",
                    "color": "#086C01",
                    "orderindex": 9
                  },
                  {
                    "id": "5b9033d2-9e64-4959-a810-92f665c5cdf1",
                    "name": "Hardware",
                    "color": "#9d7df9",
                    "orderindex": 10
                  },
                  {
                    "id": "8b36f8d0-bcda-410a-ac62-09e69ab60503",
                    "name": "HR/Personnel",
                    "color": "#f5e46e",
                    "orderindex": 11
                  },
                  {
                    "id": "6252c707-b9ce-412a-95a1-218d41fca4ed",
                    "name": "Identity & Access",
                    "color": "#f14e4e",
                    "orderindex": 12
                  },
                  {
                    "id": "62564877-5389-4a56-bc10-01bd69232696",
                    "name": "InfoSec",
                    "color": "#e75a5a",
                    "orderindex": 13
                  },
                  {
                    "id": "6fa2ecb5-5bf3-476a-8075-2f876aafcb50",
                    "name": "Integration",
                    "color": "#9f7efb",
                    "orderindex": 14
                  },
                  {
                    "id": "66f44110-7275-47b2-a3b2-2d5611022ea4",
                    "name": "Marketing",
                    "color": "#DF0D50",
                    "orderindex": 15
                  },
                  {
                    "id": "b1a4e87c-623f-43b1-99ee-95d403219ce7",
                    "name": "Meetings & Conf. Rooms",
                    "color": "#4363e0",
                    "orderindex": 16
                  },
                  {
                    "id": "ae2a2b2c-3868-4232-9ea2-6d0c4376d9ca",
                    "name": "Network & VPN",
                    "color": "#81B1FF",
                    "orderindex": 17
                  },
                  {
                    "id": "636eef27-dc08-412b-a1c4-5a2f59964da1",
                    "name": "Phones",
                    "color": "#04A9F4",
                    "orderindex": 18
                  },
                  {
                    "id": "9dc4a685-aa86-48b6-96c7-e89f6c30525f",
                    "name": "Printing & Scanning",
                    "color": "#1bbc9c",
                    "orderindex": 19
                  },
                  {
                    "id": "24c6fdfd-c505-4624-a18a-532a3f2c1a07",
                    "name": "Policy & Planning",
                    "color": "#CD560F",
                    "orderindex": 20
                  },
                  {
                    "id": "3b96fe64-9190-4269-aec1-b1604ff05352",
                    "name": "Process Improvement",
                    "color": "#DFEF8A",
                    "orderindex": 21
                  },
                  {
                    "id": "51bbcbc0-e152-463c-a64f-97fcb357dd4d",
                    "name": "Procurement",
                    "color": "#8645d4",
                    "orderindex": 22
                  },
                  {
                    "id": "3f6f0cb1-e470-4c50-97ed-b631cd854de4",
                    "name": "Project/Task Mgmt",
                    "color": "#2ecd6f",
                    "orderindex": 23
                  },
                  {
                    "id": "28519db6-ed9b-4798-921a-21d169f311f5",
                    "name": "Security",
                    "color": "#f93b3b",
                    "orderindex": 24
                  },
                  {
                    "id": "77303d61-8fd2-468b-ab9f-0bba132a3cf4",
                    "name": "Servers",
                    "color": "#9D7464",
                    "orderindex": 25
                  },
                  {
                    "id": "d278ea84-bafb-494e-8211-b3502656283e",
                    "name": "Service Provider",
                    "color": "#3082B7",
                    "orderindex": 26
                  },
                  {
                    "id": "743dfe7b-ac97-4536-898b-831d9bdd9ff0",
                    "name": "Training",
                    "color": "#e7d14c",
                    "orderindex": 27
                  },
                  {
                    "id": "378c1a1f-c322-4c10-b72e-5f2b3131d9d2",
                    "name": "Windows/OS",
                    "color": "#2ecd6f",
                    "orderindex": 28
                  },
                  {
                    "id": "42dc83da-9282-4a10-b678-27ed59e2e944",
                    "name": "Wiring/Cable Mgmt",
                    "color": "#AF7E2E",
                    "orderindex": 29
                  },
                  {
                    "id": "46712d67-e8cc-4f6a-99b3-0fc5dfa294a7",
                    "name": "Workstation/Desk",
                    "color": "#e6793e",
                    "orderindex": 30
                  },
                  {
                    "id": "8dda593a-acb0-45d2-998b-dccf6d13ebe2",
                    "name": "Other",
                    "color": "#b5bcc2",
                    "orderindex": 31
                  },
                  {
                    "id": "02f09c3d-26d7-46fe-86c3-0625d2672e15",
                    "name": "Reporting",
                    "color": "#F96AE8",
                    "orderindex": 32
                  }
                ]
              },
              "date_created": "1683756567743",
              "hide_from_guests": false,
              "value": 19,
              "required": false
            },
            {
              "id": "09653c34-ccf9-497c-9b8a-7d35b6290e09",
              "name": "Service Area",
              "type": "labels",
              "type_config": {
                "options": [
                  {
                    "id": "24aad6d8-1ecd-4089-a31a-d4230c12dacf",
                    "label": "Business Apps",
                    "color": "#3082B7"
                  },
                  {
                    "id": "0c56b545-7740-4ff4-97b9-c55a424f645a",
                    "label": "Conference Rooms",
                    "color": "#7C4DFF"
                  },
                  {
                    "id": "d6c89ed7-ce55-4ff3-8cf2-c5d8633718ac",
                    "label": "Email",
                    "color": "#04A9F4"
                  },
                  {
                    "id": "b2c74e98-b666-43c4-a907-56c9b8aafcd8",
                    "label": "Facilities",
                    "color": "#b5bcc2"
                  },
                  {
                    "id": "e4b78e62-171b-46bf-b7ab-59294c7342cc",
                    "label": "Hardware & Peripherals",
                    "color": "#1bbc9c"
                  },
                  {
                    "id": "89e4be1b-7a73-4d01-a640-f6225b1034aa",
                    "label": "Identity & Access",
                    "color": "#800000"
                  },
                  {
                    "id": "ead5b1d2-1f9c-4967-b38b-777a7659eab7",
                    "label": "Network & Wi-Fi",
                    "color": "#2ecd6f"
                  },
                  {
                    "id": "cd2b5035-2896-4df3-9005-5a0070efd9b7",
                    "label": "Phone",
                    "color": "#3397dd"
                  },
                  {
                    "id": "be169fea-e76d-4d6e-a3b4-4475c5d633a9",
                    "label": "Printing",
                    "color": "#f9d900"
                  },
                  {
                    "id": "5c8a2c45-b723-4154-8813-df3103e10fc3",
                    "label": "Wiring & Cabling",
                    "color": "#E65100"
                  }
                ]
              },
              "date_created": "1702655123862",
              "hide_from_guests": true,
              "required": false
            },
            {
              "id": "0b3f7cfd-a829-4414-ba87-2e8202a646ed",
              "name": "To-Do URL",
              "type": "url",
              "type_config": {},
              "date_created": "1691850087194",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "0f1bb622-ebac-4137-9e29-ed02b6e6b280",
              "name": "Lock Fields",
              "type": "checkbox",
              "type_config": {},
              "date_created": "1702932712381",
              "hide_from_guests": true,
              "value": "true",
              "required": false
            },
            {
              "id": "17862224-0d09-49b1-8b7b-8825c234448f",
              "name": "Department",
              "type": "drop_down",
              "type_config": {
                "default": 0,
                "placeholder": null,
                "new_drop_down": true,
                "options": [
                  {
                    "id": "b513e4e1-0a44-4a52-b25e-e3530e8feba5",
                    "name": "N/A",
                    "color": "#667684",
                    "orderindex": 0
                  },
                  {
                    "id": "17ebed35-3dc2-4347-b316-fe1af0724128",
                    "name": "Administration",
                    "color": "#81B1FF",
                    "orderindex": 1
                  },
                  {
                    "id": "50538d84-99e1-4a7a-82fe-8c168992d97d",
                    "name": "Client Services",
                    "color": "#f9d900",
                    "orderindex": 2
                  },
                  {
                    "id": "096d352e-334e-4084-869d-89608ebc0e69",
                    "name": "Engineering | Single-Use Design ",
                    "color": "#04A9F4",
                    "orderindex": 3
                  },
                  {
                    "id": "c0e8fbf2-22eb-4914-91ea-637fcc8c753d",
                    "name": "Engineering | Special Projects",
                    "color": "#3082B7",
                    "orderindex": 4
                  },
                  {
                    "id": "3885960d-d01b-4230-b764-a0734304f23f",
                    "name": "Executive",
                    "color": "#1bbc9c",
                    "orderindex": 5
                  },
                  {
                    "id": "7187d1f5-f25a-4342-b5a8-0ea1eceb777f",
                    "name": "FlexConnexx",
                    "color": "#1bbc9c",
                    "orderindex": 6
                  },
                  {
                    "id": "8449d12b-48b5-4585-8973-d4ecff5d46cc",
                    "name": "Finance",
                    "color": "#059312",
                    "orderindex": 7
                  },
                  {
                    "id": "b6f3fcfc-91d8-49a0-9f50-fad04927705f",
                    "name": "Human Resources",
                    "color": "#FF7FAB",
                    "orderindex": 8
                  },
                  {
                    "id": "46b7072e-8b4e-43f0-a61d-6649893e4dc5",
                    "name": "IT",
                    "color": "#0076ff",
                    "orderindex": 9
                  },
                  {
                    "id": "fbceef85-58b3-42e3-8ac2-ddbf8c0f346f",
                    "name": "Kitting",
                    "color": "#7C4DFF",
                    "orderindex": 10
                  },
                  {
                    "id": "3ddcd582-6a03-4a76-842d-28a71b3fca01",
                    "name": "Logistics & Warehouse",
                    "color": "#3397dd",
                    "orderindex": 11
                  },
                  {
                    "id": "07597f80-8670-4bbb-b82b-2a4a8f870436",
                    "name": "Marketing",
                    "color": "#0231E8",
                    "orderindex": 12
                  },
                  {
                    "id": "8ebb08d6-9e92-4c92-a624-fc99d6bf18c2",
                    "name": "Materials",
                    "color": "#b5bcc2",
                    "orderindex": 13
                  },
                  {
                    "id": "524c4294-7ae1-4308-839e-276e21dcbd43",
                    "name": "Production",
                    "color": "#ff7800",
                    "orderindex": 14
                  },
                  {
                    "id": "01526da1-a17d-4dd5-842e-40895a7442e5",
                    "name": "Quality",
                    "color": "#E65100",
                    "orderindex": 15
                  },
                  {
                    "id": "5998fcda-54b6-4751-bbbc-2fef46b4c3ad",
                    "name": "RDVS",
                    "color": "#7C4DFF",
                    "orderindex": 16
                  },
                  {
                    "id": "27702d8d-08a2-437f-b3d1-4a352088abb0",
                    "name": "Sales",
                    "color": "#e50000",
                    "orderindex": 17
                  },
                  {
                    "id": "b9b1af36-f6f0-4445-9f1e-7a07729a8a07",
                    "name": "Special Projects",
                    "color": "#0af11f",
                    "orderindex": 18
                  },
                  {
                    "id": "1b01a7e1-09d9-4441-8c27-bf8569fe78c6",
                    "name": "Other",
                    "color": "#b5bcc2",
                    "orderindex": 19
                  }
                ]
              },
              "date_created": "1659376509441",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "2d594d9c-48a5-4f3a-9f53-84439a44924e",
              "name": "Location/Bldg.",
              "type": "drop_down",
              "type_config": {
                "default": 0,
                "placeholder": null,
                "new_drop_down": true,
                "options": [
                  {
                    "id": "db151350-9d34-4e74-a11e-75cdc12ad5fc",
                    "name": "N/A",
                    "color": "#667684",
                    "orderindex": 0
                  },
                  {
                    "id": "bda703d9-6389-4b06-b31d-e954778c6e74",
                    "name": "2 Thurber",
                    "color": "#2ecd6f",
                    "orderindex": 1
                  },
                  {
                    "id": "4b213ac1-a7a2-4489-aa78-7bf60fa7cb86",
                    "name": "14 Thurber",
                    "color": "#FF4081",
                    "orderindex": 2
                  },
                  {
                    "id": "b78ef126-c1da-4a13-9fe6-9880006551a9",
                    "name": "36 Thurber Blvd.",
                    "color": "#02BCD4",
                    "orderindex": 3
                  },
                  {
                    "id": "3e8aac86-eadb-4438-a819-6a7cc1c01ce6",
                    "name": "Remote",
                    "color": "#7C4DFF",
                    "orderindex": 4
                  },
                  {
                    "id": "d6149f8b-617e-4bf4-ba04-628f5c7044a9",
                    "name": "Other",
                    "color": "#b5bcc2",
                    "orderindex": 5
                  }
                ]
              },
              "date_created": "1660100952182",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "3733c4aa-ab90-45fd-ba2a-828c9e66e433",
              "name": "Screenshot",
              "type": "attachment",
              "type_config": {},
              "date_created": "1704309003547",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "4e249f22-0b90-443c-b6c4-358a06108076",
              "name": "Systems",
              "type": "labels",
              "type_config": {
                "options": [
                  {
                    "id": "88d0b899-2d7d-4f93-9fab-175847612700",
                    "label": "Azure",
                    "color": "#0231E8"
                  },
                  {
                    "id": "a8f92000-36eb-41be-a43c-809de689fdb2",
                    "label": "Azure AD & Intune",
                    "color": "#04A9F4"
                  },
                  {
                    "id": "84a78975-7fd6-4d08-b128-36cf8aaf5f35",
                    "label": "Cox Phones",
                    "color": "#3082B7"
                  },
                  {
                    "id": "2e2c5389-e54c-403a-952e-b78b91ccc447",
                    "label": "DW Spectrum",
                    "color": "#ff7800"
                  },
                  {
                    "id": "d209d2b8-8315-4b37-ae10-b2c36b56c5bc",
                    "label": "Egnyte",
                    "color": "#0ca989"
                  },
                  {
                    "id": "b700fe45-03b8-42b5-b770-0994a593f3de",
                    "label": "Email",
                    "color": "#9b59b6"
                  },
                  {
                    "id": "768a7610-dd5e-4ec7-934e-86c85f5e4c00",
                    "label": "Envoy",
                    "color": "#e50000"
                  },
                  {
                    "id": "a47ad53b-81cd-4351-a2b2-0c4937c5c2a2",
                    "label": "Epicor",
                    "color": "#02BCD4"
                  },
                  {
                    "id": "b2882951-e1aa-43e7-99d0-4f0806b59361",
                    "label": "ETQ",
                    "color": "#FF4081"
                  },
                  {
                    "id": "dcc27a26-a3f5-4523-935f-cf927ff0646f",
                    "label": "Handhelds",
                    "color": "#E65100"
                  },
                  {
                    "id": "1f2c9c38-46c0-4053-8e78-53198cb559ed",
                    "label": "Hardware",
                    "color": "#1bbc9c"
                  },
                  {
                    "id": "6dda55c9-e569-4e13-8fe9-5e8521330b0e",
                    "label": "Integration",
                    "color": "#0231E8"
                  },
                  {
                    "id": "366f6af2-44e1-49eb-9a23-af927d681a42",
                    "label": "Microsoft 365",
                    "color": "#f9d900"
                  },
                  {
                    "id": "c6c316e3-00d9-46d2-8969-8ce83a89cae1",
                    "label": "Printing & Scanning",
                    "color": "#e50000"
                  },
                  {
                    "id": "9a35b4a6-5a01-4e66-85b2-252d2f955b49",
                    "label": "Procurement",
                    "color": "#AF7E2E"
                  },
                  {
                    "id": "dd7c29bd-0bca-475d-92f4-ac55fc8f7dc4",
                    "label": "QuickBooks",
                    "color": "#2ecd6f"
                  },
                  {
                    "id": "e8be5927-4583-4fb8-b468-aa68709356cd",
                    "label": "SolidWorks",
                    "color": "#800000"
                  },
                  {
                    "id": "5d490908-be91-48f6-ae65-2d92a1ba8f20",
                    "label": "Windows Client",
                    "color": "#7C4DFF"
                  },
                  {
                    "id": "601d7fd4-5f36-45bd-844d-8f2c6266e800",
                    "label": "Windows Server",
                    "color": "#9b59b6"
                  },
                  {
                    "id": "21acdbb1-b021-463b-8efe-750e59e3fadc",
                    "label": "BarTender",
                    "color": "#f9d900"
                  }
                ]
              },
              "date_created": "1702655044709",
              "hide_from_guests": true,
              "required": false
            },
            {
              "id": "524548a3-20e2-49b9-a59a-067a4a5ed67d",
              "name": "Close Date",
              "type": "date",
              "type_config": {},
              "date_created": "1691000033174",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "593f61fb-1a7d-4935-ba13-f3de27bf6b34",
              "name": "To-Do ID",
              "type": "short_text",
              "type_config": {},
              "date_created": "1691929379604",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "7aed0fc8-82a0-462c-8ff8-cc04c9ded58d",
              "name": "Effort",
              "type": "emoji",
              "type_config": {
                "count": 5,
                "code_point": "1f92c"
              },
              "date_created": "1674833057210",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "91f4293d-d86b-44bb-b84c-ea14cb4939d9",
              "name": "Attachment Link",
              "type": "url",
              "type_config": {},
              "date_created": "1691071377601",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "a3e3972e-db69-4208-8dee-72d6e7fc2365",
              "name": "Progress",
              "type": "automatic_progress",
              "type_config": {
                "tracking": {
                  "subtasks": true,
                  "checklists": true,
                  "assigned_comments": true
                },
                "complete_on": 3,
                "subtask_rollup": false
              },
              "date_created": "1690320512446",
              "hide_from_guests": false,
              "value": {
                "percent_complete": 0
              },
              "required": false
            },
            {
              "id": "b3cb0baf-8f27-4380-be06-8d17d4aa0f6a",
              "name": "Summary [AI]",
              "type": "text",
              "type_config": {
                "ai": {
                  "format": "bullet",
                  "source": "summary"
                }
              },
              "date_created": "1697126873536",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "ba5055a8-5fe3-482a-b956-150ed9761f6a",
              "name": "Job Title",
              "type": "drop_down",
              "type_config": {
                "default": 0,
                "placeholder": null,
                "new_drop_down": true,
                "options": [
                  {
                    "id": "45fa9a31-0a91-43c0-a9ec-6468b94d0e45",
                    "name": "Technical Product Manager",
                    "color": "#b5bcc2",
                    "orderindex": 0
                  },
                  {
                    "id": "cd089fe8-33fd-4d17-ad9a-93d0d7281eb5",
                    "name": "Sr. Mechanical Engineer",
                    "color": "#04A9F4",
                    "orderindex": 1
                  },
                  {
                    "id": "c5213047-24bd-427b-ab16-660fe62437bd",
                    "name": "Client Services Specialist",
                    "color": "#f9d900",
                    "orderindex": 2
                  },
                  {
                    "id": "3145d5d0-0235-4e3e-ad32-a188d0ecc015",
                    "name": "Design Engineer",
                    "color": "#1bbc9c",
                    "orderindex": 3
                  }
                ]
              },
              "date_created": "1675976829768",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "c69df9e5-49e4-485e-9827-026545266843",
              "name": "Attachment App",
              "type": "short_text",
              "type_config": {},
              "date_created": "1691071953732",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "e837c3c9-f848-4abd-9c97-d03c0f52082d",
              "name": "Resolution",
              "type": "labels",
              "type_config": {
                "options": [
                  {
                    "id": "522f00ed-a38f-4c80-b7e8-b960d5e39541",
                    "label": "Cancelled",
                    "color": "#e50000"
                  },
                  {
                    "id": "31113b98-5850-47a3-9c87-392485ada205",
                    "label": "Delegated",
                    "color": "#AF7E2E"
                  },
                  {
                    "id": "e85cdfe2-fd1b-4064-b1c0-fd6d97a5dcec",
                    "label": "Duplicate",
                    "color": "#b5bcc2"
                  },
                  {
                    "id": "348a74de-06f9-479a-a840-678df85beb2a",
                    "label": "H/W: Repaired",
                    "color": "#3082B7"
                  },
                  {
                    "id": "4e4d7e0b-eadb-447f-ab88-4e231ce739c3",
                    "label": "H/W: Replaced",
                    "color": "#04A9F4"
                  },
                  {
                    "id": "f7fb7bd2-e81f-42ec-b923-5cb47cf7b527",
                    "label": "Known Issue",
                    "color": "#f9d900"
                  },
                  {
                    "id": "28fdddd3-18d1-4a04-b55e-729a8512e20d",
                    "label": "No action",
                    "color": "#667684"
                  },
                  {
                    "id": "d3a1e1d9-465e-4333-b412-7a63c52e2e9d",
                    "label": "Password reset",
                    "color": "#E65100"
                  },
                  {
                    "id": "7286d885-1389-4f16-91a8-888365c53379",
                    "label": "Resolved: Change or Update",
                    "color": "#2ecd6f"
                  },
                  {
                    "id": "1ef89082-55dd-484c-84e1-f113f7919e1b",
                    "label": "Resolved: Third-Party",
                    "color": "#1bbc9c"
                  },
                  {
                    "id": "350b1e28-799f-48cd-908e-08e8f77cbb5d",
                    "label": "Resolved: User",
                    "color": "#02BCD4"
                  },
                  {
                    "id": "f0377259-3724-4fcd-95ce-590fd8ea0320",
                    "label": "Restart device",
                    "color": "#7C4DFF"
                  },
                  {
                    "id": "2957a667-a030-45ed-a75c-721a0940c6d5",
                    "label": "Solution deployed",
                    "color": "#EA80FC"
                  },
                  {
                    "id": "9e343dd4-c95d-42a9-9f5f-a7ab84cd6c5c",
                    "label": "Unable to replicate",
                    "color": "#FF4081"
                  },
                  {
                    "id": "f0d7b41e-4201-4ca4-9d4d-2487f45ec822",
                    "label": "User education",
                    "color": "#ff7800"
                  },
                  {
                    "id": "7c0e9152-1a06-445a-b455-a47cb0e57c63",
                    "label": "User error",
                    "color": "#800000"
                  },
                  {
                    "id": "57f26fd1-aa9a-4b60-bb2a-fc98eb3ba886",
                    "label": "User guidance",
                    "color": "#e9d326"
                  },
                  {
                    "id": "8a179bc2-f362-4823-9865-dd7604b8ba71",
                    "label": "Workaround",
                    "color": "#81B1FF"
                  }
                ]
              },
              "date_created": "1693236408881",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "ed124332-f2e5-41fa-925a-fca1eed08ef9",
              "name": "FreeScout URL",
              "type": "url",
              "type_config": {},
              "date_created": "1675896633438",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "fa591d15-5b3e-4803-b49e-4b76f0f32ca2",
              "name": "Attachment Name",
              "type": "short_text",
              "type_config": {},
              "date_created": "1691071977610",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "163d6f58-d773-4f5f-ad67-ac4bc573a739",
              "name": "Print Method",
              "type": "drop_down",
              "type_config": {
                "default": 0,
                "placeholder": null,
                "options": [
                  {
                    "id": "3e4bdb8e-2e8b-4283-b294-c529c7412622",
                    "name": "Print Station",
                    "color": "#f9d900",
                    "orderindex": 0
                  },
                  {
                    "id": "73421e13-7b8a-422e-bf11-ed02c5fb4e60",
                    "name": "Epicor: Print tags",
                    "color": "#02BCD4",
                    "orderindex": 1
                  },
                  {
                    "id": "a6edf489-fd04-4317-899d-be08e5fa7904",
                    "name": "Epicor: Upon saving",
                    "color": "#2ecd6f",
                    "orderindex": 2
                  }
                ]
              },
              "date_created": "1706286929467",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "8ab9b62c-f8c8-4a25-92e2-a575baef8e5e",
              "name": "BAQ",
              "type": "drop_down",
              "type_config": {
                "default": 0,
                "placeholder": null,
                "options": [
                  {
                    "id": "3eea46e9-375e-40cb-ab6c-21bb8fd75b19",
                    "name": "KittingLabel.baq",
                    "color": "#2ecd6f",
                    "orderindex": 0
                  },
                  {
                    "id": "5881265f-dec8-4374-902d-0e4fe3c3c2d7",
                    "name": "PRODUCTBOXLABELS.baq",
                    "color": "#04A9F4",
                    "orderindex": 1
                  },
                  {
                    "id": "f0616050-bb77-4a28-b494-75f15d6a9f9b",
                    "name": "ReleasedLabel.baq",
                    "color": "#e50000",
                    "orderindex": 2
                  }
                ]
              },
              "date_created": "1706279069530",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "e9d3767b-9ce6-4459-835d-af119ac5d8d5",
              "name": "Notes",
              "type": "text",
              "type_config": {},
              "date_created": "1706279094114",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "49d498e1-89af-476a-924a-4492b7937f0b",
              "name": "Label Changes",
              "type": "drop_down",
              "type_config": {
                "default": 0,
                "placeholder": null,
                "options": [
                  {
                    "id": "11a84935-c7ca-4c76-8025-665012785a1d",
                    "name": "Formatting",
                    "color": "#04A9F4",
                    "orderindex": 0
                  },
                  {
                    "id": "0c30a1ee-2667-4b24-aae1-dc61fe9546d9",
                    "name": "Configuration",
                    "color": "#2ecd6f",
                    "orderindex": 1
                  },
                  {
                    "id": "8f5cb74f-9921-4d1f-88cc-1223d54aa6db",
                    "name": "Logic",
                    "color": "#f9d900",
                    "orderindex": 2
                  }
                ]
              },
              "date_created": "1706273834603",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "9e4c714f-0dae-4938-8b35-f078f7f194d6",
              "name": "Category: Epicor",
              "type": "drop_down",
              "type_config": {
                "default": 0,
                "placeholder": null,
                "options": [
                  {
                    "id": "8bfed3f8-e34c-41c6-a502-67f353456adb",
                    "name": "BAQ",
                    "color": "#f9d900",
                    "orderindex": 0
                  },
                  {
                    "id": "5c29b13c-579d-4786-8457-ab133c4beee9",
                    "name": "Customizations",
                    "color": "#ff7800",
                    "orderindex": 1
                  },
                  {
                    "id": "a348e070-69a0-4377-9dae-a7a650df402c",
                    "name": "Data & Database",
                    "color": "#04A9F4",
                    "orderindex": 2
                  },
                  {
                    "id": "cd702026-6c18-4b40-9a76-ebf6b44b7642",
                    "name": "Identity & Access",
                    "color": "#7C4DFF",
                    "orderindex": 3
                  },
                  {
                    "id": "aa82b569-a417-4dab-aeae-48d78209abf2",
                    "name": "Labels",
                    "color": "#FF4081",
                    "orderindex": 4
                  },
                  {
                    "id": "b9df98bc-8535-4293-8ffd-80ad21c462cd",
                    "name": "Reporting",
                    "color": "#AF7E2E",
                    "orderindex": 5
                  },
                  {
                    "id": "abb8df7d-cb45-45cf-b768-3b68d4a78fef",
                    "name": "Security",
                    "color": "#e50000",
                    "orderindex": 6
                  },
                  {
                    "id": "1247b49e-4c32-45e2-9eea-db6a74ec815c",
                    "name": "Update/Upgrade",
                    "color": "#2ecd6f",
                    "orderindex": 7
                  },
                  {
                    "id": "39b7484a-20f8-424e-9bca-df95f1688cdd",
                    "name": "User Support",
                    "color": "#9b59b6",
                    "orderindex": 8
                  }
                ]
              },
              "date_created": "1706292533848",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "b18d9563-75bf-4daf-a9d5-311a16564d7f",
              "name": "User's Email",
              "type": "email",
              "type_config": {},
              "date_created": "1681227976439",
              "hide_from_guests": false,
              "required": false
            }
          ],
          "dependencies": [],
          "linked_tasks": [],
          "locations": [
            {
              "id": "901102206151",
              "name": "Personal List"
            }
          ],
          "team_id": "14335650",
          "url": "https://app.clickup.com/t/86879rkc6",
          "sharing": {
            "public": false,
            "public_share_expires_on": null,
            "public_fields": [
              "assignees",
              "priority",
              "due_date",
              "content",
              "comments",
              "attachments",
              "customFields",
              "subtasks",
              "tags",
              "checklists",
              "coverimage"
            ],
            "token": null,
            "seo_optimized": false
          },
          "permission_level": "create",
          "list": {
            "id": "164286867",
            "name": "Active",
            "access": true
          },
          "project": {
            "id": "90110187278",
            "name": "Active",
            "hidden": false,
            "access": true
          },
          "folder": {
            "id": "90110187278",
            "name": "Active",
            "hidden": false,
            "access": true
          },
          "space": {
            "id": "56901433"
          },
          "subtasks": [
            {
              "id": "86879rt64",
              "custom_id": "CLKUP-2761",
              "custom_item_id": 0,
              "name": "Create app package for Intune",
              "status": {
                "status": "active",
                "orderindex": 2,
                "color": "#445df3",
                "type": "custom"
              },
              "orderindex": "33830823.50000000000000000000000000000000",
              "date_created": "1707414273338",
              "date_updated": "1707414327878",
              "date_closed": null,
              "date_done": null,
              "archived": false,
              "creator": {
                "id": 32274652,
                "username": "Joshua Wowk",
                "color": "#7b68ee",
                "email": "joshua.wowk@hp-ne.com",
                "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
              },
              "assignees": [
                {
                  "id": 32274652,
                  "username": "Joshua Wowk",
                  "color": "#7b68ee",
                  "initials": "JW",
                  "email": "joshua.wowk@hp-ne.com",
                  "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
                }
              ],
              "watchers": [],
              "checklists": [],
              "tags": [],
              "parent": "86879rkc6",
              "priority": {
                "color": "#6fddff",
                "id": "3",
                "orderindex": "3",
                "priority": "normal"
              },
              "due_date": null,
              "start_date": "1707382800000",
              "points": null,
              "time_estimate": null,
              "time_spent": 0,
              "custom_fields": [],
              "dependencies": [],
              "linked_tasks": [],
              "locations": [],
              "url": "https://app.clickup.com/t/86879rt64",
              "subtasks": [
                {
                  "id": "86879rtpa",
                  "custom_id": "CLKUP-2762",
                  "custom_item_id": 0,
                  "name": "Write pkg install script",
                  "status": {
                    "status": "active",
                    "orderindex": 2,
                    "color": "#445df3",
                    "type": "custom"
                  },
                  "orderindex": "33830828.00000000000000000000000000000000",
                  "date_created": "1707414379877",
                  "date_updated": "1707435112262",
                  "date_closed": null,
                  "date_done": null,
                  "archived": false,
                  "creator": {
                    "id": 32274652,
                    "username": "Joshua Wowk",
                    "color": "#7b68ee",
                    "email": "joshua.wowk@hp-ne.com",
                    "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
                  },
                  "assignees": [
                    {
                      "id": 32274652,
                      "username": "Joshua Wowk",
                      "color": "#7b68ee",
                      "initials": "JW",
                      "email": "joshua.wowk@hp-ne.com",
                      "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
                    }
                  ],
                  "watchers": [],
                  "checklists": [],
                  "tags": [],
                  "parent": "86879rt64",
                  "priority": {
                    "color": "#6fddff",
                    "id": "3",
                    "orderindex": "3",
                    "priority": "normal"
                  },
                  "due_date": null,
                  "start_date": "1707382800000",
                  "points": null,
                  "time_estimate": null,
                  "time_spent": 0,
                  "custom_fields": [],
                  "dependencies": [],
                  "linked_tasks": [],
                  "locations": [],
                  "url": "https://app.clickup.com/t/86879rtpa",
                  "subtasks": [
                    {
                      "id": "86879rkc9",
                      "custom_id": "CLKUP-2760",
                      "custom_item_id": 0,
                      "name": "Install BarTender Zebra drivers",
                      "status": {
                        "status": "active",
                        "orderindex": 2,
                        "color": "#445df3",
                        "type": "custom"
                      },
                      "orderindex": "0.25000875000000000000000000000000",
                      "date_created": "1707413656538",
                      "date_updated": "1707414455513",
                      "date_closed": null,
                      "date_done": null,
                      "archived": false,
                      "creator": {
                        "id": 32274652,
                        "username": "Joshua Wowk",
                        "color": "#7b68ee",
                        "email": "joshua.wowk@hp-ne.com",
                        "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
                      },
                      "assignees": [
                        {
                          "id": 32274652,
                          "username": "Joshua Wowk",
                          "color": "#7b68ee",
                          "initials": "JW",
                          "email": "joshua.wowk@hp-ne.com",
                          "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
                        }
                      ],
                      "watchers": [],
                      "checklists": [],
                      "tags": [],
                      "parent": "86879rtpa",
                      "priority": {
                        "color": "#6fddff",
                        "id": "3",
                        "orderindex": "3",
                        "priority": "normal"
                      },
                      "due_date": null,
                      "start_date": "1707382800000",
                      "points": null,
                      "time_estimate": null,
                      "time_spent": 0,
                      "custom_fields": [],
                      "dependencies": [],
                      "linked_tasks": [],
                      "locations": [],
                      "url": "https://app.clickup.com/t/86879rkc9"
                    },
                    {
                      "id": "86879rkca",
                      "custom_id": "CLKUP-2758",
                      "custom_item_id": 0,
                      "name": "Install BarTender w/o SQL Express",
                      "status": {
                        "status": "active",
                        "orderindex": 2,
                        "color": "#445df3",
                        "type": "custom"
                      },
                      "orderindex": "0.50000421000000000000000000000000",
                      "date_created": "1707413656544",
                      "date_updated": "1707414385949",
                      "date_closed": null,
                      "date_done": null,
                      "archived": false,
                      "creator": {
                        "id": 32274652,
                        "username": "Joshua Wowk",
                        "color": "#7b68ee",
                        "email": "joshua.wowk@hp-ne.com",
                        "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
                      },
                      "assignees": [
                        {
                          "id": 32274652,
                          "username": "Joshua Wowk",
                          "color": "#7b68ee",
                          "initials": "JW",
                          "email": "joshua.wowk@hp-ne.com",
                          "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
                        }
                      ],
                      "watchers": [],
                      "checklists": [],
                      "tags": [],
                      "parent": "86879rtpa",
                      "priority": {
                        "color": "#6fddff",
                        "id": "3",
                        "orderindex": "3",
                        "priority": "normal"
                      },
                      "due_date": null,
                      "start_date": "1707382800000",
                      "points": null,
                      "time_estimate": null,
                      "time_spent": 0,
                      "custom_fields": [],
                      "dependencies": [],
                      "linked_tasks": [],
                      "locations": [],
                      "url": "https://app.clickup.com/t/86879rkca"
                    },
                    {
                      "id": "86879rkcc",
                      "custom_id": "CLKUP-2759",
                      "custom_item_id": 0,
                      "name": "Install Epicor edge agent",
                      "status": {
                        "status": "active",
                        "orderindex": 2,
                        "color": "#445df3",
                        "type": "custom"
                      },
                      "orderindex": "0.75000148000000000000000000000000",
                      "date_created": "1707413656574",
                      "date_updated": "1707414385949",
                      "date_closed": null,
                      "date_done": null,
                      "archived": false,
                      "creator": {
                        "id": 32274652,
                        "username": "Joshua Wowk",
                        "color": "#7b68ee",
                        "email": "joshua.wowk@hp-ne.com",
                        "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
                      },
                      "assignees": [
                        {
                          "id": 32274652,
                          "username": "Joshua Wowk",
                          "color": "#7b68ee",
                          "initials": "JW",
                          "email": "joshua.wowk@hp-ne.com",
                          "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
                        }
                      ],
                      "watchers": [],
                      "checklists": [],
                      "tags": [],
                      "parent": "86879rtpa",
                      "priority": {
                        "color": "#6fddff",
                        "id": "3",
                        "orderindex": "3",
                        "priority": "normal"
                      },
                      "due_date": null,
                      "start_date": "1707382800000",
                      "points": null,
                      "time_estimate": null,
                      "time_spent": 0,
                      "custom_fields": [],
                      "dependencies": [],
                      "linked_tasks": [],
                      "locations": [],
                      "url": "https://app.clickup.com/t/86879rkcc"
                    }
                  ]
                }
              ]
            }
          ],
          "attachments": []
        }
      }
    ],
    "HTTP Request": [
      {
        "json": {
          "id": "86879rkc6",
          "custom_id": "CLKUP-2757",
          "custom_item_id": 0,
          "name": "Print Station Deployment",
          "text_content": "Printer Details\n\n\n\nHostname\nIP Address\nModel\nZEBRA-01\n10.30.0.249\nZT510\nZEBRA-02\n10.30.1.59\nZT111\nZEBRA-03\n10.30.1.57\nZT111\nZEBRA-04\n10.30.1.61\nZT111\nZEBRA-05\n10.30.1.60\nZT111\nZEBRA-06\n10.30.1.47\nZT111\nZEBRA-07\n10.30.1.62\nZT510\nZEBRA-08\n10.20.0.161\nZT510",
          "description": "Printer Details\n\n\n\nHostname\nIP Address\nModel\nZEBRA-01\n10.30.0.249\nZT510\nZEBRA-02\n10.30.1.59\nZT111\nZEBRA-03\n10.30.1.57\nZT111\nZEBRA-04\n10.30.1.61\nZT111\nZEBRA-05\n10.30.1.60\nZT111\nZEBRA-06\n10.30.1.47\nZT111\nZEBRA-07\n10.30.1.62\nZT510\nZEBRA-08\n10.20.0.161\nZT510",
          "status": {
            "id": "sc164286867_KXQ5xLef",
            "status": "urgent",
            "color": "#e95656",
            "orderindex": 3,
            "type": "custom"
          },
          "orderindex": "39722732.50000000000000000000000000000000",
          "date_created": "1707413656142",
          "date_updated": "1707859028477",
          "date_closed": null,
          "date_done": null,
          "archived": false,
          "creator": {
            "id": 32274652,
            "username": "Joshua Wowk",
            "color": "#7b68ee",
            "email": "joshua.wowk@hp-ne.com",
            "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
          },
          "assignees": [
            {
              "id": 32274652,
              "username": "Joshua Wowk",
              "color": "#7b68ee",
              "initials": "JW",
              "email": "joshua.wowk@hp-ne.com",
              "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
            }
          ],
          "watchers": [
            {
              "id": 32274652,
              "username": "Joshua Wowk",
              "color": "#7b68ee",
              "initials": "JW",
              "email": "joshua.wowk@hp-ne.com",
              "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
            }
          ],
          "checklists": [],
          "tags": [],
          "parent": null,
          "priority": {
            "color": "#f50000",
            "id": "1",
            "orderindex": "1",
            "priority": "urgent"
          },
          "due_date": null,
          "start_date": "1707382800000",
          "points": null,
          "time_estimate": null,
          "time_spent": 0,
          "custom_fields": [
            {
              "id": "dfa269c5-4f82-449f-be36-6aa5a8665875",
              "name": "Project/User",
              "type": "drop_down",
              "type_config": {
                "new_drop_down": true,
                "options": [
                  {
                    "id": "9013c049-f879-4ec3-812b-6c2f346d8056",
                    "name": "Asset Mgmt",
                    "color": "#306857",
                    "orderindex": 0
                  },
                  {
                    "id": "6b775477-b83b-41f5-9d7f-32b13e92d048",
                    "name": "Azure/Intune",
                    "color": "#0231E8",
                    "orderindex": 1
                  },
                  {
                    "id": "1a5f72b2-d636-4f4a-a316-cec8ba3b337c",
                    "name": "Conference Rooms",
                    "color": "#7C4DFF",
                    "orderindex": 2
                  },
                  {
                    "id": "787cb611-5056-4c0b-ab13-11452e19980a",
                    "name": "Egnyte",
                    "color": "#1bbc9c",
                    "orderindex": 3
                  },
                  {
                    "id": "acad4ab3-0370-437c-bc06-ec664f1ea0af",
                    "name": "Endpoint Mgmt",
                    "color": "#f9d900",
                    "orderindex": 4
                  },
                  {
                    "id": "d99cedc3-9413-4754-aa45-9b96d47f32f9",
                    "name": "Epicor",
                    "color": "#3082B7",
                    "orderindex": 5
                  },
                  {
                    "id": "524dd6ca-9d54-4c03-ac5d-bef4d10d2468",
                    "name": "Getinge Integration",
                    "color": "#9C6BEB",
                    "orderindex": 6
                  },
                  {
                    "id": "446bad52-3f34-45eb-a030-c7be2d385734",
                    "name": "Hardware",
                    "color": "#2ecd6f",
                    "orderindex": 7
                  },
                  {
                    "id": "885019a0-112a-4ed4-965d-a95c13452cd8",
                    "name": "IT Modernization",
                    "color": "#ff7800",
                    "orderindex": 8
                  },
                  {
                    "id": "883c5296-2336-4f88-8150-6f5bc96549da",
                    "name": "IT Operations",
                    "color": "#2FD4BB",
                    "orderindex": 9
                  },
                  {
                    "id": "e041bb1a-e9da-4a69-9bc7-2a6a5ddf4d13",
                    "name": "Microsoft 365",
                    "color": "#bf55ec",
                    "orderindex": 10
                  },
                  {
                    "id": "79861743-70b1-40d0-b18d-631290ad0985",
                    "name": "Procurement",
                    "color": "#2A5418",
                    "orderindex": 11
                  },
                  {
                    "id": "ccb727d0-0069-414d-8041-1498e9be7fa5",
                    "name": "QuickBooks",
                    "color": "#2ecd6f",
                    "orderindex": 12
                  },
                  {
                    "id": "197b3122-d39a-4e64-ad5f-f9aeda7918b1",
                    "name": "SolidWorks",
                    "color": "#e50000",
                    "orderindex": 13
                  },
                  {
                    "id": "a7142e8a-362c-4faa-b0c5-3186f8d10980",
                    "name": "--------",
                    "color": null,
                    "orderindex": 14
                  },
                  {
                    "id": "e9a8160e-b9bb-4810-ae1c-2251caa47ddc",
                    "name": "Client Services",
                    "color": "#18E196",
                    "orderindex": 15
                  },
                  {
                    "id": "d4bb3271-e12f-486f-bc28-eefc172bb69b",
                    "name": "---------",
                    "color": null,
                    "orderindex": 16
                  },
                  {
                    "id": "343232d9-1dc0-4937-b3ad-13b35a760a78",
                    "name": "Amanda Carey",
                    "color": null,
                    "orderindex": 17
                  },
                  {
                    "id": "2c27bfff-c7e2-4166-b5bd-6e8d5ab15939",
                    "name": "Amy",
                    "color": "#E65100",
                    "orderindex": 18
                  },
                  {
                    "id": "ae051f58-8831-42cb-b04a-d5f291f1294f",
                    "name": "Andrew Miga",
                    "color": null,
                    "orderindex": 19
                  },
                  {
                    "id": "0fb3b7a3-1b56-4a6f-b482-b77ece4b58d8",
                    "name": "Brenden Jelley",
                    "color": null,
                    "orderindex": 20
                  },
                  {
                    "id": "45149780-b5aa-4334-922f-235c0adba2e2",
                    "name": "Dave Ferchen",
                    "color": "#E65100",
                    "orderindex": 21
                  },
                  {
                    "id": "ed1ac9b7-1d58-4cba-94c7-a5d8e6446577",
                    "name": "David Leva-Rousseau",
                    "color": null,
                    "orderindex": 22
                  },
                  {
                    "id": "b2598547-85b5-4eb4-b57a-5de247b937be",
                    "name": "Derek Sullivan",
                    "color": "#1bbc9c",
                    "orderindex": 23
                  },
                  {
                    "id": "58dd334c-6eec-43a0-89f1-f15687489d56",
                    "name": "Eddie Hannon",
                    "color": null,
                    "orderindex": 24
                  },
                  {
                    "id": "0d2baf15-6179-4766-b92e-e8285e2959b3",
                    "name": "Elinor",
                    "color": "#bf55ec",
                    "orderindex": 25
                  },
                  {
                    "id": "d2cd22b1-5830-4e88-981c-02f3b260d668",
                    "name": "Emily Peterson",
                    "color": null,
                    "orderindex": 26
                  },
                  {
                    "id": "0c595a30-2c95-4a8d-925d-addc6fe271ec",
                    "name": "Eric Vario",
                    "color": null,
                    "orderindex": 27
                  },
                  {
                    "id": "619e31c7-98b5-45fe-8175-2ea28d5d989e",
                    "name": "Frank",
                    "color": "#E65100",
                    "orderindex": 28
                  },
                  {
                    "id": "17b283fe-5e96-42a4-8dbb-55d87d414075",
                    "name": "Jake Surprenant",
                    "color": null,
                    "orderindex": 29
                  },
                  {
                    "id": "1ea7897d-6559-45a7-acc3-0910b961dc62",
                    "name": "Jeisel",
                    "color": null,
                    "orderindex": 30
                  },
                  {
                    "id": "65f4ba30-bfb0-4a1b-92b9-d39c4e59a1c5",
                    "name": "Jen",
                    "color": null,
                    "orderindex": 31
                  },
                  {
                    "id": "a6846715-3608-419e-84d9-630e890a1d3f",
                    "name": "Jen Ramirez",
                    "color": null,
                    "orderindex": 32
                  },
                  {
                    "id": "3e32fdf3-b71c-4292-b16a-b3faf3a64ffc",
                    "name": "Jeremy",
                    "color": "#E65100",
                    "orderindex": 33
                  },
                  {
                    "id": "084c89c2-b10d-491c-a5dd-ad4c3d9f60a1",
                    "name": "Josh Akpey",
                    "color": null,
                    "orderindex": 34
                  },
                  {
                    "id": "dc6fb30f-c7b1-4c61-952c-40997a253bfc",
                    "name": "Katie Flynn",
                    "color": null,
                    "orderindex": 35
                  },
                  {
                    "id": "fa9467fb-7e1f-4d0e-be1d-a5264de25e15",
                    "name": "Katie Lyons",
                    "color": "#ff7800",
                    "orderindex": 36
                  },
                  {
                    "id": "dc66a8b0-3200-40cd-a080-129b7310a2db",
                    "name": "Ken Jacobsen",
                    "color": null,
                    "orderindex": 37
                  },
                  {
                    "id": "fea98627-7ebb-4c7a-9cb7-8967d38c3d71",
                    "name": "Kevin Sundara",
                    "color": null,
                    "orderindex": 38
                  },
                  {
                    "id": "70fa3597-c90a-4286-ad34-8c28e8a4ebc5",
                    "name": "Khiry Chivers",
                    "color": "#e50000",
                    "orderindex": 39
                  },
                  {
                    "id": "fa3ce5be-ab46-48b2-8801-a775d526914d",
                    "name": "Linda",
                    "color": "#2ecd6f",
                    "orderindex": 40
                  },
                  {
                    "id": "9b1c863a-f37c-494e-ad8e-7fbc8277edb3",
                    "name": "Lou",
                    "color": "#f9d900",
                    "orderindex": 41
                  },
                  {
                    "id": "578da466-4e29-4e14-aa0d-f363a8fe7df4",
                    "name": "Lynford",
                    "color": null,
                    "orderindex": 42
                  },
                  {
                    "id": "000faf86-06a0-4779-980f-a4b8d2efe432",
                    "name": "Maisam",
                    "color": null,
                    "orderindex": 43
                  },
                  {
                    "id": "2ae9fccc-d0c2-43f6-ad74-09f963889349",
                    "name": "Mark",
                    "color": "#E65100",
                    "orderindex": 44
                  },
                  {
                    "id": "89deda51-4f4d-4769-b561-f1d8e5f1de05",
                    "name": "Mary Benedetti",
                    "color": "#E65100",
                    "orderindex": 45
                  },
                  {
                    "id": "23f0968f-e165-4727-befb-35993b7679c9",
                    "name": "Mary Ellen",
                    "color": "#E65100",
                    "orderindex": 46
                  },
                  {
                    "id": "05926c52-5312-4d49-99af-a5a190fd809b",
                    "name": "Matt",
                    "color": null,
                    "orderindex": 47
                  },
                  {
                    "id": "813116a0-3312-4a4e-9254-71751bd3945c",
                    "name": "Maxfield",
                    "color": null,
                    "orderindex": 48
                  },
                  {
                    "id": "6254d0cf-c995-40d5-a7cb-71f6f0f36617",
                    "name": "MDS",
                    "color": null,
                    "orderindex": 49
                  },
                  {
                    "id": "ea8690e0-8a7d-4156-8208-905b6d74143a",
                    "name": "Melissa Santiago",
                    "color": null,
                    "orderindex": 50
                  },
                  {
                    "id": "009917ef-c503-4c37-b13d-e05238b2a30b",
                    "name": "Melissa Zuba",
                    "color": null,
                    "orderindex": 51
                  },
                  {
                    "id": "31145568-ada8-4ef5-ab6e-93a20bc45076",
                    "name": "Mike G.",
                    "color": null,
                    "orderindex": 52
                  },
                  {
                    "id": "dd34f157-c0be-4872-8aea-ba3966f0c8b4",
                    "name": "Mike Harpin",
                    "color": null,
                    "orderindex": 53
                  },
                  {
                    "id": "66a2f556-90ab-4e58-92ec-7a5cc487914e",
                    "name": "Peter",
                    "color": null,
                    "orderindex": 54
                  },
                  {
                    "id": "c4385821-326a-4ba0-add1-3ff4782fb57c",
                    "name": "Sandy",
                    "color": "#E65100",
                    "orderindex": 55
                  },
                  {
                    "id": "2df99b8b-77c5-44de-8044-9da234284204",
                    "name": "Shannon",
                    "color": "#E65100",
                    "orderindex": 56
                  },
                  {
                    "id": "2a28517f-6dd6-4b0d-b817-94a044e9c01c",
                    "name": "Stacy Boyd",
                    "color": "#E65100",
                    "orderindex": 57
                  },
                  {
                    "id": "a08d518a-2263-4781-a760-52f1691bdc6f",
                    "name": "Steve B.",
                    "color": null,
                    "orderindex": 58
                  },
                  {
                    "id": "a315a32d-8b4e-4a12-9358-149a30303b16",
                    "name": "Sully",
                    "color": null,
                    "orderindex": 59
                  },
                  {
                    "id": "0c21cf2a-bd71-471e-8b59-998893eec8d4",
                    "name": "Tom Denomme",
                    "color": null,
                    "orderindex": 60
                  },
                  {
                    "id": "e4f153d4-a5d0-4c3c-a7e3-2927ca20edc4",
                    "name": "Jon Dendy",
                    "color": "#231E1E",
                    "orderindex": 61
                  },
                  {
                    "id": "669cb6b6-a1b6-44eb-b5a7-39e8f9f9bf84",
                    "name": "Patrick Eddy",
                    "color": "#3397dd",
                    "orderindex": 62
                  },
                  {
                    "id": "5c047c20-420e-49c0-adbe-c4980c93e683",
                    "name": "Jeff Ballou",
                    "color": "#48FBC5",
                    "orderindex": 63
                  },
                  {
                    "id": "d5187c71-d728-45f5-ab5c-d861d7c37750",
                    "name": "Alexis McNabb",
                    "color": "#8EC315",
                    "orderindex": 64
                  },
                  {
                    "id": "e4c16abf-8ac7-4c6d-9388-a205959e7d67",
                    "name": "Josh Akpey",
                    "color": "#D4A93A",
                    "orderindex": 65
                  },
                  {
                    "id": "4ea9ce0e-6119-48ae-972e-71055cb1eff5",
                    "name": "Cox",
                    "color": "#1506BB",
                    "orderindex": 66
                  },
                  {
                    "id": "f0eb1a4b-32a4-4694-ae4c-db5bdf5ca2cf",
                    "name": "Amy Dupuis",
                    "color": "#0DAE73",
                    "orderindex": 67
                  },
                  {
                    "id": "00fb043b-f680-479c-9e2c-25df4c46d356",
                    "name": "Jeremy Tripodi",
                    "color": "#9b59b6",
                    "orderindex": 68
                  },
                  {
                    "id": "374f1368-9b8f-4420-9791-dadacb565a52",
                    "name": "n8n Project/User",
                    "color": "#A67A11",
                    "orderindex": 69
                  },
                  {
                    "id": "4d7bdf82-f285-4aa9-ac86-909256022326",
                    "name": "Facilities",
                    "color": "#F995D7",
                    "orderindex": 70
                  },
                  {
                    "id": "4f963a9b-f4e0-466b-826f-64f3b35b1a3e",
                    "name": "Epicor Labels",
                    "color": "#02BCD4",
                    "orderindex": 71
                  },
                  {
                    "id": "f81ddd7f-6f3e-4413-9b9f-1be25f37e555",
                    "name": "Kathy",
                    "color": "#6ECD2E",
                    "orderindex": 72
                  },
                  {
                    "id": "e20d2f3f-8b38-46d2-8acb-efb56f19bfc9",
                    "name": "Kim Harrington",
                    "color": "#8B9CC1",
                    "orderindex": 73
                  }
                ]
              },
              "date_created": "1686926237792",
              "hide_from_guests": false,
              "value": 71,
              "required": false
            },
            {
              "id": "c2d254e3-66bf-4033-8522-006928efd6cb",
              "name": "Type",
              "type": "drop_down",
              "type_config": {
                "new_drop_down": true,
                "options": [
                  {
                    "id": "c005b218-81b9-4e42-98cf-92b12d696c97",
                    "name": "Request",
                    "color": "#f19035",
                    "orderindex": 0
                  },
                  {
                    "id": "ce29e9c1-479f-419a-aa94-daed12cad45c",
                    "name": "Incident",
                    "color": "#de5454",
                    "orderindex": 1
                  },
                  {
                    "id": "79e88217-9e6b-4c74-b576-48e1d09bf6a1",
                    "name": "Epicor - Project",
                    "color": "#3082B7",
                    "orderindex": 2
                  },
                  {
                    "id": "2bd42b01-01f2-4a37-ad17-963855bc7d05",
                    "name": "Epicor - Client",
                    "color": "#357a75",
                    "orderindex": 3
                  },
                  {
                    "id": "f117d07f-d3da-4f31-aab8-9e5c36c2d968",
                    "name": "Epicor - IAM",
                    "color": "#0231E8",
                    "orderindex": 4
                  },
                  {
                    "id": "10619450-e37b-452c-9257-7773d0d42b34",
                    "name": "Epicor - Change",
                    "color": "#04A9F4",
                    "orderindex": 5
                  },
                  {
                    "id": "73c0c4a4-a52b-4211-b7c2-c20bc21ce378",
                    "name": "Epicor - Request",
                    "color": "#81B1FF",
                    "orderindex": 6
                  },
                  {
                    "id": "72cdd13c-0694-45c0-aa1f-defa349a4d2e",
                    "name": "Asset Mgmt",
                    "color": "#efe7b1",
                    "orderindex": 7
                  },
                  {
                    "id": "5ad24d1c-9867-4e1c-81cf-3f8180211e17",
                    "name": "Operations",
                    "color": "#1bbc9c",
                    "orderindex": 8
                  },
                  {
                    "id": "cebeb648-a10d-4cf9-b760-ab0cb4310bf8",
                    "name": "Other",
                    "color": "#b5bcc2",
                    "orderindex": 9
                  },
                  {
                    "id": "38c70602-430f-4a04-b452-96f51a62bbf0",
                    "name": "------------------------",
                    "color": null,
                    "orderindex": 10
                  },
                  {
                    "id": "291b928d-099f-44f1-b3bf-260191e3c2ec",
                    "name": "Change Request",
                    "color": "#fbe972",
                    "orderindex": 11
                  },
                  {
                    "id": "f8b3bee9-5db0-47a0-ba68-ccf6bac81e5e",
                    "name": "Inquiry",
                    "color": "#57e08f",
                    "orderindex": 12
                  },
                  {
                    "id": "073ade37-2cdd-40d1-b63e-6e10fb494e94",
                    "name": "Idea/Innovation",
                    "color": "#99a3fb",
                    "orderindex": 13
                  },
                  {
                    "id": "d8e1060c-c6a2-4dc0-8ede-870d6b018b7e",
                    "name": "1:1 Topic",
                    "color": "#f57bee",
                    "orderindex": 14
                  },
                  {
                    "id": "61291b62-fc07-47b8-8d32-eed47b56cb33",
                    "name": "Personal",
                    "color": "#f77da6",
                    "orderindex": 15
                  }
                ]
              },
              "date_created": "1671051092981",
              "hide_from_guests": false,
              "value": 2,
              "required": false
            },
            {
              "id": "a59d846e-42c9-4b9a-ae6f-32464212d282",
              "name": "Apps",
              "type": "drop_down",
              "type_config": {
                "new_drop_down": true,
                "options": [
                  {
                    "id": "75c132ad-2f44-4645-b08f-2957b28a1c75",
                    "name": "Azure",
                    "color": "#0080ff",
                    "orderindex": 0
                  },
                  {
                    "id": "69f60dbb-dc25-4d8d-a03c-9342f8129f22",
                    "name": "Adobe Acrobat",
                    "color": "#e44040",
                    "orderindex": 1
                  },
                  {
                    "id": "2f1ac3fb-17b1-4055-af87-894ca557f2e9",
                    "name": "ClickUp",
                    "color": "#FF4081",
                    "orderindex": 2
                  },
                  {
                    "id": "52170e1c-0389-47d7-8e8b-8655eb0f60e7",
                    "name": "DW Spectrum",
                    "color": "#E65100",
                    "orderindex": 3
                  },
                  {
                    "id": "65f2c876-f046-4ba6-b378-5ae0e68c1971",
                    "name": "Egnyte",
                    "color": "#27b69a",
                    "orderindex": 4
                  },
                  {
                    "id": "ff0a9b36-4759-418d-8d42-ec34ea7e9056",
                    "name": "Epicor",
                    "color": "#3397dd",
                    "orderindex": 5
                  },
                  {
                    "id": "512b1bba-ab38-4a13-8b45-64ff057a75a5",
                    "name": "Google Chrome",
                    "color": "#ebda61",
                    "orderindex": 6
                  },
                  {
                    "id": "b7b82aeb-98cf-4508-8485-ab8cb1cc31b6",
                    "name": "Intune",
                    "color": "#81B1FF",
                    "orderindex": 7
                  },
                  {
                    "id": "0196fca4-1e28-4919-8d38-d5eb33f44b33",
                    "name": "Microsoft 365",
                    "color": "#486aed",
                    "orderindex": 8
                  },
                  {
                    "id": "30080f89-17a7-46ef-8d93-d31f8adf4db9",
                    "name": "Microsoft Edge",
                    "color": "#04A9F4",
                    "orderindex": 9
                  },
                  {
                    "id": "11f1198a-76ef-4771-b78d-d84a21a7c2ad",
                    "name": "n8n",
                    "color": "#e50000",
                    "orderindex": 10
                  },
                  {
                    "id": "03ba5632-76e5-4858-9c91-7b07ee8a2f7a",
                    "name": "Office Desktop",
                    "color": "#f79e4e",
                    "orderindex": 11
                  },
                  {
                    "id": "b0e9532e-9606-4935-aee6-f96f822950ff",
                    "name": "OneDrive",
                    "color": "#04A9F4",
                    "orderindex": 12
                  },
                  {
                    "id": "960b8485-9b97-49f5-a865-66838e7210d4",
                    "name": "Outlook",
                    "color": "#2476eb",
                    "orderindex": 13
                  },
                  {
                    "id": "9962dba8-85b4-42b7-8ae8-241febb17eb4",
                    "name": "Power Platform",
                    "color": "#bf55ec",
                    "orderindex": 14
                  },
                  {
                    "id": "8ff2226c-47bb-4512-9e52-9ef0f233a02b",
                    "name": "QuickBooks",
                    "color": "#2ecd6f",
                    "orderindex": 15
                  },
                  {
                    "id": "d1200544-0ed3-426e-bc63-63a6b339e072",
                    "name": "RMM",
                    "color": "#f9d900",
                    "orderindex": 16
                  },
                  {
                    "id": "f295d808-075e-4e6a-ac47-0f1d7757bddd",
                    "name": "SharePoint",
                    "color": "#3082B7",
                    "orderindex": 17
                  },
                  {
                    "id": "43b92d7e-7f43-495b-a30a-35527c29213f",
                    "name": "SolidWorks",
                    "color": "#e23535",
                    "orderindex": 18
                  },
                  {
                    "id": "f766f2b6-1761-41b4-9b18-bb01b0049ec3",
                    "name": "SSRS Report Builder",
                    "color": "#02BCD4",
                    "orderindex": 19
                  },
                  {
                    "id": "6732ba6a-6a20-4eee-92c2-d3d2266b8a4f",
                    "name": "Teams",
                    "color": "#697cef",
                    "orderindex": 20
                  },
                  {
                    "id": "dd54d0c6-261b-4b14-acaa-4e4b6b63712b",
                    "name": "VPN",
                    "color": "#e9d441",
                    "orderindex": 21
                  },
                  {
                    "id": "73ca3d19-6674-4519-9809-f89acb94d5d5",
                    "name": "Windows",
                    "color": "#2ecd6f",
                    "orderindex": 22
                  },
                  {
                    "id": "2d2e174e-f55b-46c4-ae52-c2667aa6eb08",
                    "name": "Zoom",
                    "color": "#81B1FF",
                    "orderindex": 23
                  },
                  {
                    "id": "a1ab0061-87e4-4bef-9abe-795aca8115c9",
                    "name": "N/A",
                    "color": "#667684",
                    "orderindex": 24
                  }
                ]
              },
              "date_created": "1682088851650",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "1f0eb8f5-dc13-4d70-bfa0-79c19308bee5",
              "name": "Predecessor",
              "type": "tasks",
              "type_config": {
                "fields": []
              },
              "date_created": "1695162799055",
              "hide_from_guests": false,
              "value": [
                {
                  "id": "868768d8n",
                  "name": "Setup Epicor workstation printing",
                  "status": "done",
                  "color": "#1dc270",
                  "custom_type": null,
                  "team_id": "14335650",
                  "deleted": false,
                  "url": "https://app.clickup.com/t/868768d8n",
                  "access": true,
                  "custom_id": "CLKUP-2603"
                }
              ],
              "required": false
            },
            {
              "id": "92e0d999-b950-4b1a-8db4-631892318a08",
              "name": "Under 15 mins",
              "type": "checkbox",
              "type_config": {},
              "date_created": "1676415225279",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "f1f2b105-0388-4d3d-a5d6-25b72422fae9",
              "name": "Due within week",
              "type": "checkbox",
              "type_config": {},
              "date_created": "1690842095442",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "7823bf00-edc8-493f-a2cb-fb3b57d93d1c",
              "name": "'Focus'",
              "type": "checkbox",
              "type_config": {},
              "date_created": "1692198241570",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "5dad0984-4fc3-4364-9f9b-298f656e2d15",
              "name": "Systems",
              "type": "drop_down",
              "type_config": {
                "new_drop_down": true,
                "options": [
                  {
                    "id": "95a2aed2-1777-49e9-9e36-59073fe379ed",
                    "name": "Azure",
                    "color": "#274ee4",
                    "orderindex": 0
                  },
                  {
                    "id": "872a2544-f8de-4735-9b2a-4488f5bf9a5b",
                    "name": "Azure AD & Intune",
                    "color": "#04A9F4",
                    "orderindex": 1
                  },
                  {
                    "id": "31b0edce-754f-4299-92e1-c0274d08a32a",
                    "name": "Cox Phones",
                    "color": "#800000",
                    "orderindex": 2
                  },
                  {
                    "id": "a1313525-5018-4165-9d46-fc09c0722fd2",
                    "name": "DW Spectrum",
                    "color": "#ff7800",
                    "orderindex": 3
                  },
                  {
                    "id": "720baba0-5c79-4126-830b-9ebd740da86e",
                    "name": "Egnyte",
                    "color": "#1bbcb1",
                    "orderindex": 4
                  },
                  {
                    "id": "450abf2f-0bdc-4d22-801f-b7057c8d0bd7",
                    "name": "Envoy",
                    "color": "#e50000",
                    "orderindex": 5
                  },
                  {
                    "id": "0053f3ac-f797-494d-8931-f4ce4162a1cc",
                    "name": "Epicor",
                    "color": "#097287",
                    "orderindex": 6
                  },
                  {
                    "id": "4e862c56-ddff-4f74-af40-aa869d1636c3",
                    "name": "ETQ",
                    "color": "#FF4081",
                    "orderindex": 7
                  },
                  {
                    "id": "52bceaf2-86b5-48ef-81d5-548405914eaa",
                    "name": "Microsoft 365",
                    "color": "#f9d900",
                    "orderindex": 8
                  },
                  {
                    "id": "eb6dbbde-44f4-4db3-a13a-d152fe72cf7d",
                    "name": "Network & Wi-Fi",
                    "color": "#7C4DFF",
                    "orderindex": 9
                  },
                  {
                    "id": "204d21aa-d5a1-4a11-937e-f2f09addf64b",
                    "name": "Printing",
                    "color": "#b5bcc2",
                    "orderindex": 10
                  },
                  {
                    "id": "0b1fa936-f7b6-474a-8127-f61c1ddb49a6",
                    "name": "QuickBooks",
                    "color": "#2ecd6f",
                    "orderindex": 11
                  },
                  {
                    "id": "deeabf5e-fcd7-48ec-abac-a0b4cbe9fa36",
                    "name": "SolidWorks",
                    "color": "#e50000",
                    "orderindex": 12
                  },
                  {
                    "id": "801e1973-1541-4a65-96e1-f200e76463a2",
                    "name": "Windows Client",
                    "color": "#ff7800",
                    "orderindex": 13
                  },
                  {
                    "id": "79c6f3dd-be97-4691-804f-8a09395f619a",
                    "name": "Windows Server",
                    "color": "#E65100",
                    "orderindex": 14
                  }
                ]
              },
              "date_created": "1702570631939",
              "hide_from_guests": true,
              "required": false
            },
            {
              "id": "f47f3453-232c-43b6-bc42-243e2810826e",
              "name": "Category",
              "type": "drop_down",
              "type_config": {
                "new_drop_down": true,
                "options": [
                  {
                    "id": "fed6c849-fc42-485f-9ed7-fe0f96d1a705",
                    "name": "Automation",
                    "color": "#9b59b6",
                    "orderindex": 0
                  },
                  {
                    "id": "a194767a-1435-4b72-9fca-b3596962ee30",
                    "name": "Applications",
                    "color": "#fb5252",
                    "orderindex": 1
                  },
                  {
                    "id": "a275b2d0-c467-41bc-9663-47007cb59326",
                    "name": "Cloud Ops",
                    "color": "#81B1FF",
                    "orderindex": 2
                  },
                  {
                    "id": "46211a7b-65fd-4d27-a335-4d9954acd6b9",
                    "name": "Collaboration",
                    "color": "#7C4DFF",
                    "orderindex": 3
                  },
                  {
                    "id": "0a3b6328-0305-416a-8d0d-527355e6def2",
                    "name": "Data & Database",
                    "color": "#54EAE3",
                    "orderindex": 4
                  },
                  {
                    "id": "18f53b3b-5861-409f-99db-4f1f57796586",
                    "name": "Endpoint Mgmt",
                    "color": "#f79238",
                    "orderindex": 5
                  },
                  {
                    "id": "d646c105-3d03-4b7a-9abe-95835d8c0c5f",
                    "name": "Email",
                    "color": "#f363eb",
                    "orderindex": 6
                  },
                  {
                    "id": "cb565425-2266-4787-908e-84acea844208",
                    "name": "Facilities",
                    "color": "#667684",
                    "orderindex": 7
                  },
                  {
                    "id": "1f9a7bf2-ad00-4909-89c9-da029db1194e",
                    "name": "Facility Security",
                    "color": "#b5bcc2",
                    "orderindex": 8
                  },
                  {
                    "id": "9c8bd0ee-7555-4ce6-88b4-38b64aaefcbd",
                    "name": "File/Folder Access",
                    "color": "#086C01",
                    "orderindex": 9
                  },
                  {
                    "id": "5b9033d2-9e64-4959-a810-92f665c5cdf1",
                    "name": "Hardware",
                    "color": "#9d7df9",
                    "orderindex": 10
                  },
                  {
                    "id": "8b36f8d0-bcda-410a-ac62-09e69ab60503",
                    "name": "HR/Personnel",
                    "color": "#f5e46e",
                    "orderindex": 11
                  },
                  {
                    "id": "6252c707-b9ce-412a-95a1-218d41fca4ed",
                    "name": "Identity & Access",
                    "color": "#f14e4e",
                    "orderindex": 12
                  },
                  {
                    "id": "62564877-5389-4a56-bc10-01bd69232696",
                    "name": "InfoSec",
                    "color": "#e75a5a",
                    "orderindex": 13
                  },
                  {
                    "id": "6fa2ecb5-5bf3-476a-8075-2f876aafcb50",
                    "name": "Integration",
                    "color": "#9f7efb",
                    "orderindex": 14
                  },
                  {
                    "id": "66f44110-7275-47b2-a3b2-2d5611022ea4",
                    "name": "Marketing",
                    "color": "#DF0D50",
                    "orderindex": 15
                  },
                  {
                    "id": "b1a4e87c-623f-43b1-99ee-95d403219ce7",
                    "name": "Meetings & Conf. Rooms",
                    "color": "#4363e0",
                    "orderindex": 16
                  },
                  {
                    "id": "ae2a2b2c-3868-4232-9ea2-6d0c4376d9ca",
                    "name": "Network & VPN",
                    "color": "#81B1FF",
                    "orderindex": 17
                  },
                  {
                    "id": "636eef27-dc08-412b-a1c4-5a2f59964da1",
                    "name": "Phones",
                    "color": "#04A9F4",
                    "orderindex": 18
                  },
                  {
                    "id": "9dc4a685-aa86-48b6-96c7-e89f6c30525f",
                    "name": "Printing & Scanning",
                    "color": "#1bbc9c",
                    "orderindex": 19
                  },
                  {
                    "id": "24c6fdfd-c505-4624-a18a-532a3f2c1a07",
                    "name": "Policy & Planning",
                    "color": "#CD560F",
                    "orderindex": 20
                  },
                  {
                    "id": "3b96fe64-9190-4269-aec1-b1604ff05352",
                    "name": "Process Improvement",
                    "color": "#DFEF8A",
                    "orderindex": 21
                  },
                  {
                    "id": "51bbcbc0-e152-463c-a64f-97fcb357dd4d",
                    "name": "Procurement",
                    "color": "#8645d4",
                    "orderindex": 22
                  },
                  {
                    "id": "3f6f0cb1-e470-4c50-97ed-b631cd854de4",
                    "name": "Project/Task Mgmt",
                    "color": "#2ecd6f",
                    "orderindex": 23
                  },
                  {
                    "id": "28519db6-ed9b-4798-921a-21d169f311f5",
                    "name": "Security",
                    "color": "#f93b3b",
                    "orderindex": 24
                  },
                  {
                    "id": "77303d61-8fd2-468b-ab9f-0bba132a3cf4",
                    "name": "Servers",
                    "color": "#9D7464",
                    "orderindex": 25
                  },
                  {
                    "id": "d278ea84-bafb-494e-8211-b3502656283e",
                    "name": "Service Provider",
                    "color": "#3082B7",
                    "orderindex": 26
                  },
                  {
                    "id": "743dfe7b-ac97-4536-898b-831d9bdd9ff0",
                    "name": "Training",
                    "color": "#e7d14c",
                    "orderindex": 27
                  },
                  {
                    "id": "378c1a1f-c322-4c10-b72e-5f2b3131d9d2",
                    "name": "Windows/OS",
                    "color": "#2ecd6f",
                    "orderindex": 28
                  },
                  {
                    "id": "42dc83da-9282-4a10-b678-27ed59e2e944",
                    "name": "Wiring/Cable Mgmt",
                    "color": "#AF7E2E",
                    "orderindex": 29
                  },
                  {
                    "id": "46712d67-e8cc-4f6a-99b3-0fc5dfa294a7",
                    "name": "Workstation/Desk",
                    "color": "#e6793e",
                    "orderindex": 30
                  },
                  {
                    "id": "8dda593a-acb0-45d2-998b-dccf6d13ebe2",
                    "name": "Other",
                    "color": "#b5bcc2",
                    "orderindex": 31
                  },
                  {
                    "id": "02f09c3d-26d7-46fe-86c3-0625d2672e15",
                    "name": "Reporting",
                    "color": "#F96AE8",
                    "orderindex": 32
                  }
                ]
              },
              "date_created": "1683756567743",
              "hide_from_guests": false,
              "value": 19,
              "required": false
            },
            {
              "id": "09653c34-ccf9-497c-9b8a-7d35b6290e09",
              "name": "Service Area",
              "type": "labels",
              "type_config": {
                "options": [
                  {
                    "id": "24aad6d8-1ecd-4089-a31a-d4230c12dacf",
                    "label": "Business Apps",
                    "color": "#3082B7"
                  },
                  {
                    "id": "0c56b545-7740-4ff4-97b9-c55a424f645a",
                    "label": "Conference Rooms",
                    "color": "#7C4DFF"
                  },
                  {
                    "id": "d6c89ed7-ce55-4ff3-8cf2-c5d8633718ac",
                    "label": "Email",
                    "color": "#04A9F4"
                  },
                  {
                    "id": "b2c74e98-b666-43c4-a907-56c9b8aafcd8",
                    "label": "Facilities",
                    "color": "#b5bcc2"
                  },
                  {
                    "id": "e4b78e62-171b-46bf-b7ab-59294c7342cc",
                    "label": "Hardware & Peripherals",
                    "color": "#1bbc9c"
                  },
                  {
                    "id": "89e4be1b-7a73-4d01-a640-f6225b1034aa",
                    "label": "Identity & Access",
                    "color": "#800000"
                  },
                  {
                    "id": "ead5b1d2-1f9c-4967-b38b-777a7659eab7",
                    "label": "Network & Wi-Fi",
                    "color": "#2ecd6f"
                  },
                  {
                    "id": "cd2b5035-2896-4df3-9005-5a0070efd9b7",
                    "label": "Phone",
                    "color": "#3397dd"
                  },
                  {
                    "id": "be169fea-e76d-4d6e-a3b4-4475c5d633a9",
                    "label": "Printing",
                    "color": "#f9d900"
                  },
                  {
                    "id": "5c8a2c45-b723-4154-8813-df3103e10fc3",
                    "label": "Wiring & Cabling",
                    "color": "#E65100"
                  }
                ]
              },
              "date_created": "1702655123862",
              "hide_from_guests": true,
              "required": false
            },
            {
              "id": "0b3f7cfd-a829-4414-ba87-2e8202a646ed",
              "name": "To-Do URL",
              "type": "url",
              "type_config": {},
              "date_created": "1691850087194",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "0f1bb622-ebac-4137-9e29-ed02b6e6b280",
              "name": "Lock Fields",
              "type": "checkbox",
              "type_config": {},
              "date_created": "1702932712381",
              "hide_from_guests": true,
              "value": "true",
              "required": false
            },
            {
              "id": "17862224-0d09-49b1-8b7b-8825c234448f",
              "name": "Department",
              "type": "drop_down",
              "type_config": {
                "default": 0,
                "placeholder": null,
                "new_drop_down": true,
                "options": [
                  {
                    "id": "b513e4e1-0a44-4a52-b25e-e3530e8feba5",
                    "name": "N/A",
                    "color": "#667684",
                    "orderindex": 0
                  },
                  {
                    "id": "17ebed35-3dc2-4347-b316-fe1af0724128",
                    "name": "Administration",
                    "color": "#81B1FF",
                    "orderindex": 1
                  },
                  {
                    "id": "50538d84-99e1-4a7a-82fe-8c168992d97d",
                    "name": "Client Services",
                    "color": "#f9d900",
                    "orderindex": 2
                  },
                  {
                    "id": "096d352e-334e-4084-869d-89608ebc0e69",
                    "name": "Engineering | Single-Use Design ",
                    "color": "#04A9F4",
                    "orderindex": 3
                  },
                  {
                    "id": "c0e8fbf2-22eb-4914-91ea-637fcc8c753d",
                    "name": "Engineering | Special Projects",
                    "color": "#3082B7",
                    "orderindex": 4
                  },
                  {
                    "id": "3885960d-d01b-4230-b764-a0734304f23f",
                    "name": "Executive",
                    "color": "#1bbc9c",
                    "orderindex": 5
                  },
                  {
                    "id": "7187d1f5-f25a-4342-b5a8-0ea1eceb777f",
                    "name": "FlexConnexx",
                    "color": "#1bbc9c",
                    "orderindex": 6
                  },
                  {
                    "id": "8449d12b-48b5-4585-8973-d4ecff5d46cc",
                    "name": "Finance",
                    "color": "#059312",
                    "orderindex": 7
                  },
                  {
                    "id": "b6f3fcfc-91d8-49a0-9f50-fad04927705f",
                    "name": "Human Resources",
                    "color": "#FF7FAB",
                    "orderindex": 8
                  },
                  {
                    "id": "46b7072e-8b4e-43f0-a61d-6649893e4dc5",
                    "name": "IT",
                    "color": "#0076ff",
                    "orderindex": 9
                  },
                  {
                    "id": "fbceef85-58b3-42e3-8ac2-ddbf8c0f346f",
                    "name": "Kitting",
                    "color": "#7C4DFF",
                    "orderindex": 10
                  },
                  {
                    "id": "3ddcd582-6a03-4a76-842d-28a71b3fca01",
                    "name": "Logistics & Warehouse",
                    "color": "#3397dd",
                    "orderindex": 11
                  },
                  {
                    "id": "07597f80-8670-4bbb-b82b-2a4a8f870436",
                    "name": "Marketing",
                    "color": "#0231E8",
                    "orderindex": 12
                  },
                  {
                    "id": "8ebb08d6-9e92-4c92-a624-fc99d6bf18c2",
                    "name": "Materials",
                    "color": "#b5bcc2",
                    "orderindex": 13
                  },
                  {
                    "id": "524c4294-7ae1-4308-839e-276e21dcbd43",
                    "name": "Production",
                    "color": "#ff7800",
                    "orderindex": 14
                  },
                  {
                    "id": "01526da1-a17d-4dd5-842e-40895a7442e5",
                    "name": "Quality",
                    "color": "#E65100",
                    "orderindex": 15
                  },
                  {
                    "id": "5998fcda-54b6-4751-bbbc-2fef46b4c3ad",
                    "name": "RDVS",
                    "color": "#7C4DFF",
                    "orderindex": 16
                  },
                  {
                    "id": "27702d8d-08a2-437f-b3d1-4a352088abb0",
                    "name": "Sales",
                    "color": "#e50000",
                    "orderindex": 17
                  },
                  {
                    "id": "b9b1af36-f6f0-4445-9f1e-7a07729a8a07",
                    "name": "Special Projects",
                    "color": "#0af11f",
                    "orderindex": 18
                  },
                  {
                    "id": "1b01a7e1-09d9-4441-8c27-bf8569fe78c6",
                    "name": "Other",
                    "color": "#b5bcc2",
                    "orderindex": 19
                  }
                ]
              },
              "date_created": "1659376509441",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "2d594d9c-48a5-4f3a-9f53-84439a44924e",
              "name": "Location/Bldg.",
              "type": "drop_down",
              "type_config": {
                "default": 0,
                "placeholder": null,
                "new_drop_down": true,
                "options": [
                  {
                    "id": "db151350-9d34-4e74-a11e-75cdc12ad5fc",
                    "name": "N/A",
                    "color": "#667684",
                    "orderindex": 0
                  },
                  {
                    "id": "bda703d9-6389-4b06-b31d-e954778c6e74",
                    "name": "2 Thurber",
                    "color": "#2ecd6f",
                    "orderindex": 1
                  },
                  {
                    "id": "4b213ac1-a7a2-4489-aa78-7bf60fa7cb86",
                    "name": "14 Thurber",
                    "color": "#FF4081",
                    "orderindex": 2
                  },
                  {
                    "id": "b78ef126-c1da-4a13-9fe6-9880006551a9",
                    "name": "36 Thurber Blvd.",
                    "color": "#02BCD4",
                    "orderindex": 3
                  },
                  {
                    "id": "3e8aac86-eadb-4438-a819-6a7cc1c01ce6",
                    "name": "Remote",
                    "color": "#7C4DFF",
                    "orderindex": 4
                  },
                  {
                    "id": "d6149f8b-617e-4bf4-ba04-628f5c7044a9",
                    "name": "Other",
                    "color": "#b5bcc2",
                    "orderindex": 5
                  }
                ]
              },
              "date_created": "1660100952182",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "3733c4aa-ab90-45fd-ba2a-828c9e66e433",
              "name": "Screenshot",
              "type": "attachment",
              "type_config": {},
              "date_created": "1704309003547",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "4e249f22-0b90-443c-b6c4-358a06108076",
              "name": "Systems",
              "type": "labels",
              "type_config": {
                "options": [
                  {
                    "id": "88d0b899-2d7d-4f93-9fab-175847612700",
                    "label": "Azure",
                    "color": "#0231E8"
                  },
                  {
                    "id": "a8f92000-36eb-41be-a43c-809de689fdb2",
                    "label": "Azure AD & Intune",
                    "color": "#04A9F4"
                  },
                  {
                    "id": "84a78975-7fd6-4d08-b128-36cf8aaf5f35",
                    "label": "Cox Phones",
                    "color": "#3082B7"
                  },
                  {
                    "id": "2e2c5389-e54c-403a-952e-b78b91ccc447",
                    "label": "DW Spectrum",
                    "color": "#ff7800"
                  },
                  {
                    "id": "d209d2b8-8315-4b37-ae10-b2c36b56c5bc",
                    "label": "Egnyte",
                    "color": "#0ca989"
                  },
                  {
                    "id": "b700fe45-03b8-42b5-b770-0994a593f3de",
                    "label": "Email",
                    "color": "#9b59b6"
                  },
                  {
                    "id": "768a7610-dd5e-4ec7-934e-86c85f5e4c00",
                    "label": "Envoy",
                    "color": "#e50000"
                  },
                  {
                    "id": "a47ad53b-81cd-4351-a2b2-0c4937c5c2a2",
                    "label": "Epicor",
                    "color": "#02BCD4"
                  },
                  {
                    "id": "b2882951-e1aa-43e7-99d0-4f0806b59361",
                    "label": "ETQ",
                    "color": "#FF4081"
                  },
                  {
                    "id": "dcc27a26-a3f5-4523-935f-cf927ff0646f",
                    "label": "Handhelds",
                    "color": "#E65100"
                  },
                  {
                    "id": "1f2c9c38-46c0-4053-8e78-53198cb559ed",
                    "label": "Hardware",
                    "color": "#1bbc9c"
                  },
                  {
                    "id": "6dda55c9-e569-4e13-8fe9-5e8521330b0e",
                    "label": "Integration",
                    "color": "#0231E8"
                  },
                  {
                    "id": "366f6af2-44e1-49eb-9a23-af927d681a42",
                    "label": "Microsoft 365",
                    "color": "#f9d900"
                  },
                  {
                    "id": "c6c316e3-00d9-46d2-8969-8ce83a89cae1",
                    "label": "Printing & Scanning",
                    "color": "#e50000"
                  },
                  {
                    "id": "9a35b4a6-5a01-4e66-85b2-252d2f955b49",
                    "label": "Procurement",
                    "color": "#AF7E2E"
                  },
                  {
                    "id": "dd7c29bd-0bca-475d-92f4-ac55fc8f7dc4",
                    "label": "QuickBooks",
                    "color": "#2ecd6f"
                  },
                  {
                    "id": "e8be5927-4583-4fb8-b468-aa68709356cd",
                    "label": "SolidWorks",
                    "color": "#800000"
                  },
                  {
                    "id": "5d490908-be91-48f6-ae65-2d92a1ba8f20",
                    "label": "Windows Client",
                    "color": "#7C4DFF"
                  },
                  {
                    "id": "601d7fd4-5f36-45bd-844d-8f2c6266e800",
                    "label": "Windows Server",
                    "color": "#9b59b6"
                  },
                  {
                    "id": "21acdbb1-b021-463b-8efe-750e59e3fadc",
                    "label": "BarTender",
                    "color": "#f9d900"
                  }
                ]
              },
              "date_created": "1702655044709",
              "hide_from_guests": true,
              "required": false
            },
            {
              "id": "524548a3-20e2-49b9-a59a-067a4a5ed67d",
              "name": "Close Date",
              "type": "date",
              "type_config": {},
              "date_created": "1691000033174",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "593f61fb-1a7d-4935-ba13-f3de27bf6b34",
              "name": "To-Do ID",
              "type": "short_text",
              "type_config": {},
              "date_created": "1691929379604",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "7aed0fc8-82a0-462c-8ff8-cc04c9ded58d",
              "name": "Effort",
              "type": "emoji",
              "type_config": {
                "count": 5,
                "code_point": "1f92c"
              },
              "date_created": "1674833057210",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "91f4293d-d86b-44bb-b84c-ea14cb4939d9",
              "name": "Attachment Link",
              "type": "url",
              "type_config": {},
              "date_created": "1691071377601",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "a3e3972e-db69-4208-8dee-72d6e7fc2365",
              "name": "Progress",
              "type": "automatic_progress",
              "type_config": {
                "tracking": {
                  "subtasks": true,
                  "checklists": true,
                  "assigned_comments": true
                },
                "complete_on": 3,
                "subtask_rollup": false
              },
              "date_created": "1690320512446",
              "hide_from_guests": false,
              "value": {
                "percent_complete": 0
              },
              "required": false
            },
            {
              "id": "b3cb0baf-8f27-4380-be06-8d17d4aa0f6a",
              "name": "Summary [AI]",
              "type": "text",
              "type_config": {
                "ai": {
                  "format": "bullet",
                  "source": "summary"
                }
              },
              "date_created": "1697126873536",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "ba5055a8-5fe3-482a-b956-150ed9761f6a",
              "name": "Job Title",
              "type": "drop_down",
              "type_config": {
                "default": 0,
                "placeholder": null,
                "new_drop_down": true,
                "options": [
                  {
                    "id": "45fa9a31-0a91-43c0-a9ec-6468b94d0e45",
                    "name": "Technical Product Manager",
                    "color": "#b5bcc2",
                    "orderindex": 0
                  },
                  {
                    "id": "cd089fe8-33fd-4d17-ad9a-93d0d7281eb5",
                    "name": "Sr. Mechanical Engineer",
                    "color": "#04A9F4",
                    "orderindex": 1
                  },
                  {
                    "id": "c5213047-24bd-427b-ab16-660fe62437bd",
                    "name": "Client Services Specialist",
                    "color": "#f9d900",
                    "orderindex": 2
                  },
                  {
                    "id": "3145d5d0-0235-4e3e-ad32-a188d0ecc015",
                    "name": "Design Engineer",
                    "color": "#1bbc9c",
                    "orderindex": 3
                  }
                ]
              },
              "date_created": "1675976829768",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "c69df9e5-49e4-485e-9827-026545266843",
              "name": "Attachment App",
              "type": "short_text",
              "type_config": {},
              "date_created": "1691071953732",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "e837c3c9-f848-4abd-9c97-d03c0f52082d",
              "name": "Resolution",
              "type": "labels",
              "type_config": {
                "options": [
                  {
                    "id": "522f00ed-a38f-4c80-b7e8-b960d5e39541",
                    "label": "Cancelled",
                    "color": "#e50000"
                  },
                  {
                    "id": "31113b98-5850-47a3-9c87-392485ada205",
                    "label": "Delegated",
                    "color": "#AF7E2E"
                  },
                  {
                    "id": "e85cdfe2-fd1b-4064-b1c0-fd6d97a5dcec",
                    "label": "Duplicate",
                    "color": "#b5bcc2"
                  },
                  {
                    "id": "348a74de-06f9-479a-a840-678df85beb2a",
                    "label": "H/W: Repaired",
                    "color": "#3082B7"
                  },
                  {
                    "id": "4e4d7e0b-eadb-447f-ab88-4e231ce739c3",
                    "label": "H/W: Replaced",
                    "color": "#04A9F4"
                  },
                  {
                    "id": "f7fb7bd2-e81f-42ec-b923-5cb47cf7b527",
                    "label": "Known Issue",
                    "color": "#f9d900"
                  },
                  {
                    "id": "28fdddd3-18d1-4a04-b55e-729a8512e20d",
                    "label": "No action",
                    "color": "#667684"
                  },
                  {
                    "id": "d3a1e1d9-465e-4333-b412-7a63c52e2e9d",
                    "label": "Password reset",
                    "color": "#E65100"
                  },
                  {
                    "id": "7286d885-1389-4f16-91a8-888365c53379",
                    "label": "Resolved: Change or Update",
                    "color": "#2ecd6f"
                  },
                  {
                    "id": "1ef89082-55dd-484c-84e1-f113f7919e1b",
                    "label": "Resolved: Third-Party",
                    "color": "#1bbc9c"
                  },
                  {
                    "id": "350b1e28-799f-48cd-908e-08e8f77cbb5d",
                    "label": "Resolved: User",
                    "color": "#02BCD4"
                  },
                  {
                    "id": "f0377259-3724-4fcd-95ce-590fd8ea0320",
                    "label": "Restart device",
                    "color": "#7C4DFF"
                  },
                  {
                    "id": "2957a667-a030-45ed-a75c-721a0940c6d5",
                    "label": "Solution deployed",
                    "color": "#EA80FC"
                  },
                  {
                    "id": "9e343dd4-c95d-42a9-9f5f-a7ab84cd6c5c",
                    "label": "Unable to replicate",
                    "color": "#FF4081"
                  },
                  {
                    "id": "f0d7b41e-4201-4ca4-9d4d-2487f45ec822",
                    "label": "User education",
                    "color": "#ff7800"
                  },
                  {
                    "id": "7c0e9152-1a06-445a-b455-a47cb0e57c63",
                    "label": "User error",
                    "color": "#800000"
                  },
                  {
                    "id": "57f26fd1-aa9a-4b60-bb2a-fc98eb3ba886",
                    "label": "User guidance",
                    "color": "#e9d326"
                  },
                  {
                    "id": "8a179bc2-f362-4823-9865-dd7604b8ba71",
                    "label": "Workaround",
                    "color": "#81B1FF"
                  }
                ]
              },
              "date_created": "1693236408881",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "ed124332-f2e5-41fa-925a-fca1eed08ef9",
              "name": "FreeScout URL",
              "type": "url",
              "type_config": {},
              "date_created": "1675896633438",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "fa591d15-5b3e-4803-b49e-4b76f0f32ca2",
              "name": "Attachment Name",
              "type": "short_text",
              "type_config": {},
              "date_created": "1691071977610",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "163d6f58-d773-4f5f-ad67-ac4bc573a739",
              "name": "Print Method",
              "type": "drop_down",
              "type_config": {
                "default": 0,
                "placeholder": null,
                "options": [
                  {
                    "id": "3e4bdb8e-2e8b-4283-b294-c529c7412622",
                    "name": "Print Station",
                    "color": "#f9d900",
                    "orderindex": 0
                  },
                  {
                    "id": "73421e13-7b8a-422e-bf11-ed02c5fb4e60",
                    "name": "Epicor: Print tags",
                    "color": "#02BCD4",
                    "orderindex": 1
                  },
                  {
                    "id": "a6edf489-fd04-4317-899d-be08e5fa7904",
                    "name": "Epicor: Upon saving",
                    "color": "#2ecd6f",
                    "orderindex": 2
                  }
                ]
              },
              "date_created": "1706286929467",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "8ab9b62c-f8c8-4a25-92e2-a575baef8e5e",
              "name": "BAQ",
              "type": "drop_down",
              "type_config": {
                "default": 0,
                "placeholder": null,
                "options": [
                  {
                    "id": "3eea46e9-375e-40cb-ab6c-21bb8fd75b19",
                    "name": "KittingLabel.baq",
                    "color": "#2ecd6f",
                    "orderindex": 0
                  },
                  {
                    "id": "5881265f-dec8-4374-902d-0e4fe3c3c2d7",
                    "name": "PRODUCTBOXLABELS.baq",
                    "color": "#04A9F4",
                    "orderindex": 1
                  },
                  {
                    "id": "f0616050-bb77-4a28-b494-75f15d6a9f9b",
                    "name": "ReleasedLabel.baq",
                    "color": "#e50000",
                    "orderindex": 2
                  }
                ]
              },
              "date_created": "1706279069530",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "e9d3767b-9ce6-4459-835d-af119ac5d8d5",
              "name": "Notes",
              "type": "text",
              "type_config": {},
              "date_created": "1706279094114",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "49d498e1-89af-476a-924a-4492b7937f0b",
              "name": "Label Changes",
              "type": "drop_down",
              "type_config": {
                "default": 0,
                "placeholder": null,
                "options": [
                  {
                    "id": "11a84935-c7ca-4c76-8025-665012785a1d",
                    "name": "Formatting",
                    "color": "#04A9F4",
                    "orderindex": 0
                  },
                  {
                    "id": "0c30a1ee-2667-4b24-aae1-dc61fe9546d9",
                    "name": "Configuration",
                    "color": "#2ecd6f",
                    "orderindex": 1
                  },
                  {
                    "id": "8f5cb74f-9921-4d1f-88cc-1223d54aa6db",
                    "name": "Logic",
                    "color": "#f9d900",
                    "orderindex": 2
                  }
                ]
              },
              "date_created": "1706273834603",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "9e4c714f-0dae-4938-8b35-f078f7f194d6",
              "name": "Category: Epicor",
              "type": "drop_down",
              "type_config": {
                "default": 0,
                "placeholder": null,
                "options": [
                  {
                    "id": "8bfed3f8-e34c-41c6-a502-67f353456adb",
                    "name": "BAQ",
                    "color": "#f9d900",
                    "orderindex": 0
                  },
                  {
                    "id": "5c29b13c-579d-4786-8457-ab133c4beee9",
                    "name": "Customizations",
                    "color": "#ff7800",
                    "orderindex": 1
                  },
                  {
                    "id": "a348e070-69a0-4377-9dae-a7a650df402c",
                    "name": "Data & Database",
                    "color": "#04A9F4",
                    "orderindex": 2
                  },
                  {
                    "id": "cd702026-6c18-4b40-9a76-ebf6b44b7642",
                    "name": "Identity & Access",
                    "color": "#7C4DFF",
                    "orderindex": 3
                  },
                  {
                    "id": "aa82b569-a417-4dab-aeae-48d78209abf2",
                    "name": "Labels",
                    "color": "#FF4081",
                    "orderindex": 4
                  },
                  {
                    "id": "b9df98bc-8535-4293-8ffd-80ad21c462cd",
                    "name": "Reporting",
                    "color": "#AF7E2E",
                    "orderindex": 5
                  },
                  {
                    "id": "abb8df7d-cb45-45cf-b768-3b68d4a78fef",
                    "name": "Security",
                    "color": "#e50000",
                    "orderindex": 6
                  },
                  {
                    "id": "1247b49e-4c32-45e2-9eea-db6a74ec815c",
                    "name": "Update/Upgrade",
                    "color": "#2ecd6f",
                    "orderindex": 7
                  },
                  {
                    "id": "39b7484a-20f8-424e-9bca-df95f1688cdd",
                    "name": "User Support",
                    "color": "#9b59b6",
                    "orderindex": 8
                  }
                ]
              },
              "date_created": "1706292533848",
              "hide_from_guests": false,
              "required": false
            },
            {
              "id": "b18d9563-75bf-4daf-a9d5-311a16564d7f",
              "name": "User's Email",
              "type": "email",
              "type_config": {},
              "date_created": "1681227976439",
              "hide_from_guests": false,
              "required": false
            }
          ],
          "dependencies": [],
          "linked_tasks": [],
          "locations": [
            {
              "id": "901102206151",
              "name": "Personal List"
            }
          ],
          "team_id": "14335650",
          "url": "https://app.clickup.com/t/86879rkc6",
          "sharing": {
            "public": false,
            "public_share_expires_on": null,
            "public_fields": [
              "assignees",
              "priority",
              "due_date",
              "content",
              "comments",
              "attachments",
              "customFields",
              "subtasks",
              "tags",
              "checklists",
              "coverimage"
            ],
            "token": null,
            "seo_optimized": false
          },
          "permission_level": "create",
          "list": {
            "id": "164286867",
            "name": "Active",
            "access": true
          },
          "project": {
            "id": "90110187278",
            "name": "Active",
            "hidden": false,
            "access": true
          },
          "folder": {
            "id": "90110187278",
            "name": "Active",
            "hidden": false,
            "access": true
          },
          "space": {
            "id": "56901433"
          },
          "subtasks": [
            {
              "id": "86879rt64",
              "custom_id": "CLKUP-2761",
              "custom_item_id": 0,
              "name": "Create app package for Intune",
              "status": {
                "status": "active",
                "orderindex": 2,
                "color": "#445df3",
                "type": "custom"
              },
              "orderindex": "33830823.50000000000000000000000000000000",
              "date_created": "1707414273338",
              "date_updated": "1707414327878",
              "date_closed": null,
              "date_done": null,
              "archived": false,
              "creator": {
                "id": 32274652,
                "username": "Joshua Wowk",
                "color": "#7b68ee",
                "email": "joshua.wowk@hp-ne.com",
                "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
              },
              "assignees": [
                {
                  "id": 32274652,
                  "username": "Joshua Wowk",
                  "color": "#7b68ee",
                  "initials": "JW",
                  "email": "joshua.wowk@hp-ne.com",
                  "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
                }
              ],
              "watchers": [],
              "checklists": [],
              "tags": [],
              "parent": "86879rkc6",
              "priority": {
                "color": "#6fddff",
                "id": "3",
                "orderindex": "3",
                "priority": "normal"
              },
              "due_date": null,
              "start_date": "1707382800000",
              "points": null,
              "time_estimate": null,
              "time_spent": 0,
              "custom_fields": [],
              "dependencies": [],
              "linked_tasks": [],
              "locations": [],
              "url": "https://app.clickup.com/t/86879rt64",
              "subtasks": [
                {
                  "id": "86879rtpa",
                  "custom_id": "CLKUP-2762",
                  "custom_item_id": 0,
                  "name": "Write pkg install script",
                  "status": {
                    "status": "active",
                    "orderindex": 2,
                    "color": "#445df3",
                    "type": "custom"
                  },
                  "orderindex": "33830828.00000000000000000000000000000000",
                  "date_created": "1707414379877",
                  "date_updated": "1707435112262",
                  "date_closed": null,
                  "date_done": null,
                  "archived": false,
                  "creator": {
                    "id": 32274652,
                    "username": "Joshua Wowk",
                    "color": "#7b68ee",
                    "email": "joshua.wowk@hp-ne.com",
                    "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
                  },
                  "assignees": [
                    {
                      "id": 32274652,
                      "username": "Joshua Wowk",
                      "color": "#7b68ee",
                      "initials": "JW",
                      "email": "joshua.wowk@hp-ne.com",
                      "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
                    }
                  ],
                  "watchers": [],
                  "checklists": [],
                  "tags": [],
                  "parent": "86879rt64",
                  "priority": {
                    "color": "#6fddff",
                    "id": "3",
                    "orderindex": "3",
                    "priority": "normal"
                  },
                  "due_date": null,
                  "start_date": "1707382800000",
                  "points": null,
                  "time_estimate": null,
                  "time_spent": 0,
                  "custom_fields": [],
                  "dependencies": [],
                  "linked_tasks": [],
                  "locations": [],
                  "url": "https://app.clickup.com/t/86879rtpa",
                  "subtasks": [
                    {
                      "id": "86879rkc9",
                      "custom_id": "CLKUP-2760",
                      "custom_item_id": 0,
                      "name": "Install BarTender Zebra drivers",
                      "status": {
                        "status": "active",
                        "orderindex": 2,
                        "color": "#445df3",
                        "type": "custom"
                      },
                      "orderindex": "0.25000875000000000000000000000000",
                      "date_created": "1707413656538",
                      "date_updated": "1707414455513",
                      "date_closed": null,
                      "date_done": null,
                      "archived": false,
                      "creator": {
                        "id": 32274652,
                        "username": "Joshua Wowk",
                        "color": "#7b68ee",
                        "email": "joshua.wowk@hp-ne.com",
                        "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
                      },
                      "assignees": [
                        {
                          "id": 32274652,
                          "username": "Joshua Wowk",
                          "color": "#7b68ee",
                          "initials": "JW",
                          "email": "joshua.wowk@hp-ne.com",
                          "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
                        }
                      ],
                      "watchers": [],
                      "checklists": [],
                      "tags": [],
                      "parent": "86879rtpa",
                      "priority": {
                        "color": "#6fddff",
                        "id": "3",
                        "orderindex": "3",
                        "priority": "normal"
                      },
                      "due_date": null,
                      "start_date": "1707382800000",
                      "points": null,
                      "time_estimate": null,
                      "time_spent": 0,
                      "custom_fields": [],
                      "dependencies": [],
                      "linked_tasks": [],
                      "locations": [],
                      "url": "https://app.clickup.com/t/86879rkc9"
                    },
                    {
                      "id": "86879rkca",
                      "custom_id": "CLKUP-2758",
                      "custom_item_id": 0,
                      "name": "Install BarTender w/o SQL Express",
                      "status": {
                        "status": "active",
                        "orderindex": 2,
                        "color": "#445df3",
                        "type": "custom"
                      },
                      "orderindex": "0.50000421000000000000000000000000",
                      "date_created": "1707413656544",
                      "date_updated": "1707414385949",
                      "date_closed": null,
                      "date_done": null,
                      "archived": false,
                      "creator": {
                        "id": 32274652,
                        "username": "Joshua Wowk",
                        "color": "#7b68ee",
                        "email": "joshua.wowk@hp-ne.com",
                        "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
                      },
                      "assignees": [
                        {
                          "id": 32274652,
                          "username": "Joshua Wowk",
                          "color": "#7b68ee",
                          "initials": "JW",
                          "email": "joshua.wowk@hp-ne.com",
                          "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
                        }
                      ],
                      "watchers": [],
                      "checklists": [],
                      "tags": [],
                      "parent": "86879rtpa",
                      "priority": {
                        "color": "#6fddff",
                        "id": "3",
                        "orderindex": "3",
                        "priority": "normal"
                      },
                      "due_date": null,
                      "start_date": "1707382800000",
                      "points": null,
                      "time_estimate": null,
                      "time_spent": 0,
                      "custom_fields": [],
                      "dependencies": [],
                      "linked_tasks": [],
                      "locations": [],
                      "url": "https://app.clickup.com/t/86879rkca"
                    },
                    {
                      "id": "86879rkcc",
                      "custom_id": "CLKUP-2759",
                      "custom_item_id": 0,
                      "name": "Install Epicor edge agent",
                      "status": {
                        "status": "active",
                        "orderindex": 2,
                        "color": "#445df3",
                        "type": "custom"
                      },
                      "orderindex": "0.75000148000000000000000000000000",
                      "date_created": "1707413656574",
                      "date_updated": "1707414385949",
                      "date_closed": null,
                      "date_done": null,
                      "archived": false,
                      "creator": {
                        "id": 32274652,
                        "username": "Joshua Wowk",
                        "color": "#7b68ee",
                        "email": "joshua.wowk@hp-ne.com",
                        "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
                      },
                      "assignees": [
                        {
                          "id": 32274652,
                          "username": "Joshua Wowk",
                          "color": "#7b68ee",
                          "initials": "JW",
                          "email": "joshua.wowk@hp-ne.com",
                          "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_hWJ.jpg"
                        }
                      ],
                      "watchers": [],
                      "checklists": [],
                      "tags": [],
                      "parent": "86879rtpa",
                      "priority": {
                        "color": "#6fddff",
                        "id": "3",
                        "orderindex": "3",
                        "priority": "normal"
                      },
                      "due_date": null,
                      "start_date": "1707382800000",
                      "points": null,
                      "time_estimate": null,
                      "time_spent": 0,
                      "custom_fields": [],
                      "dependencies": [],
                      "linked_tasks": [],
                      "locations": [],
                      "url": "https://app.clickup.com/t/86879rkcc"
                    }
                  ]
                }
              ]
            }
          ],
          "attachments": []
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-02-14T18:09:49.000Z",
  "versionId": "7110e8b5-4754-46ca-8290-5ecaa118d4ba"
}