workflows/FreeScout > ClickUp - New Ticket.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2023-05-23T18:28:10.834Z",
  "id": "9",
  "name": "FreeScout > ClickUp - New Ticket",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5b5cd8b2-dcaf-418a-8282-1a84b17bc58f",
        "options": {
          "binaryData": false
        }
      },
      "id": "ece602f5-62d0-4989-aa6b-793f8538c4bb",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1180,
        580
      ],
      "webhookId": "5b5cd8b2-dcaf-418a-8282-1a84b17bc58f"
    },
    {
      "parameters": {
        "html": "={{ $json._embedded.threads[1].body }}",
        "destinationKey": "body_markdown",
        "options": {
          "bulletMarker": "*",
          "emDelimiter": "_",
          "ignore": ""
        }
      },
      "id": "c4c12c1d-6260-4456-9660-5d18c19823e3",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1580,
        580
      ]
    },
    {
      "parameters": {
        "team": "14335650",
        "space": "56901433",
        "folderless": true,
        "list": "164286867",
        "name": "={{ $json.subject }}",
        "additionalFields": {
          "content": "={{ $json.body_markdown }}",
          "markdownContent": true
        }
      },
      "id": "692cc547-5943-4da1-a9d6-0e9e9da22ad0",
      "name": "ClickUp",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1780,
        600
      ],
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://freescout.hp-ne.us/api/conversations/{{ $json.body.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "0dff0540-f25e-4e01-99db-5f4e3998a068",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1400,
        580
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9",
          "name": "X-FreeScout-API-Key"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.hp-ne.us",
            "x-real-ip": "172.104.218.99",
            "x-forwarded-for": "172.104.218.99",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "content-length": "18024",
            "user-agent": "GuzzleHttp/6.3.3 curl/7.81.0 PHP/8.1.2-1ubuntu2.9",
            "content-type": "application/json",
            "x-freescout-event": "convo.created",
            "x-freescout-signature": "HUoHzCXa+Zb3dRlBYAh/xJ1Ob/U="
          },
          "params": {},
          "query": {},
          "body": {
            "id": 8,
            "number": 8,
            "threadsCount": 0,
            "type": "email",
            "folderId": 1,
            "status": "active",
            "state": "published",
            "subject": {},
            "preview": "Joshua Wowk| Sys Admin | HPNE | 401-349-5153 Click here to book time with me From: Kelsey Hastings &lt;kelsey.hastings@hp-ne.com&gt;Sent: Monday, May 22, 2023 2:21 PMTo: Joshua Wowk &lt;Joshua.Wowk@hp-ne.com&gt;Cc: Maisam Dadgar &lt;Maisam.Dadgar@hp-ne.co",
            "mailboxId": 1,
            "assignee": null,
            "createdBy": {
              "id": 62,
              "type": "customer",
              "firstName": "Joshua",
              "lastName": "Wowk",
              "photoUrl": "",
              "email": "Joshua.Wowk@hp-ne.com"
            },
            "createdAt": "2023-05-23T20:14:13Z",
            "updatedAt": "2023-05-23T20:14:13Z",
            "closedBy": null,
            "closedByUser": null,
            "closedAt": null,
            "userUpdatedAt": null,
            "customerWaitingSince": {
              "time": "2023-05-23T20:14:13Z",
              "friendly": "Just now",
              "latestReplyFrom": "customer"
            },
            "source": {
              "type": "email",
              "via": "customer"
            },
            "cc": [],
            "bcc": [],
            "customer": {
              "id": 62,
              "type": "customer",
              "firstName": "Joshua",
              "lastName": "Wowk",
              "photoUrl": "",
              "email": "Joshua.Wowk@hp-ne.com"
            },
            "_embedded": {
              "threads": [
                {
                  "id": 14,
                  "type": "lineitem",
                  "status": "active",
                  "state": "published",
                  "action": {
                    "type": "",
                    "text": "Workflow Assign new tickets to jwowk was triggered for conversation #8",
                    "associatedEntities": []
                  },
                  "body": "",
                  "source": {
                    "type": "web",
                    "via": "user"
                  },
                  "customer": null,
                  "createdBy": {
                    "id": 3,
                    "type": "user",
                    "firstName": "Workflow",
                    "lastName": "",
                    "photoUrl": "",
                    "email": "fsworkflow@example.org"
                  },
                  "assignedTo": {
                    "id": 2,
                    "type": "user",
                    "firstName": "Joshua",
                    "lastName": "Wowk",
                    "photoUrl": "",
                    "email": "joshua.wowk@hp-ne.com"
                  },
                  "to": [],
                  "cc": [],
                  "bcc": [],
                  "createdAt": "2023-05-23T20:14:13Z",
                  "openedAt": null,
                  "_embedded": {
                    "attachments": []
                  }
                },
                {
                  "id": 13,
                  "type": "customer",
                  "status": "active",
                  "state": "published",
                  "action": {
                    "type": "",
                    "text": "Joshua Wowk started a new conversation #8",
                    "associatedEntities": []
                  },
                  "body": "\r\n<div style='font-family: \"Trebuchet MS\", Trebuchet, sans-serif; font-size: 10pt; color: rgb(0, 0, 0);' class=\"elementToProof\">\r\n<br>\r\n</div>\r\n<div class=\"elementToProof\">\r\n<div style='font-family: \"Trebuchet MS\", Trebuchet, sans-serif; font-size: 10pt; color: rgb(0, 0, 0);'>\r\n<br>\r\n</div>\r\n<div id=\"Signature\">\r\n<div>\r\n<p style=\"background: white; text-align: start; margin: 0in; font-size: 11pt; font-family: Calibri, sans-serif;\">\r\n<span style='margin: 0px; padding: 0in; border: 1pt none windowtext; font-size: 10pt; font-family: \"Calibri Light\"; color: rgb(222, 106, 25);'>Joshua Wowk</span><span style='margin: 0px; padding: 0in; border: 1pt none windowtext; font-size: 10pt; font-family: \"Calibri Light\"; color: rgb(222, 106, 25);'> </span><span style='margin: 0px; padding: 0in; border: 1pt none windowtext; font-size: 10pt; font-family: \"Calibri Light\"; color: rgb(222, 106, 25);'>| </span><span style='margin: 0px; padding: 0in; border: 1pt none windowtext; font-size: 10pt; font-family: \"Calibri Light\"; color: rgb(222, 106, 25);'>Sys\r\n Admin</span><span style='margin: 0px; padding: 0in; border: 1pt none windowtext; font-size: 10pt; font-family: \"Calibri Light\"; color: rgb(237, 125, 49);'><span style=\"color: rgb(222, 106, 25);\"> </span><span style=\"margin: 0px; display: inline !important; color: rgb(222, 106, 25); background-color: rgb(255, 255, 255);\">| </span></span><span style='margin: 0px; padding: 0in; border: 1pt none windowtext; font-size: 10pt; font-family: \"Calibri Light\"; color: rgb(222, 106, 25);'>HPNE</span><span style='margin: 0px; padding: 0in; border: 1pt none windowtext; font-size: 10pt; font-family: \"Calibri Light\"; color: rgb(237, 125, 49);'><span style=\"color: rgb(222, 106, 25);\"> </span><span style=\"margin: 0px; display: inline !important; color: rgb(222, 106, 25); background-color: rgb(255, 255, 255);\">| </span></span><span style='margin: 0px; padding: 0in; border: 1pt none windowtext; font-size: 10pt; font-family: \"Calibri Light\"; color: rgb(222, 106, 25);'>401-349-5153</span></p>\r\n<span style=\"margin: 0px; font-size: 14px; text-align: start; color: rgb(222, 106, 25); background-color: rgb(255, 255, 255);\"> </span><span style=\"margin: 0px; font-size: 14px; text-align: start; background-color: rgb(255, 255, 255);\"><a href=\"https://outlook.office.com/bookwithme/user/bfd84cd2a9db4f789224347779b1acf8@hp-ne.com?anonymous&amp;ep=plink\" title=\"https://outlook.office.com/bookwithme/user/bfd84cd2a9db4f789224347779b1acf8@hp-ne.com?anonymous&amp;ep=plink\" style=\"font-size: 14px; margin: 0px; letter-spacing: normal; background-color: rgb(255, 255, 255);\"><span style=\"font-size: 13.3333px; margin: 0px; letter-spacing: -0.266667px; background-color: rgb(255, 255, 255);\"><img style=\"width: 16px; height: 16px; max-width: initial;\" width=\"16\" height=\"16\" data-outlook-trace=\"F:1|T:1\" src=\"https://freescout.hp-ne.us/storage/attachment/6/7/1/Outlook-vkncjudp.png?id=22&token=db21a592f206494b69507ae7c028b02e\"></span><span style=\"font-size: 10pt; font-family: Candara, Optima, sans-serif; margin: 0px; letter-spacing: -0.266667px; color: rgb(222, 106, 25); background-color: rgb(255, 255, 255);\"><sup>Click\r\n here to book time with me</sup></span></a></span></div>\r\n</div>\r\n</div>\r\n<div id=\"appendonsend\"></div>\r\n<hr style=\"display:inline-block;width:98%\" tabindex=\"-1\">\r\n<div id=\"divRplyFwdMsg\" dir=\"ltr\"><font face=\"Calibri, sans-serif\" style=\"font-size:11pt\" color=\"#000000\"><b>From:</b> Kelsey Hastings &lt;kelsey.hastings@hp-ne.com&gt;<br>\r\n<b>Sent:</b> Monday, May 22, 2023 2:21 PM<br>\r\n<b>To:</b> Joshua Wowk &lt;Joshua.Wowk@hp-ne.com&gt;<br>\r\n<b>Cc:</b> Maisam Dadgar &lt;Maisam.Dadgar@hp-ne.com&gt;; Maxfield V. Nieves-Malik &lt;Maxfield.Nieves-Malik@hp-ne.com&gt;<br>\r\n<b>Subject:</b> RE: SolidWorks Upgrade</font>\r\n<div> </div>\r\n</div>\r\n<style>\r\n<!--\r\n@font-face\r\n\t{font-family:\"Cambria Math\"}\r\n@font-face\r\n\t{font-family:Calibri}\r\n@font-face\r\n\t{font-family:\"Calibri Light\"}\r\n@font-face\r\n\t{font-family:Candara}\r\n@font-face\r\n\t{font-family:\"Trebuchet MS\"}\r\np.x_MsoNormal, li.x_MsoNormal, div.x_MsoNormal\r\n\t{margin:0in;\r\n\tfont-size:11.0pt;\r\n\tfont-family:\"Calibri\",sans-serif}\r\na:link, span.x_MsoHyperlink\r\n\t{color:blue;\r\n\ttext-decoration:underline}\r\np.x_xmsonormal, li.x_xmsonormal, div.x_xmsonormal\r\n\t{margin:0in;\r\n\tfont-size:11.0pt;\r\n\tfont-family:\"Calibri\",sans-serif}\r\nspan.x_EmailStyle23\r\n\t{font-family:\"Calibri\",sans-serif;\r\n\tcolor:windowtext}\r\n.x_MsoChpDefault\r\n\t{font-size:10.0pt}\r\n@page WordSection1\r\n\t{margin:1.0in 1.0in 1.0in 1.0in}\r\ndiv.x_WordSection1\r\n\t{}\r\n-->\r\n</style>\r\n<div lang=\"EN-US\" link=\"blue\" vlink=\"purple\" style=\"word-wrap:break-word\">\r\n<div class=\"x_WordSection1\">\r\n<p class=\"x_MsoNormal\">That would be perfect, thank you. </p>\r\n<p class=\"x_MsoNormal\"> </p>\r\n<p class=\"x_MsoNormal\">If I ever run into issues, I’ll reach out to you and/or Maxfield for help.</p>\r\n<p class=\"x_MsoNormal\"> </p>\r\n<p class=\"x_MsoNormal\">Thank you!</p>\r\n<p class=\"x_MsoNormal\"> </p>\r\n<div>\r\n<p class=\"x_MsoNormal\"><b><span style=\"color:black\">Kelsey Hastings</span></b><span style=\"color:black\"></span></p>\r\n<p class=\"x_MsoNormal\"><i><span style=\"color:#ED7D31\">Engineering Project Manager</span></i><span style=\"color:black\"></span></p>\r\n<p class=\"x_MsoNormal\"><b><span style=\"color:#ED7D31\">High Purity New England | HP-NE.com</span></b></p>\r\n<p class=\"x_MsoNormal\"><i><span style=\"color:black\">14 Thurber Blvd, Smithfield, RI 02917</span></i></p>\r\n<p class=\"x_MsoNormal\"><span style=\"color:black\">E: </span><a href=\"mailto:kelsey.hastings@hp-ne.com\"><span style=\"color:#0563C1\">kelsey.hastings@hp-ne.com</span></a> |\r\n<span style=\"color:black\">O: 401.349.4477</span></p>\r\n<p class=\"x_MsoNormal\"><b><u><span lang=\"ES\" style=\"color:#ED7D31\">ISO 9001:2015 Certification 157603-2014-AQ-USA-ANAB</span></u></b><span lang=\"ES\"></span></p>\r\n<p class=\"x_MsoNormal\"><span lang=\"ES\" style=\"font-size:5.0pt\"> </span></p>\r\n<p class=\"x_MsoNormal\"><a href=\"https://www.linkedin.com/company/high-purity-new-england\"><span style=\"color:windowtext; text-decoration:none\"><img border=\"0\" width=\"26\" height=\"26\" id=\"x_Picture_x0020_6\" alt=\"signature_70785060\" style=\"width:.2708in; height:.2708in\" data-outlook-trace=\"F:1|T:1\" src=\"https://freescout.hp-ne.us/storage/attachment/6/4/1/image001.png?id=18&token=c574b63dbeb555309ee62c4b6d1794f9\"></span></a><span lang=\"ES\"> \r\n</span><a href=\"https://twitter.com/HighPurityNE?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor\" title=\"https://twitter.com/HighPurityNE?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor\"><b><span lang=\"ES\" style=\"font-size:10.0pt; color:#0563C1; text-decoration:none\"><img border=\"0\" width=\"26\" height=\"26\" id=\"x_Picture_x0020_5\" alt=\"signature_1576473685\" style=\"width:.2708in; height:.2708in\" data-outlook-trace=\"F:1|T:1\" src=\"https://freescout.hp-ne.us/storage/attachment/1/0/1/image002.png?id=19&token=abd84fe050babf7a3f37b4d5048d86d4\"></span></b></a><span lang=\"ES\">  </span><a href=\"https://www.facebook.com/HighPurityNE/\"><span style=\"color:windowtext; text-decoration:none\"><img border=\"0\" width=\"26\" height=\"26\" id=\"x_Picture_x0020_7\" alt=\"signature_3251001740\" style=\"width:.2708in; height:.2708in\" data-outlook-trace=\"F:1|T:1\" src=\"https://freescout.hp-ne.us/storage/attachment/9/8/1/image003.png?id=20&token=c226348d2a8bf7254f228ddef281cd14\"></span></a><span lang=\"ES\"></span></p>\r\n</div>\r\n<p class=\"x_MsoNormal\"> </p>\r\n<div>\r\n<div style=\"border:none; border-top:solid #E1E1E1 1.0pt; padding:3.0pt 0in 0in 0in\">\r\n<p class=\"x_MsoNormal\"><b>From:</b> Joshua Wowk &lt;Joshua.Wowk@hp-ne.com&gt; <br>\r\n<b>Sent:</b> Monday, May 22, 2023 2:21 PM<br>\r\n<b>To:</b> Kelsey Hastings &lt;kelsey.hastings@hp-ne.com&gt;<br>\r\n<b>Cc:</b> Maisam Dadgar &lt;Maisam.Dadgar@hp-ne.com&gt;; Maxfield V. Nieves-Malik &lt;Maxfield.Nieves-Malik@hp-ne.com&gt;<br>\r\n<b>Subject:</b> Re: SolidWorks Upgrade</p>\r\n</div>\r\n</div>\r\n<p class=\"x_MsoNormal\"> </p>\r\n<div>\r\n<p class=\"x_MsoNormal\"><span style='font-size:10.0pt; font-family:\"Trebuchet MS\",sans-serif'>As long as there's no objections I'll just add you to the local administrator's group on your machine. This way you can address these things in the future as needed,\r\n assuming you're comfortable doing so.</span></p>\r\n</div>\r\n<div>\r\n<div>\r\n<p class=\"x_MsoNormal\"><span style='font-size:10.0pt; font-family:\"Trebuchet MS\",sans-serif'> </span></p>\r\n</div>\r\n<div id=\"x_Signature\">\r\n<div>\r\n<p><span style='font-size:10.0pt; font-family:\"Calibri Light\",sans-serif; border:none windowtext 1.0pt; padding:0in'>Joshua Wowk | Sys Admin | HPNE | 401-349-5153</span></p>\r\n<p class=\"x_MsoNormal\"><span style=\"font-size:10.5pt\"> <a href=\"https://outlook.office.com/bookwithme/user/bfd84cd2a9db4f789224347779b1acf8@hp-ne.com?anonymous&amp;ep=plink\" title=\"https://outlook.office.com/bookwithme/user/bfd84cd2a9db4f789224347779b1acf8@hp-ne.com?anonymous&amp;ep=plink\"><span style=\"font-size:10.0pt; letter-spacing:-.2pt; text-decoration:none\"><img border=\"0\" width=\"16\" height=\"16\" id=\"x_Picture_x0020_1\" style=\"width:.1666in; height:.1666in\" data-outlook-trace=\"F:1|T:1\" src=\"https://freescout.hp-ne.us/storage/attachment/3/5/1/image004.png?id=21&token=b6b08d628f2e5a9a8030811b72688670\"></span><sup><span style='font-size:10.0pt; font-family:\"Candara\",sans-serif; letter-spacing:-.2pt'>Click\r\n here to book time with me</span></sup></a></span></p>\r\n</div>\r\n</div>\r\n</div>\r\n<div class=\"x_MsoNormal\" align=\"center\" style=\"text-align:center\">\r\n<hr size=\"2\" width=\"98%\" align=\"center\">\r\n</div>\r\n<div id=\"x_divRplyFwdMsg\">\r\n<p class=\"x_MsoNormal\"><b><span style=\"color:black\">From:</span></b><span style=\"color:black\"> Kelsey Hastings &lt;<a href=\"mailto:kelsey.hastings@hp-ne.com\">kelsey.hastings@hp-ne.com</a>&gt;<br>\r\n<b>Sent:</b> Monday, May 22, 2023 2:16 PM<br>\r\n<b>To:</b> Joshua Wowk &lt;<a href=\"mailto:Joshua.Wowk@hp-ne.com\">Joshua.Wowk@hp-ne.com</a>&gt;<br>\r\n<b>Cc:</b> Maisam Dadgar &lt;<a href=\"mailto:Maisam.Dadgar@hp-ne.com\">Maisam.Dadgar@hp-ne.com</a>&gt;; Maxfield V. Nieves-Malik &lt;<a href=\"mailto:Maxfield.Nieves-Malik@hp-ne.com\">Maxfield.Nieves-Malik@hp-ne.com</a>&gt;<br>\r\n<b>Subject:</b> SolidWorks Upgrade</span> </p>\r\n<div>\r\n<p class=\"x_MsoNormal\"> </p>\r\n</div>\r\n</div>\r\n<div>\r\n<div>\r\n<p class=\"x_xmsonormal\">Hi Josh,</p>\r\n<p class=\"x_xmsonormal\"> </p>\r\n<p class=\"x_xmsonormal\">Hope you’re doing well. Maxfield came around earlier today and helped my team get SolidWorks 2021 on their computers. However, because he and I do not have admin rights over my computer, he was not able to upgrade it on mine. Would you\r\n mind helping me with that? Or could he and/or I be granted it for now and future? There is also another program, Drawio, that our department has been using regularly that I would love to have installed. So far, I’ve been using the web app, which is pretty\r\n inconvenient.</p>\r\n<p class=\"x_xmsonormal\"> </p>\r\n<p class=\"x_xmsonormal\">Thank you,</p>\r\n<p class=\"x_xmsonormal\">Kelsey</p>\r\n<p class=\"x_xmsonormal\"> </p>\r\n<p class=\"x_xmsonormal\"><b><span style=\"color:black\">Kelsey Hastings</span></b></p>\r\n<p class=\"x_xmsonormal\"><i><span style=\"color:#ED7D31\">Engineering Project Manager</span></i></p>\r\n<p class=\"x_xmsonormal\"><b><span style=\"color:#ED7D31\">High Purity New England | HP-NE.com</span></b></p>\r\n<p class=\"x_xmsonormal\"><i><span style=\"color:black\">14 Thurber Blvd, Smithfield, RI 02917</span></i></p>\r\n<p class=\"x_xmsonormal\"><span style=\"color:black\">E: </span><a href=\"mailto:kelsey.hastings@hp-ne.com\"><span style=\"color:#0563C1\">kelsey.hastings@hp-ne.com</span></a> |\r\n<span style=\"color:black\">O: 401.349.4477</span></p>\r\n<p class=\"x_xmsonormal\"><b><u><span lang=\"ES\" style=\"color:#ED7D31\">ISO 9001:2015 Certification 157603-2014-AQ-USA-ANAB</span></u></b></p>\r\n<p class=\"x_xmsonormal\"><span lang=\"ES\" style=\"font-size:5.0pt\"> </span></p>\r\n<p class=\"x_xmsonormal\"><a href=\"https://www.linkedin.com/company/high-purity-new-england\"><span style=\"color:windowtext; text-decoration:none\"><img border=\"0\" width=\"26\" height=\"26\" id=\"x_x_Picture_x0020_1\" alt=\"signature_70785060\" style=\"width:.2708in; height:.2708in\" data-outlook-trace=\"F:1|T:1\" src=\"https://freescout.hp-ne.us/storage/attachment/6/4/1/image001.png?id=18&token=c574b63dbeb555309ee62c4b6d1794f9\"></span></a><span lang=\"ES\"> \r\n</span><a href=\"https://twitter.com/HighPurityNE?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor\" title=\"https://twitter.com/HighPurityNE?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor\"><b><span lang=\"ES\" style=\"font-size:10.0pt; color:#0563C1; text-decoration:none\"><img border=\"0\" width=\"26\" height=\"26\" id=\"x_x_Picture_x0020_5\" alt=\"signature_1576473685\" style=\"width:.2708in; height:.2708in\" data-outlook-trace=\"F:1|T:1\" src=\"https://freescout.hp-ne.us/storage/attachment/1/0/1/image002.png?id=19&token=abd84fe050babf7a3f37b4d5048d86d4\"></span></b></a><span lang=\"ES\">  </span><a href=\"https://www.facebook.com/HighPurityNE/\"><span style=\"color:windowtext; text-decoration:none\"><img border=\"0\" width=\"26\" height=\"26\" id=\"x_x_Picture_x0020_3\" alt=\"signature_3251001740\" style=\"width:.2708in; height:.2708in\" data-outlook-trace=\"F:1|T:1\" src=\"https://freescout.hp-ne.us/storage/attachment/9/8/1/image003.png?id=20&token=c226348d2a8bf7254f228ddef281cd14\"></span></a></p>\r\n<p class=\"x_xmsonormal\"> </p>\r\n</div>\r\n</div>\r\n</div>\r\n</div>\r\n",
                  "source": {
                    "type": "email",
                    "via": "customer"
                  },
                  "customer": {
                    "id": 62,
                    "type": "customer",
                    "firstName": "Joshua",
                    "lastName": "Wowk",
                    "photoUrl": "",
                    "email": "Joshua.Wowk@hp-ne.com"
                  },
                  "createdBy": {
                    "id": 62,
                    "type": "customer",
                    "firstName": "Joshua",
                    "lastName": "Wowk",
                    "photoUrl": "",
                    "email": "Joshua.Wowk@hp-ne.com"
                  },
                  "assignedTo": null,
                  "to": [
                    "servicedesk@hp-ne.com"
                  ],
                  "cc": [],
                  "bcc": [],
                  "createdAt": "2023-05-23T20:14:13Z",
                  "openedAt": null,
                  "_embedded": {
                    "attachments": [
                      {
                        "id": 18,
                        "fileName": "image001.png",
                        "fileUrl": "https://freescout.hp-ne.us/storage/attachment/6/4/1/image001.png?id=18&token=c574b63dbeb555309ee62c4b6d1794f9",
                        "mimeType": "image/png",
                        "size": 49790
                      },
                      {
                        "id": 19,
                        "fileName": "image002.png",
                        "fileUrl": "https://freescout.hp-ne.us/storage/attachment/1/0/1/image002.png?id=19&token=abd84fe050babf7a3f37b4d5048d86d4",
                        "mimeType": "image/png",
                        "size": 2470
                      },
                      {
                        "id": 20,
                        "fileName": "image003.png",
                        "fileUrl": "https://freescout.hp-ne.us/storage/attachment/9/8/1/image003.png?id=20&token=c226348d2a8bf7254f228ddef281cd14",
                        "mimeType": "image/png",
                        "size": 1301
                      },
                      {
                        "id": 21,
                        "fileName": "image004.png",
                        "fileUrl": "https://freescout.hp-ne.us/storage/attachment/3/5/1/image004.png?id=21&token=b6b08d628f2e5a9a8030811b72688670",
                        "mimeType": "image/png",
                        "size": 361
                      },
                      {
                        "id": 22,
                        "fileName": "Outlook-vkncjudp.png",
                        "fileUrl": "https://freescout.hp-ne.us/storage/attachment/6/7/1/Outlook-vkncjudp.png?id=22&token=db21a592f206494b69507ae7c028b02e",
                        "mimeType": "image/png",
                        "size": 361
                      }
                    ]
                  }
                }
              ]
            },
            "customFields": [
              {
                "id": 2,
                "name": "Type",
                "value": "",
                "text": ""
              },
              {
                "id": 3,
                "name": "Category",
                "value": "",
                "text": ""
              },
              {
                "id": 1,
                "name": "Applications",
                "value": "",
                "text": ""
              },
              {
                "id": 4,
                "name": "Progress",
                "value": "",
                "text": ""
              },
              {
                "id": 5,
                "name": "ClickUp ID",
                "value": "",
                "text": ""
              },
              {
                "id": 6,
                "name": "ClickUp URL",
                "value": "",
                "text": ""
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-05-23T21:26:42.000Z",
  "versionId": "06fe5a42-cf4d-4477-b287-1d07a3e4afa5"
}