workflows/Status ➟ "Today"; Due Today @ 4:30 PM.json
{
  "active": true,
  "connections": {
    "\"Active\" Task status changes": {
      "main": [
        [
          {
            "node": "Status changed to \"Today\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status changed to \"Today\"": {
      "main": [
        [
          {
            "node": "Get task details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get task details": {
      "main": [
        [
          {
            "node": "Set due datetime > Today @ 4:30PM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-23T12:44:34.243Z",
  "id": "1",
  "name": "Status ➟ \"Today\"; Due Today @ 4:30 PM",
  "nodes": [
    {
      "parameters": {
        "team": "14335650",
        "events": [
          "taskStatusUpdated"
        ],
        "filters": {
          "listId": "164286867"
        }
      },
      "id": "3aa535de-55db-4886-a30a-0263d7860ac4",
      "name": "\"Active\" Task status changes",
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        520,
        640
      ],
      "webhookId": "2e014644-1c0e-4aba-987c-8b5abc35d423",
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.history_items[0].after.status }}",
              "value2": "=today"
            },
            {
              "value1": "={{ $json.history_items[0].before.status }}",
              "operation": "notEqual",
              "value2": "=today"
            }
          ]
        }
      },
      "id": "6ac9113a-3388-4b54-b439-9b8ce03b2791",
      "name": "Status changed to \"Today\"",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        740,
        640
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.task_id }}"
      },
      "id": "698567c6-a441-4ef7-8d40-1061abfca4a1",
      "name": "Get task details",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        960,
        640
      ],
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.id }}",
        "updateFields": {
          "dueDate": "={{ $today.set({ hour: 16, minute: 30 }).toMillis() }}",
          "dueDateTime": true
        }
      },
      "id": "6cc7705d-d94b-44c6-be05-212038c99834",
      "name": "Set due datetime > Today @ 4:30PM",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1180,
        640
      ],
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      }
    }
  ],
  "pinData": {
    "\"Active\" Task status changes": [
      {
        "json": {
          "event": "taskStatusUpdated",
          "history_items": [
            {
              "id": "3463804842794396427",
              "type": 1,
              "date": "1682254996856",
              "field": "status",
              "parent_id": "164286867",
              "data": {
                "status_type": "custom"
              },
              "source": null,
              "user": {
                "id": 32274652,
                "username": "Joshua Wowk",
                "email": "joshua.wowk@hp-ne.com",
                "color": "#7b68ee",
                "initials": "JW",
                "profilePicture": "https://attachments.clickup.com/profilePictures/32274652_M3D.jpg"
              },
              "before": {
                "status": "this week",
                "color": "#7C4DFF",
                "orderindex": 1,
                "type": "unstarted"
              },
              "after": {
                "status": "today",
                "color": "#2a6bfb",
                "orderindex": 2,
                "type": "custom"
              }
            }
          ],
          "task_id": "860q9hcny",
          "webhook_id": "602135ca-185e-4982-ab58-380758c364a7"
        }
      }
    ]
  },
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:ClickUp Trigger": {
      "webhookId": "602135ca-185e-4982-ab58-380758c364a7",
      "secret": "QVMQNF88EYSZA1OX1YLNL5GZHSNBQLFH7LVCUPC9HQDMT6JI6FSF3LF2GTCB6P2L"
    },
    "node:\"Active\" Task status changes": {
      "webhookId": "4e0b0839-924c-4a3f-aa59-9b0a76e0b738",
      "secret": "GRQ9NAJLOV8ZERDLQ13WFAI029O0V0ARD4GX80KM4PIWV5804J746SY7IFGFYCZM"
    }
  },
  "tags": [
    {
      "id": "1",
      "createdAt": "2023-04-23T13:06:32.653Z",
      "updatedAt": "2023-04-23T13:06:32.653Z",
      "name": "ClickUp"
    },
    {
      "id": "3",
      "createdAt": "2023-04-23T13:07:18.739Z",
      "updatedAt": "2023-04-23T13:07:18.739Z",
      "name": "Make.com Replacement"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-07-30T01:01:10.000Z",
  "versionId": "440e76af-cf41-4a8e-9e78-66a479cb0e87"
}