workflows/ToDo > PwrAuto > ClickUp.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Microsoft To Do",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft To Do": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Due-date set?": {
      "main": [
        [
          {
            "node": "ClickUp-DueDate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ClickUp-NoDueDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp-DueDate": {
      "main": [
        [
          {
            "node": "ClickUp Custom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp-NoDueDate": {
      "main": [
        [
          {
            "node": "ClickUp Custom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp Custom": {
      "main": [
        [
          {
            "node": "Microsoft To Do2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Due-date set?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Due-date set?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Due-date set?1": {
      "main": [
        [
          {
            "node": "ClickUp-DueDate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ClickUp-NoDueDate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp-DueDate1": {
      "main": [
        [
          {
            "node": "Microsoft To Do2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp-NoDueDate1": {
      "main": [
        [
          {
            "node": "Microsoft To Do2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-26T19:29:32.527Z",
  "id": "jj2auAJeO0WtWSQt",
  "name": "ToDo > PwrAuto > ClickUp",
  "nodes": [
    {
      "parameters": {
        "taskListId": "AQMkAGJmZDg0Y2QyLWE5ZGItNGY3OC05MjIANC0zNDc3ATliMWFjZjgALgAAA4qo9h2K1ApHgMRJyB2ca5UBAAdImxVtwLlHjaP_23l_dPwAAAIBEgAAAA==",
        "taskId": "={{ $json.body[0].Task_ID }}"
      },
      "id": "3105a0f3-930b-4d6f-99ef-31b0d6c82f32",
      "name": "Microsoft To Do",
      "type": "n8n-nodes-base.microsoftToDo",
      "typeVersion": 1,
      "position": [
        1380,
        660
      ],
      "credentials": {
        "microsoftToDoOAuth2Api": {
          "id": "O6IPgun0x91zKAe5",
          "name": "Microsoft To Do account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b1553754-7754-43ff-b655-ca06ecaffed2",
        "options": {
          "noResponseBody": false
        }
      },
      "id": "f175a08a-c4b2-47cc-b4e7-732cf934c8dd",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1160,
        660
      ],
      "webhookId": "b1553754-7754-43ff-b655-ca06ecaffed2"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.dueDateTime }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "834c8692-ef6b-4e37-bcfc-25e199a37fb3",
      "name": "Due-date set?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1820,
        540
      ]
    },
    {
      "parameters": {
        "team": "14335650",
        "space": "56901433",
        "folderless": true,
        "list": "164286867",
        "name": "={{ $json.title }}",
        "additionalFields": {
          "content": "={{ $json.body.content }}",
          "dueDate": "={{ $json.dueDateTime }}"
        }
      },
      "id": "dbb275e3-7f1f-4d30-99ac-2c55c0579122",
      "name": "ClickUp-DueDate",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2040,
        440
      ],
      "notesInFlow": true,
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      },
      "notes": "w/ due date"
    },
    {
      "parameters": {
        "team": "14335650",
        "space": "56901433",
        "folderless": true,
        "list": "164286867",
        "name": "={{ $json.title }}",
        "additionalFields": {
          "content": "={{ $json.body.content }}"
        }
      },
      "id": "f4f9b28f-c9d0-4a1a-a5ee-a8a45b35d99a",
      "name": "ClickUp-NoDueDate",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2040,
        620
      ],
      "notesInFlow": true,
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      },
      "notes": "w/o due date"
    },
    {
      "parameters": {
        "operation": "update",
        "taskListId": "AQMkAGJmZDg0Y2QyLWE5ZGItNGY3OC05MjIANC0zNDc3ATliMWFjZjgALgAAA4qo9h2K1ApHgMRJyB2ca5UBAAdImxVtwLlHjaP_23l_dPwAAAIBEgAAAA==",
        "taskId": "={{ $('Microsoft To Do').item.json.id }}",
        "updateFields": {
          "content": "=ClickUp URL: {{ $json.url }}",
          "status": "completed"
        }
      },
      "id": "f37e9918-b438-4f80-be40-d969c0f1efd5",
      "name": "Microsoft To Do2",
      "type": "n8n-nodes-base.microsoftToDo",
      "typeVersion": 1,
      "position": [
        2500,
        760
      ],
      "credentials": {
        "microsoftToDoOAuth2Api": {
          "id": "O6IPgun0x91zKAe5",
          "name": "Microsoft To Do account"
        }
      }
    },
    {
      "parameters": {
        "operation": "setCustomField",
        "team": "14335650",
        "space": "56901433",
        "list": "=164286867",
        "task": "={{ $json.id }}",
        "field": {
          "customFieldsText": {
            "values": [
              {
                "fieldId": "fa591d15-5b3e-4803-b49e-4b76f0f32ca2",
                "fieldValue": "={{ $('Microsoft To Do').item.json.linkedResources[0].displayName }}"
              },
              {
                "fieldId": "c69df9e5-49e4-485e-9827-026545266843",
                "fieldValue": "={{ $('Microsoft To Do').item.json.linkedResources[0].applicationName }}"
              },
              {
                "fieldId": "91f4293d-d86b-44bb-b84c-ea14cb4939d9",
                "fieldValue": "={{ $('Microsoft To Do').item.json.linkedResources[0].webUrl }}"
              }
            ]
          }
        },
        "additionalFields": {
          "isDateTime": false
        }
      },
      "id": "7c958713-8d28-4d22-a1f6-41b337be8053",
      "name": "ClickUp Custom",
      "type": "@ilhamakbarki/n8n-nodes-clickup.clickUpCustom",
      "typeVersion": 1,
      "position": [
        2280,
        560
      ],
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "team": "14335650",
        "space": "56901433",
        "folderless": true,
        "list": "164286867",
        "name": "={{ $json.title }}",
        "additionalFields": {
          "content": "={{ $json.body.content }}",
          "dueDate": "={{ $json.dueDateTime }}"
        }
      },
      "id": "8e9390d3-0874-4079-8afd-f1cf54bbe1d7",
      "name": "ClickUp-DueDate1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2040,
        820
      ],
      "notesInFlow": true,
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      },
      "notes": "w/ due date"
    },
    {
      "parameters": {
        "team": "14335650",
        "space": "56901433",
        "folderless": true,
        "list": "164286867",
        "name": "={{ $json.title }}",
        "additionalFields": {
          "content": "={{ $json.body.content }}"
        }
      },
      "id": "75b04376-caf2-4c09-8c43-4b5b56d76c9f",
      "name": "ClickUp-NoDueDate1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2040,
        1000
      ],
      "notesInFlow": true,
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      },
      "notes": "w/o due date"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.linkedResources[0].webUrl }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "248365fa-9446-46e1-9180-75bf3b92da5d",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1600,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.dueDateTime }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "5e2b3c3d-e9bc-4c2b-b392-abf6f32189ab",
      "name": "Due-date set?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1780,
        880
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-08-03T14:19:33.000Z",
  "versionId": "141f12f3-6ad1-46fd-a6ee-babaf496aa2b"
}