workflows/ToDo > PwrAuto > ClickUp.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp-DueDate": {
      "main": [
        [
          {
            "node": "Microsoft To Do",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp-NoDueDate": {
      "main": [
        [
          {
            "node": "Microsoft To Do2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Due-date set?1": {
      "main": [
        [
          {
            "node": "ClickUp-DueDate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ClickUp-NoDueDate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp-DueDate1": {
      "main": [
        [
          {
            "node": "Microsoft To Do3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp-NoDueDate1": {
      "main": [
        [
          {
            "node": "Microsoft To Do4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedResource": {
      "main": [
        [
          {
            "node": "IsDueDateSet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Due-date set?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsDueDateSet": {
      "main": [
        [
          {
            "node": "ClickUp-DueDate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ClickUp-NoDueDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "LinkedResource",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-26T19:29:32.527Z",
  "id": "jj2auAJeO0WtWSQt",
  "meta": null,
  "name": "ToDo > PwrAuto > ClickUp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b1553754-7754-43ff-b655-ca06ecaffed2",
        "options": {
          "noResponseBody": false
        }
      },
      "id": "f175a08a-c4b2-47cc-b4e7-732cf934c8dd",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1380,
        700
      ],
      "webhookId": "b1553754-7754-43ff-b655-ca06ecaffed2"
    },
    {
      "parameters": {
        "team": "14335650",
        "space": "56901433",
        "folder": "90110187278",
        "list": "164286867",
        "name": "={{ $json.body[1].Title }}",
        "additionalFields": {
          "customFieldsJson": "=[ {\"id\": \"91f4293d-d86b-44bb-b84c-ea14cb4939d9\", \"value\":  \"{{ $json.body[8].LinkedResource_WebURL }}\"}, {\"id\": \"c69df9e5-49e4-485e-9827-026545266843\", \"value\": \"{{ $json.body[7].LinkedResource_ApplicationName }}\"}, {\"id\": \"593f61fb-1a7d-4935-ba13-f3de27bf6b34\", \"value\": \"{{ $json.body[0].Task_ID }}\"}, {\"id\": \"fa591d15-5b3e-4803-b49e-4b76f0f32ca2\", \"value\": \"{{ $json.body[1].Title }}\"}, {\"id\": \"b18d9563-75bf-4daf-a9d5-311a16564d7f\", \"value\": \"{{ $json.body[10].LinkedResource_Sender }}\"}]",
          "content": "=# Email: \n{{ $json.LinkedResource_Body_MD }}\n\n# To-Do: \n{{ $json.body[5].Body }} ",
          "dueDate": "={{ $json.dueDateTime }}",
          "markdownContent": true
        }
      },
      "id": "dbb275e3-7f1f-4d30-99ac-2c55c0579122",
      "name": "ClickUp-DueDate",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2420,
        440
      ],
      "notesInFlow": true,
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      },
      "notes": "w/ due date"
    },
    {
      "parameters": {
        "team": "14335650",
        "space": "56901433",
        "folder": "90110187278",
        "list": "164286867",
        "name": "={{ $json.body[1].Title }}",
        "additionalFields": {
          "customFieldsJson": "=[ {\"id\": \"91f4293d-d86b-44bb-b84c-ea14cb4939d9\", \"value\":  \"{{ $json.body[8].LinkedResource_WebURL }}\"}, {\"id\": \"c69df9e5-49e4-485e-9827-026545266843\", \"value\": \"{{ $json.body[7].LinkedResource_ApplicationName }}\"}, {\"id\": \"593f61fb-1a7d-4935-ba13-f3de27bf6b34\", \"value\": \"{{ $json.body[0].Task_ID }}\"}, {\"id\": \"fa591d15-5b3e-4803-b49e-4b76f0f32ca2\", \"value\": \"{{ $json.body[1].Title }}\"}, {\"id\": \"b18d9563-75bf-4daf-a9d5-311a16564d7f\", \"value\": \"{{ $json.body[10].LinkedResource_Sender }}\"}]",
          "content": "=# Email: \n{{ $json.LinkedResource_Body_MD }}\n\n# To-Do: \n{{ $json.body[5].Body }} ",
          "markdownContent": true
        }
      },
      "id": "f4f9b28f-c9d0-4a1a-a5ee-a8a45b35d99a",
      "name": "ClickUp-NoDueDate",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2420,
        600
      ],
      "notesInFlow": true,
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      },
      "notes": "w/o due date"
    },
    {
      "parameters": {
        "operation": "update",
        "taskListId": "AQMkAGJmZDg0Y2QyLWE5ZGItNGY3OC05MjIANC0zNDc3ATliMWFjZjgALgAAA4qo9h2K1ApHgMRJyB2ca5UBAAdImxVtwLlHjaP_23l_dPwAAAIBEgAAAA==",
        "taskId": "={{ $json.custom_fields[15].value }}",
        "updateFields": {
          "content": "=ClickUp URL: {{ $json.url }}",
          "status": "completed"
        }
      },
      "id": "f37e9918-b438-4f80-be40-d969c0f1efd5",
      "name": "Microsoft To Do2",
      "type": "n8n-nodes-base.microsoftToDo",
      "typeVersion": 1,
      "position": [
        2660,
        600
      ],
      "credentials": {
        "microsoftToDoOAuth2Api": {
          "id": "O6IPgun0x91zKAe5",
          "name": "Microsoft To Do account"
        }
      }
    },
    {
      "parameters": {
        "team": "14335650",
        "space": "56901433",
        "folderless": true,
        "list": "164286867",
        "name": "={{ $json.title }}",
        "additionalFields": {
          "content": "=# To-Do: \n{{ $json.body[5].Body }} ",
          "dueDate": "={{ $json.dueDateTime }}"
        }
      },
      "id": "8e9390d3-0874-4079-8afd-f1cf54bbe1d7",
      "name": "ClickUp-DueDate1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2420,
        780
      ],
      "notesInFlow": true,
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      },
      "notes": "w/ due date"
    },
    {
      "parameters": {
        "team": "14335650",
        "space": "56901433",
        "folderless": true,
        "list": "164286867",
        "name": "={{ $json.title }}",
        "additionalFields": {
          "content": "=# To-Do: \n{{ $json.body[5].Body }} "
        }
      },
      "id": "75b04376-caf2-4c09-8c43-4b5b56d76c9f",
      "name": "ClickUp-NoDueDate1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2420,
        940
      ],
      "notesInFlow": true,
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      },
      "notes": "w/o due date"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.dueDateTime }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "5e2b3c3d-e9bc-4c2b-b392-abf6f32189ab",
      "name": "Due-date set?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2100,
        860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body[7].LinkedResource_ApplicationName }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "248365fa-9446-46e1-9180-75bf3b92da5d",
      "name": "LinkedResource",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1820,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body[3].Due_Date }}",
              "operation": "contains",
              "value2": "null"
            }
          ]
        }
      },
      "id": "834c8692-ef6b-4e37-bcfc-25e199a37fb3",
      "name": "IsDueDateSet",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2100,
        520
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "taskListId": "AQMkAGJmZDg0Y2QyLWE5ZGItNGY3OC05MjIANC0zNDc3ATliMWFjZjgALgAAA4qo9h2K1ApHgMRJyB2ca5UBAAdImxVtwLlHjaP_23l_dPwAAAIBEgAAAA==",
        "taskId": "={{ $json.custom_fields[15].value }}",
        "updateFields": {
          "content": "=ClickUp URL: {{ $json.url }}",
          "status": "completed"
        }
      },
      "id": "41994fcc-18f2-4aef-969a-df12a9e6e9f2",
      "name": "Microsoft To Do",
      "type": "n8n-nodes-base.microsoftToDo",
      "typeVersion": 1,
      "position": [
        2660,
        440
      ],
      "credentials": {
        "microsoftToDoOAuth2Api": {
          "id": "O6IPgun0x91zKAe5",
          "name": "Microsoft To Do account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "taskListId": "AQMkAGJmZDg0Y2QyLWE5ZGItNGY3OC05MjIANC0zNDc3ATliMWFjZjgALgAAA4qo9h2K1ApHgMRJyB2ca5UBAAdImxVtwLlHjaP_23l_dPwAAAIBEgAAAA==",
        "taskId": "={{ $json.custom_fields[15].value }}",
        "updateFields": {
          "content": "=ClickUp URL: {{ $json.url }}",
          "status": "completed"
        }
      },
      "id": "ce9bef11-6175-47c0-89ec-0217e6039b7d",
      "name": "Microsoft To Do3",
      "type": "n8n-nodes-base.microsoftToDo",
      "typeVersion": 1,
      "position": [
        2660,
        780
      ],
      "credentials": {
        "microsoftToDoOAuth2Api": {
          "id": "O6IPgun0x91zKAe5",
          "name": "Microsoft To Do account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "taskListId": "AQMkAGJmZDg0Y2QyLWE5ZGItNGY3OC05MjIANC0zNDc3ATliMWFjZjgALgAAA4qo9h2K1ApHgMRJyB2ca5UBAAdImxVtwLlHjaP_23l_dPwAAAIBEgAAAA==",
        "taskId": "={{ $json.custom_fields[15].value }}",
        "updateFields": {
          "content": "=ClickUp URL: {{ $json.url }}",
          "status": "completed"
        }
      },
      "id": "18d53287-c2b8-4334-9a61-bed01dcdf012",
      "name": "Microsoft To Do4",
      "type": "n8n-nodes-base.microsoftToDo",
      "typeVersion": 1,
      "position": [
        2660,
        940
      ],
      "credentials": {
        "microsoftToDoOAuth2Api": {
          "id": "O6IPgun0x91zKAe5",
          "name": "Microsoft To Do account"
        }
      }
    },
    {
      "parameters": {
        "html": "={{ $json.body[11].LinkedResource_Body_HTML }}",
        "destinationKey": "LinkedResource_Body_MD",
        "options": {
          "keepDataImages": false,
          "maxConsecutiveNewlines": 1
        }
      },
      "id": "4c29fef1-71e7-4ead-8a35-846083a04e0e",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1600,
        700
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.hp-ne.us",
            "x-real-ip": "168.62.9.74",
            "x-forwarded-for": "168.62.9.74",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "connection": "close",
            "content-length": "10466",
            "accept-language": "en-US",
            "user-agent": "azure-logic-apps/1.0 (workflow 81f2ca28becf4bc19f4173f3c9536ce5; version 08584998738478939083) microsoft-flow/1.0",
            "x-ms-workflow-id": "81f2ca28becf4bc19f4173f3c9536ce5",
            "x-ms-workflow-version": "08584998738478939083",
            "x-ms-workflow-name": "2060674a-01b4-40dc-9b19-b17bca5b358d",
            "x-ms-workflow-system-id": "/locations/westus/scaleunits/prod-181/workflows/81f2ca28becf4bc19f4173f3c9536ce5",
            "x-ms-workflow-run-id": "08584998738210330145621126163CU109",
            "x-ms-workflow-run-tracking-id": "c608a6c7-eba9-4301-9b26-487a3b910711",
            "x-ms-workflow-operation-name": "HTTP",
            "x-ms-execution-location": "westus",
            "x-ms-workflow-subscription-id": "c44298d0-c055-4569-9fb2-6ab8693eb98a",
            "x-ms-workflow-resourcegroup-name": "0A0B09FEF7AD496F931D3A307603E062-DD3E9CBA43CE44DE8421B75EDD52F276",
            "x-ms-tracking-id": "ffc0f4ac-b84f-4b5e-b455-b7a52dfa3218",
            "x-ms-correlation-id": "ffc0f4ac-b84f-4b5e-b455-b7a52dfa3218",
            "x-ms-client-request-id": "ffc0f4ac-b84f-4b5e-b455-b7a52dfa3218",
            "x-ms-client-tracking-id": "08584998765507175997795033692CU123",
            "x-ms-action-tracking-id": "1bfd2e74-4dfc-422c-83fb-a9524c186932",
            "x-ms-client-keywords": "testFlow",
            "x-ms-activity-vector": "00.00.00.IN.0J.IN.0R.IN.0A",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json; charset=utf-8"
          },
          "params": {},
          "query": {},
          "body": [
            {
              "Task_ID": "AAMkAGJmZDg0Y2QyLWE5ZGItNGY3OC05MjI0LTM0Nzc3OWIxYWNmOABGAAAAAACKqPYditQKR4DEScgdnGuVBwAHSJsVbcC5R42j-tt5fnT8AAAAAAESAAAHSJsVbcC5R42j-tt5fnT8AAGIO99WAAA="
            },
            {
              "Title": "Andrew Miga: Epicor Installation: Education environment"
            },
            {
              "Status": "notStarted"
            },
            {
              "Due_Date": null
            },
            {
              "Importance": "normal"
            },
            {
              "Body": ""
            },
            {
              "LinkedResource_DisplayName": "RE: Epicor Installation: Education environment"
            },
            {
              "LinkedResource_ApplicationName": "Outlook"
            },
            {
              "LinkedResource_WebURL": "https://outlook.office365.com/owa/?ItemID=AAMkAGJmZDg0Y2QyLWE5ZGItNGY3OC05MjI0LTM0Nzc3OWIxYWNmOABGAAAAAACKqPYditQKR4DEScgdnGuVBwAHSJsVbcC5R42j%2Ftt5fnT8AAAAAAEMAAAHSJsVbcC5R42j%2Ftt5fnT8AAGHR%2BxuAAA%3D&exvsurl=1&viewmodel=ReadMessageItem"
            },
            {
              "LinkedResource_Body_Plaintext": "Hey Josh,\n\n \n\nI was out on vacation during that time. What do I need to do to have this\ninstalled?\n\n \n\nBest,\n\n \n\nAndrew Miga\n\nMechanical Design Engineer\n\nHigh Purity New England | HP-NE.com\n\n2 Thurber Blvd, Smithfield, RI 02917\n\nE: Andrew.Migahp-ne.com [mds@hp-ne.com] | O: 401.349.4477\n\nISO 9001:2015 Certification 157603-2014-AQ-USA-ANAB\n\n \n\nsignature_70785060 [cid:image001.png@01DA26C5.9C735D70]\n[https://www.linkedin.com/company/high-purity-new-england]  signature_1576473685\n[cid:image002.png@01DA26C5.9C735D70]\n[https://twitter.com/HighPurityNE?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor]  signature_3251001740\n[cid:image003.png@01DA26C5.9C735D70] [https://www.facebook.com/HighPurityNE/]\n\n \n\nFrom: Joshua Wowk <Joshua.Wowk@hp-ne.com>\nSent: Monday, November 27, 2023 4:29 PM\nCc: IT <IT@hp-ne.com>\nSubject: Epicor Installation: Education environment\n\n \n\nGood afternoon, as you probably know, we're in the process of deploying Epicor\nclients to all HPNE devices.  Your device has been identified as one of a number\nthat require some manual steps to complete the installation. You have a couple\noptions for how we go about this, they're listed below. I will also need your\nWindows password prior to connecting to your computer, or I can just reset it if\nthat is preferable. If none is received, we'll just reset it for you.\n\n 1. Leave your computer in the office and powered on for the night tonight\n    (11-27-2023) or tomorrow night (11-28-2023) and shoot me an email to let me\n    know.\n    Alternatively, you can use the link below to select the earliest timeslot\n    that will work for you during business hours. \n\n \n\nClick here to pick a time slot.\n[https://outlook.office.com/bookwithme/user/bfd84cd2a9db4f789224347779b1acf8@hp-ne.com/meetingtype/pHiXmDbtzEKEjyxH61gfPQ2?anonymous&ep=mLinkFromTile]\n\n \n\nThank you!\n\n \n\nJoshua J. Wowk \n\nSYSTEMS ADMINISTRATOR \n\nHIGH PURITY NEW ENGLAND | HP-NE.COM \n\n2 THURBER BLVD. SMITHFIELD, RI 02917 \n\n401-349-5153 | Joshua.Wowk@HP-NE.com"
            },
            {
              "LinkedResource_Sender": "Andrew.Miga@hp-ne.com"
            },
            {
              "LinkedResource_Body_HTML": "<html><head>\r\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"><meta name=\"Generator\" content=\"Microsoft Word 15 (filtered medium)\"><style>\r\n<!--\r\n@font-face\r\n\t{font-family:\"Cambria Math\"}\r\n@font-face\r\n\t{font-family:Calibri}\r\n@font-face\r\n\t{font-family:\"Calibri Light\"}\r\n@font-face\r\n\t{font-family:\"Segoe UI Variable Display\"}\r\np.MsoNormal, li.MsoNormal, div.MsoNormal\r\n\t{margin:0in;\r\n\tfont-size:11.0pt;\r\n\tfont-family:\"Calibri\",sans-serif}\r\na:link, span.MsoHyperlink\r\n\t{color:blue;\r\n\ttext-decoration:underline}\r\nspan.EmailStyle20\r\n\t{font-family:\"Calibri\",sans-serif;\r\n\tcolor:windowtext}\r\n.MsoChpDefault\r\n\t{font-size:10.0pt}\r\n@page WordSection1\r\n\t{margin:1.0in 1.0in 1.0in 1.0in}\r\ndiv.WordSection1\r\n\t{}\r\nol\r\n\t{margin-bottom:0in}\r\nul\r\n\t{margin-bottom:0in}\r\n-->\r\n</style></head><body lang=\"EN-US\" link=\"blue\" vlink=\"purple\" style=\"word-wrap:break-word\"><div class=\"WordSection1\"><p class=\"MsoNormal\">Hey Josh,</p><p class=\"MsoNormal\">&nbsp;</p><p class=\"MsoNormal\">I was out on vacation during that time. What do I need to do to have this installed?</p><p class=\"MsoNormal\">&nbsp;</p><p class=\"MsoNormal\">Best,</p><p class=\"MsoNormal\">&nbsp;</p><div><p class=\"MsoNormal\"><b><span style=\"color:black\">Andrew Miga</span></b><span style=\"color:black\"></span></p><p class=\"MsoNormal\"><i><span style=\"color:#ED7D31\">Mechanical Design Engineer</span></i><span style=\"color:black\"></span></p><p class=\"MsoNormal\"><b><span style=\"color:#ED7D31\">High Purity New England | HP-NE.com</span></b><span style=\"\"></span></p><p class=\"MsoNormal\"><i><span style=\"color:black\">2 Thurber Blvd, Smithfield, RI 02917</span></i><span style=\"\"></span></p><p class=\"MsoNormal\"><span style=\"color:black\">E:&nbsp;</span><span style=\"\"><a href=\"mailto:mds@hp-ne.com\">Andrew.Migahp-ne.com</a> | <span style=\"color:black\">O: 401.349.4477</span></span></p><p class=\"MsoNormal\"><b><u><span lang=\"ES\" style=\"color:#ED7D31\">ISO 9001:2015&nbsp;Certification&nbsp;157603-2014-AQ-USA-ANAB</span></u></b><span lang=\"ES\" style=\"\"></span></p><p class=\"MsoNormal\"><span lang=\"ES\" style=\"font-size:5.0pt\">&nbsp;</span></p><p class=\"MsoNormal\"><a href=\"https://www.linkedin.com/company/high-purity-new-england\"><span style=\"color:windowtext; text-decoration:none\"><img border=\"0\" width=\"27\" height=\"27\" id=\"Picture_x0020_1\" src=\"cid:image001.png@01DA26C5.9C735D70\" alt=\"signature_70785060\" style=\"width:.2777in; height:.2777in\"></span></a><span lang=\"ES\" style=\"\">&nbsp; </span><a href=\"https://twitter.com/HighPurityNE?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor\" title=\"https://twitter.com/HighPurityNE?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor\"><b><span lang=\"ES\" style=\"font-size:10.0pt; color:#0563C1; text-decoration:none\"><img border=\"0\" width=\"27\" height=\"27\" id=\"Picture_x0020_5\" src=\"cid:image002.png@01DA26C5.9C735D70\" alt=\"signature_1576473685\" style=\"width:.2777in; height:.2777in\"></span></b></a><span lang=\"ES\" style=\"\">&nbsp;&nbsp;</span><a href=\"https://www.facebook.com/HighPurityNE/\"><span style=\"color:windowtext; text-decoration:none\"><img border=\"0\" width=\"27\" height=\"27\" id=\"Picture_x0020_3\" src=\"cid:image003.png@01DA26C5.9C735D70\" alt=\"signature_3251001740\" style=\"width:.2777in; height:.2777in\"></span></a><span lang=\"ES\" style=\"\"></span></p></div><p class=\"MsoNormal\">&nbsp;</p><div><div style=\"border:none; border-top:solid #E1E1E1 1.0pt; padding:3.0pt 0in 0in 0in\"><p class=\"MsoNormal\"><b>From:</b> Joshua Wowk &lt;Joshua.Wowk@hp-ne.com&gt; <br><b>Sent:</b> Monday, November 27, 2023 4:29 PM<br><b>Cc:</b> IT &lt;IT@hp-ne.com&gt;<br><b>Subject:</b> Epicor Installation: Education environment</p></div></div><p class=\"MsoNormal\">&nbsp;</p><div><p class=\"MsoNormal\" style=\"margin-bottom:12.0pt\"><span style=\"font-size:10.0pt; font-family:&quot;Segoe UI Variable Display&quot;; color:black\">Good afternoon, as you probably know, we're in the process of deploying Epicor clients to all HPNE devices.&nbsp; Your device has been identified as one of a number that require some manual steps to complete the installation. You have a couple options for how we go about this, they're listed below. <span style=\"background:white\">I will also need your Windows password prior to connecting to your computer, or I can just reset it if that is preferable. If none is received, we'll just reset it for you.</span></span></p></div><ol start=\"1\" type=\"1\"><li class=\"MsoNormal\" style=\"color:black\"><span style=\"font-size:10.0pt; font-family:&quot;Segoe UI Variable Display&quot;\">Leave your computer in the office and powered on for the night tonight (11-27-2023) or tomorrow night (11-28-2023) and shoot me an email to let me know.</span></li><div><li class=\"MsoNormal\" style=\"color:black\"><span style=\"font-size:10.0pt; font-family:&quot;Segoe UI Variable Display&quot;\">Alternatively, you can use the link below to select the earliest timeslot that will work for you during business&nbsp;hours.&nbsp;</span></li></div></ol><div><p class=\"MsoNormal\"><span style=\"font-size:10.0pt; font-family:&quot;Segoe UI Variable Display&quot;; color:black\">&nbsp;</span></p></div><div><p class=\"MsoNormal\"><b><span style=\"font-size:12.0pt; font-family:&quot;Segoe UI Variable Display&quot;; color:black\"><a href=\"https://outlook.office.com/bookwithme/user/bfd84cd2a9db4f789224347779b1acf8@hp-ne.com/meetingtype/pHiXmDbtzEKEjyxH61gfPQ2?anonymous&amp;ep=mLinkFromTile\" title=\"https://outlook.office.com/bookwithme/user/bfd84cd2a9db4f789224347779b1acf8@hp-ne.com/meetingtype/pHiXmDbtzEKEjyxH61gfPQ2?anonymous&amp;ep=mLinkFromTile\">Click here to pick a time slot.</a></span></b><span style=\"font-size:10.0pt; font-family:&quot;Segoe UI Variable Display&quot;; color:black\"></span></p></div><div><p class=\"MsoNormal\"><span style=\"font-size:10.0pt; font-family:&quot;Segoe UI Variable Display&quot;; color:black\">&nbsp;</span></p></div><div><p class=\"MsoNormal\"><span style=\"font-size:10.0pt; font-family:&quot;Segoe UI Variable Display&quot;; color:black; background:white\">Thank you!</span></p></div><div><p class=\"MsoNormal\">&nbsp;</p></div><div id=\"Signature\"><p style=\"background:white\"><b><span style=\"font-size:13.0pt; color:#DE6A19; letter-spacing:.1pt\">Joshua J. Wowk</span></b><span style=\"font-size:13.0pt; color:#DE6A19\">&nbsp;</span></p><p style=\"line-height:11.0pt; background:white\"><span style=\"font-size:10.0pt; font-family:&quot;Calibri Light&quot;,sans-serif; color:black\">SYSTEMS ADMINISTRATOR</span><span style=\"font-family:&quot;Calibri Light&quot;,sans-serif; color:black\">&nbsp;</span></p><p style=\"line-height:11.0pt; background:white\"><b><span style=\"color:#DE6A19; letter-spacing:-.2pt\">HIGH PURITY NEW ENGLAND&nbsp;| HP-NE.COM</span></b><span style=\"font-size:10.0pt; color:#DE6A19; letter-spacing:-.2pt\">&nbsp;</span></p><p style=\"line-height:11.0pt; background:white\"><span style=\"font-size:10.0pt; font-family:&quot;Calibri Light&quot;,sans-serif; color:black\">2 THURBER BLVD. SMITHFIELD, RI 02917&nbsp;</span></p><p style=\"line-height:11.0pt; background:white\"><b><span style=\"color:#DE6A19; letter-spacing:-.2pt\">401-349-5153&nbsp;| </span><span style=\"color:#DE6A19; letter-spacing:.1pt\"><a href=\"mailto:Joshua.Wowk@HP-NE.com\">Joshua.Wowk@HP-NE.com</a></span></b></p></div></div></body></html>"
            }
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-12-04T23:43:52.000Z",
  "versionId": "6aca03d7-0f4e-4497-a6ef-f7322ea0dc74"
}