workflows/ToDo > PwrAuto > ClickUp.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Microsoft To Do",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft To Do": {
      "main": [
        [
          {
            "node": "LinkedResource",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp-DueDate": {
      "main": [
        [
          {
            "node": "Microsoft To Do2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp-NoDueDate": {
      "main": [
        [
          {
            "node": "Microsoft To Do2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Due-date set?1": {
      "main": [
        [
          {
            "node": "ClickUp-DueDate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ClickUp-NoDueDate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp-DueDate1": {
      "main": [
        [
          {
            "node": "Microsoft To Do2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp-NoDueDate1": {
      "main": [
        [
          {
            "node": "Microsoft To Do2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedResource": {
      "main": [
        [
          {
            "node": "IsDueDateSet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Due-date set?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsDueDateSet": {
      "main": [
        [
          {
            "node": "ClickUp-DueDate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ClickUp-NoDueDate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-26T19:29:32.527Z",
  "id": "jj2auAJeO0WtWSQt",
  "name": "ToDo > PwrAuto > ClickUp",
  "nodes": [
    {
      "parameters": {
        "taskListId": "AQMkAGJmZDg0Y2QyLWE5ZGItNGY3OC05MjIANC0zNDc3ATliMWFjZjgALgAAA4qo9h2K1ApHgMRJyB2ca5UBAAdImxVtwLlHjaP_23l_dPwAAAIBEgAAAA==",
        "taskId": "={{ $json.body[0].Task_ID }}"
      },
      "id": "3105a0f3-930b-4d6f-99ef-31b0d6c82f32",
      "name": "Microsoft To Do",
      "type": "n8n-nodes-base.microsoftToDo",
      "typeVersion": 1,
      "position": [
        1360,
        700
      ],
      "credentials": {
        "microsoftToDoOAuth2Api": {
          "id": "O6IPgun0x91zKAe5",
          "name": "Microsoft To Do account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b1553754-7754-43ff-b655-ca06ecaffed2",
        "options": {
          "noResponseBody": false
        }
      },
      "id": "f175a08a-c4b2-47cc-b4e7-732cf934c8dd",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1140,
        700
      ],
      "webhookId": "b1553754-7754-43ff-b655-ca06ecaffed2"
    },
    {
      "parameters": {
        "team": "14335650",
        "space": "56901433",
        "folder": "90110187278",
        "list": "164286867",
        "name": "={{ $json.title }}",
        "additionalFields": {
          "content": "={{ $json.body.content }}",
          "dueDate": "={{ $json.dueDateTime }}"
        }
      },
      "id": "dbb275e3-7f1f-4d30-99ac-2c55c0579122",
      "name": "ClickUp-DueDate",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2200,
        440
      ],
      "notesInFlow": true,
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      },
      "notes": "w/ due date"
    },
    {
      "parameters": {
        "team": "14335650",
        "space": "56901433",
        "folder": "90110187278",
        "list": "164286867",
        "name": "={{$node[\"IsDueDateSet\"].json[\"title\"] }}",
        "additionalFields": {
          "content": "=Email: {{ $json.bodyPreview }} \n ||  \n To-Do: {{ $node[\"IsDueDateSet\"].json.body.content }} "
        }
      },
      "id": "f4f9b28f-c9d0-4a1a-a5ee-a8a45b35d99a",
      "name": "ClickUp-NoDueDate",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2200,
        600
      ],
      "notesInFlow": true,
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      },
      "notes": "w/o due date"
    },
    {
      "parameters": {
        "operation": "update",
        "taskListId": "AQMkAGJmZDg0Y2QyLWE5ZGItNGY3OC05MjIANC0zNDc3ATliMWFjZjgALgAAA4qo9h2K1ApHgMRJyB2ca5UBAAdImxVtwLlHjaP_23l_dPwAAAIBEgAAAA==",
        "taskId": "={{ $('Microsoft To Do').item.json.id }}",
        "updateFields": {
          "content": "=ClickUp URL: {{ $json.url }}",
          "status": "completed"
        }
      },
      "id": "f37e9918-b438-4f80-be40-d969c0f1efd5",
      "name": "Microsoft To Do2",
      "type": "n8n-nodes-base.microsoftToDo",
      "typeVersion": 1,
      "position": [
        2620,
        700
      ],
      "credentials": {
        "microsoftToDoOAuth2Api": {
          "id": "O6IPgun0x91zKAe5",
          "name": "Microsoft To Do account"
        }
      }
    },
    {
      "parameters": {
        "team": "14335650",
        "space": "56901433",
        "folderless": true,
        "list": "164286867",
        "name": "={{ $json.title }}",
        "additionalFields": {
          "content": "={{ $json.body.content }}",
          "dueDate": "={{ $json.dueDateTime }}"
        }
      },
      "id": "8e9390d3-0874-4079-8afd-f1cf54bbe1d7",
      "name": "ClickUp-DueDate1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2200,
        780
      ],
      "notesInFlow": true,
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      },
      "notes": "w/ due date"
    },
    {
      "parameters": {
        "team": "14335650",
        "space": "56901433",
        "folderless": true,
        "list": "164286867",
        "name": "={{ $json.title }}",
        "additionalFields": {
          "content": "={{ $json.body.content }}"
        }
      },
      "id": "75b04376-caf2-4c09-8c43-4b5b56d76c9f",
      "name": "ClickUp-NoDueDate1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2200,
        940
      ],
      "notesInFlow": true,
      "credentials": {
        "clickUpApi": {
          "id": "1",
          "name": "ClickUp account"
        }
      },
      "notes": "w/o due date"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.dueDateTime }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "5e2b3c3d-e9bc-4c2b-b392-abf6f32189ab",
      "name": "Due-date set?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1880,
        860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.linkedResources[0].webUrl }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "248365fa-9446-46e1-9180-75bf3b92da5d",
      "name": "LinkedResource",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1600,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.dueDateTime }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "834c8692-ef6b-4e37-bcfc-25e199a37fb3",
      "name": "IsDueDateSet",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1880,
        520
      ]
    }
  ],
  "pinData": {
    "Microsoft To Do": [
      {
        "json": {
          "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#users('dd3e9cba-43ce-44de-8421-b75edd52f276')/todo/lists('AQMkAGJmZDg0Y2QyLWE5ZGItNGY3OC05MjIANC0zNDc3ATliMWFjZjgALgAAA4qo9h2K1ApHgMRJyB2ca5UBAAdImxVtwLlHjaP_23l_dPwAAAIBEgAAAA%3D%3D')/tasks/$entity",
          "@odata.etag": "W/\"B0ibFW3AuUeNo/7beX50/AABONDQZg==\"",
          "importance": "normal",
          "isReminderOn": false,
          "status": "notStarted",
          "title": "DMReSig Group in LIVE",
          "createdDateTime": "2023-08-10T12:25:54.8739711Z",
          "lastModifiedDateTime": "2023-08-10T12:25:54.97004Z",
          "hasAttachments": false,
          "categories": [],
          "id": "AAMkAGJmZDg0Y2QyLWE5ZGItNGY3OC05MjI0LTM0Nzc3OWIxYWNmOABGAAAAAACKqPYditQKR4DEScgdnGuVBwAHSJsVbcC5R42j-tt5fnT8AAAAAAESAAAHSJsVbcC5R42j-tt5fnT8AAE6nlcjAAA=",
          "body": {
            "content": "",
            "contentType": "text"
          },
          "linkedResources@odata.context": "https://graph.microsoft.com/v1.0/$metadata#users('dd3e9cba-43ce-44de-8421-b75edd52f276')/todo/lists('AQMkAGJmZDg0Y2QyLWE5ZGItNGY3OC05MjIANC0zNDc3ATliMWFjZjgALgAAA4qo9h2K1ApHgMRJyB2ca5UBAAdImxVtwLlHjaP_23l_dPwAAAIBEgAAAA%3D%3D')/tasks('AAMkAGJmZDg0Y2QyLWE5ZGItNGY3OC05MjI0LTM0Nzc3OWIxYWNmOABGAAAAAACKqPYditQKR4DEScgdnGuVBwAHSJsVbcC5R42j-tt5fnT8AAAAAAESAAAHSJsVbcC5R42j-tt5fnT8AAE6nlcjAAA%3D')/linkedResources",
          "linkedResources": [
            {
              "webUrl": "https://outlook.office365.com/owa/?ItemID=AAMkAGJmZDg0Y2QyLWE5ZGItNGY3OC05MjI0LTM0Nzc3OWIxYWNmOABGAAAAAACKqPYditQKR4DEScgdnGuVBwAHSJsVbcC5R42j%2Ftt5fnT8AAAAAAEMAAAHSJsVbcC5R42j%2Ftt5fnT8AAE6nTWeAAA%3D&exvsurl=1&viewmodel=ReadMessageItem",
              "applicationName": "Outlook",
              "displayName": "Re: DMReSig Group in LIVE",
              "externalId": "AAkALgAAAAAAHYQDEapmEc2byACqAC-EWg0AB0ibFW3AuUeNo-7beX50-AABOp5MfQAA",
              "id": "0009a238-4674-425d-90d9-cdb7e75d5d77"
            }
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-08-12T22:00:20.000Z",
  "versionId": "1710fbc5-14b1-4c98-b953-059f64030c34"
}